<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7923af79-7921-4150-ba76-6dae611e40e1" Alias="Approved Colors Jalles TC" Level="2">
  <Info>
    <Name>Approved Colors Jalles TC</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "{\"value\":\"fafaec\",\"label\":\"fafaec\"}"
    },
    {
      "id": 2,
      "value": "{\"value\":\"fff8ad\",\"label\":\"fff8ad\"}"
    },
    {
      "id": 3,
      "value": "{\"value\":\"ffeb19\",\"label\":\"ffeb19\"}"
    },
    {
      "id": 6,
      "value": "{\"value\":\"8a817c\",\"label\":\"8a817c\"}"
    },
    {
      "id": 4,
      "value": "{\"value\":\"463f3a\",\"label\":\"463f3a\"}"
    },
    {
      "id": 5,
      "value": "{\"value\":\"1e2022\",\"label\":\"1e2022\"}"
    }
  ],
  "UseLabel": false
}]]></Config>
</DataType>