<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f75ac0f-465e-421a-b0e4-a123e6c75501" Alias="Excel - File upload" Level="2">
  <Info>
    <Name>Excel - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "FileExtensions": [
    {
      "id": 0,
      "value": ".xlsx"
    },
    {
      "id": 0,
      "value": ".xls"
    }
  ]
}]]></Config>
</DataType>