<?xml version="1.0" encoding="utf-8"?>
<DataType Key="028af383-1356-4188-8011-afe77c3da39e" Alias="Main Menu Properties - Main Menu - [Contentment] Data List" Level="2">
  <Info>
    <Name>Main Menu Properties - Main Menu - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/7413c529925243e8acb82d78ff492a94"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "small"
        ],
        "listType": "grid",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 0,
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>