<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18a41c01-a221-4c0f-9cd2-85b3590a4136" Alias="Pin This Block - Multinode Treepicker" Level="2">
  <Info>
    <Name>Pin This Block - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": "contentPage",
  "IgnoreUserStartNodes": false,
  "MaxNumber": 3,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>