.listing-page {
  padding: $spacing-vertical-medium $side-margins;

  .main-content-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-standard;


    h2 {
      margin: 0;
    }

    .listings {
      display: flex;
      flex-direction: column;
      gap: $spacing-standard;
      margin: 0;
      padding: 0;

      .listing {
        position: relative;
        display: flex;
        align-items: flex-end;
        min-height: 270px;

        .media {
          @include fill-by-absolute-position;
          @include darken-with-rounded-borders-by-absolute-fill;
          border-radius: $border-radius;
        }

        .content {
          padding: $puff-padding;
          width: 100%;
          z-index: 0;

          .content-container {
            @include button-on-dark-background;

            h3 {
              margin: 0;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .listing-page {
    padding: $spacing-vertical-medium-desktop $side-margins-desktop;

    .main-content-container {
      @include desktop-container-content;
      @include desktop-container-grid;
      gap: $spacing-standard;


      h2 {
        grid-row: 1;
        grid-column: 3 / 11;
      }

      .listing-page-form {
        grid-row: 2;
        grid-column: 3 / 11;
      }

      .listings {
        grid-row: 3;
        grid-column: 3 / 11;
        width: 100%;
      }
    }
  }
}
