.content-block {
  padding: $spacing-vertical-large $side-margins;

  &.color-off-white, &.color-jalles-yellow, &.color-vanilla, &.color-battleship-gray {
    .content-container {
      .content {
        .cta-block {
          a {
            @include button-on-light-background;

            &:not(:first-child) {
              @include button-secondary-on-light-background;
            }
          }
        }
      }
    }
  }

  &.color-jalles-yellow {
    background-color: $color-jalles-yellow;
  }

  &.color-off-white {
    background-color: $color-off-white;
  }

  &.color-vanilla {
    background-color: $color-vanilla;
  }

  &.color-taupe {
    background-color: $color-taupe;
  }

  &.color-battleship-gray {
    background-color: $color-battleship-gray;
  }

  &.color-black {
    background-color: $color-black;
  }

  &.color-taupe, &.color-black {
    .content-container {
      .content {
        h2, p {
          color: $color-white;
        }
      }
    }
  }

  .content-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-vertical-medium;

    .media-container {
      .media {
        height: 15rem;

        img, video {
          border-radius: $border-radius;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      gap: $spacing-large;

      h2, p {
        margin: 0;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .content-block {
    padding: $spacing-vertical-large-desktop $side-margins-desktop;

    .content-container {
      @include desktop-container-content;
      @include desktop-container-grid;

      .media-container {
        grid-column: 3 / 7;

        .media {
          height: 30rem;
        }
      }

      .content {
        display: grid;
        align-content: center;
        grid-column: 7 / 11;

        margin-left: $spacing-two-column-layout-desktop;
      }

      &.right {
        .media-container {
          grid-column: 7 / 11;
          grid-row: 1;
        }

        .content {
          grid-column: 3 / 7;
          grid-row: 1;

          margin-left: 0;
          margin-right: $spacing-two-column-layout-desktop;
        }
      }
    }
  }
}
