footer {
  padding: $spacing-vertical-medium $side-margins;

  border-top: 2rem solid $color-jalles-yellow;

  text-align: center;

  background-color: $color-black;
  color: $color-oat-milk;

  .startpage-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $spacing-small;

    font-size: 1.5rem;
    font-weight: $font-weight-bold;
    text-decoration: none;
    text-transform: uppercase;

    color: $color-oat-milk;

    img.logo {
      height: 4rem;
      width: auto;
    }
  }

  p {
    max-width: $text-max-width;
    margin: $spacing-standard auto $spacing-vertical-large;

    line-height: $font-line-height;
  }

  span {
    font-size: $font-size-small;

    color: $color-granola;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: $spacing-large;

    padding: $spacing-vertical-small;

    .umemaran {
      display: flex;
      flex-direction: column;
      gap: $spacing-small;

      margin: 0;
      padding: 0;

      list-style: none;

      h2 {
        margin: 0;

        font-size: $font-size;
        color: $color-oat-milk;
      }

      img {
        width: 8rem;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  footer {
    padding: $spacing-vertical-medium-desktop $side-margins-desktop;

    .content {
      @include desktop-container-content;

      align-items: center;

      .umemaran {
        flex-direction: row;
        align-items: center;

        gap: $spacing-large;
      }
    }
  }
}
