.highlight-listing-block {
  padding: $spacing-vertical-medium $side-margins;

  &.color-jalles-yellow {
    background-color: $color-jalles-yellow;
  }

  &.color-pine {
    background-color: $color-pine;
  }

  &.color-mossy-rock {
    background-color: $color-mossy-rock;
  }

  &.color-granola {
    background-color: $color-granola;
  }

  &.color-oat-milk {
    background-color: $color-oat-milk;
  }

  &.color-black {
    background-color: $color-black;
  }

  &.color-pine, &.color-mossy-rock, &.color-black {
    h2 {
      color: $color-oat-milk;
    }
  }

  h2 {
    margin: 0;
  }

  .listing-container {
    display: flex;
    flex-direction: column;
    gap: $spacing-standard;

    .highlight {
      display: flex;
      flex-direction: column;
      overflow: hidden;

      text-decoration: none;

      background-color: $color-black;
      border-radius: $border-radius;

      @include card-hover;

      .media {
        height: 14rem;
      }

      .content {
        flex: 1;
        padding: $puff-padding;

        border-left: 0.3rem solid $color-jalles-yellow;

        .content-container {
          h3 {
            margin: 0;

            font-weight: $font-weight-bold;
            color: $color-oat-milk;
          }

          span {
            font-size: $font-size-small;
            color: $color-granola;

            &:after {
              display: inline-block;
              margin-left: $spacing-small;

              content: '\276F';
            }
          }
        }
      }

      &:hover .content-container span:after {
        @media (prefers-reduced-motion: no-preference) {
          animation: arrow-animation 0.45s $animation-bounce-timing;
        }
      }
    }
  }

  &.color-jalles-yellow .listing-container .highlight .content {
    border-left-color: $color-mossy-rock;
  }

  &.color-black .listing-container .highlight {
    background-color: $color-oat-milk;

    .content .content-container {
      h3 {
        color: $color-black;
      }

      span {
        color: $color-mossy-rock;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .highlight-listing-block {
    padding: $spacing-vertical-medium-desktop $side-margins-desktop;

    .listing-container {
      @include desktop-container-content;
      @include desktop-container-grid;
      gap: $spacing-large;

      h2 {
        grid-row: 1;
        grid-column: 3 / 11;
      }

      .highlight {
        .media {
          height: 16rem;
        }

        .content {
          padding: $puff-padding-desktop;
        }
      }

      &.single-highlight {
        .highlight {
          grid-column: 3 / 11;

          .media {
            height: 20rem;
          }
        }
      }

      &.double-highlight {
        .highlight {
          &:nth-of-type(1) {
            grid-column: 3 / 7;
          }

          &:nth-of-type(2) {
            grid-column: 7 / 11;
          }
        }
      }

      &:not(.single-highlight, .double-highlight) {
        .highlight {
          &:nth-of-type(1) {
            grid-column: 3 / 8;
            grid-row: 2 / 4;

            height: 100%;

            .media {
              flex: 1;
              min-height: 0;
            }

            .content {
              flex: none;

              h3 {
                font-size: $font-size-heading-medium;
              }
            }
          }

          &:nth-of-type(2) {
            grid-column: 8 / 11;
            grid-row: 2;
          }

          &:nth-of-type(3) {
            grid-column: 8 / 11;
            grid-row: 3;
          }
        }
      }
    }
  }
}
