.menu-container {
  position: fixed;
  top: $spacing-standard;
  right: 0;
  left: 0;
  z-index: $z-index-main-menu;
  width: 100%;

  a {
    color: $color-off-white;
    text-decoration: none;
  }

  .menu {
    margin: $spacing-standard;
    padding: $spacing-small $side-margins $spacing-small;
    border-radius: $border-radius;
    background-color: $color-taupe;
    color: $color-off-white;

    .open-menu-button {
      display: flex;
      align-items: center;
      width: 100%;
      color: $color-off-white;
      font-size: 1.5rem;
    }

    .menu-items {
      display: none;
      padding: 0;
      padding-top: $spacing-standard;
      margin: 0;
      width: 100%;
      list-style: none;
      color: $color-off-white;

      li {
        margin-bottom: $spacing-standard;

        a {
          background-color: transparent;
          border-radius: $border-radius-small;

          &.current {
            background-color: $active-link-bg-color;
          }

          &:not(.facebook) {
            padding: 0.5rem 1rem;
          }
        }

        .facebook {
          img {
            padding-left: 1rem;
            height: 2rem;
          }
        }
      }

      &.show {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .menu-container {
    display: flex;
    justify-content: center;
    padding: 1rem $side-margins-desktop;
    width: 100%;
    font-size: $font-size-small-desktop;

    .menu {
      @include desktop-container-content;

      .open-menu-button {
        display: none;
      }

      .menu-items {
        display: flex;
        gap: $spacing-large;
        padding: 0;
        margin: 0;

        li {
          margin: auto;

          .facebook {
            img {
              padding-left: 0;
              padding-top: 6px;
            }
          }
        }

        &.show {
          display: flex;
        }
      }
    }
  }
}
