.pin-this-block {
  padding-bottom: 2rem;

  .wrapper {
    .listing-container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: $spacing-small;

      .pin {
        @include button-on-light-background;

        padding: $spacing-small $spacing-standard;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .pin-this-block {
    .wrapper {
      @include desktop-container-grid;
      @include desktop-container-content;

      .listing-container {
        grid-column: 3 / 11;
      }
    }
  }
}
