.site-search-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-search-modal;

  display: none;
  flex-direction: column;
  gap: $spacing-large;

  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  padding: $spacing-large $side-margins;

  background-color: $color-black;
  color: $color-oat-milk;
  border: none;

  overflow: hidden;

  &[open] {
    display: flex;
  }

  a {
    color: $color-oat-milk;
  }

  .heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2 {
      margin: 0;

      color: $color-oat-milk;
    }

    .close-search {
      padding: $spacing-small;

      font-size: $font-size-large;

      color: $color-oat-milk;
    }
  }

  .input-container {
    label {
      position: absolute;

      width: 1px;
      height: 1px;

      overflow: hidden;
      clip-path: inset(50%);
      white-space: nowrap;
    }

    input[type="search"] {
      width: 100%;
      padding: $spacing-small $spacing-standard;

      font-size: $font-size;
      font-family: $font-family;

      background-color: rgba($color-oat-milk, 0);
      color: $color-oat-milk;
      border: 2px solid $color-oat-milk;
      border-radius: $border-radius-small;
      outline: none;

      &::placeholder {
        color: $color-mossy-rock;
      }

      &:focus {
        border-color: $color-jalles-yellow;
      }
    }
  }

  .search-results-container {
    position: relative;

    display: flex;
    flex-direction: column;
    flex: 1;

    overflow: hidden;

    &.loading:after {
      content: '';
      position: absolute;
      inset: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      background-color: rgba($color-black, 0.6);
    }

    > span {
      display: block;

      margin-bottom: $spacing-standard;

      color: $color-oat-milk;
    }

    .search-results-list {
      display: flex;
      flex-direction: column;
      flex: 1;
      gap: $spacing-standard;

      margin: 0;
      padding: 0;

      list-style: none;

      overflow-y: auto;

      @include custom-scrollbar;

      li {
        a {
          display: block;

          text-decoration: none;

          hgroup {
            display: flex;
            flex-direction: column;
            gap: $spacing-small;

            padding: $spacing-standard;

            border: 2px solid rgba($color-oat-milk, 0.3);
            border-radius: $border-radius-small;
            background-color: rgba($color-oat-milk, 0);

            transition: border-color 0.2s ease, background-color 0.2s ease;

            &:hover {
              background-color: rgba($color-jalles-yellow, 0.1);

              border-color: $color-jalles-yellow;
            }

            span {
              font-size: $font-size-small;

              color: $color-jalles-yellow;
            }

            h3 {
              margin: 0;

              font-size: $font-size;

              color: $color-oat-milk;
            }

            time {
              font-size: $font-size-small;

              color: $color-mossy-rock;
            }

            p {
              margin: 0;

              font-size: $font-size-small;
              line-height: $font-line-height;

              color: $color-oat-milk;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .site-search-overlay {
    padding: $spacing-large $side-margins-desktop;

    .heading-container {
      width: 100%;
      max-width: $text-max-width-large;
      margin-right: auto;
      margin-left: auto;
    }

    .input-container {
      width: 100%;
      max-width: $text-max-width-large;
      margin-right: auto;
      margin-left: auto;
    }

    .search-results-container {
      width: 100%;
      max-width: $text-max-width-large;
      margin-right: auto;
      margin-left: auto;
    }
  }
}
