<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba75725-7b60-4324-9605-7d625c2d74f1" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:29</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/dc320317df40491fa05e807598dc64e7"
      },
      {
        "contentUdi": "umb://element/f250dbf972244bae951bb64a1c707bd1"
      },
      {
        "contentUdi": "umb://element/6775dd8541ab43aea6f51fe99aef33d9"
      },
      {
        "contentUdi": "umb://element/d4db31768f514331b29306f104bccf62"
      },
      {
        "contentUdi": "umb://element/cc12a1f25ec049afa6670bbf2ba70726"
      },
      {
        "contentUdi": "umb://element/fd05269e2da841ef9fc2f0317689c035"
      },
      {
        "contentUdi": "umb://element/e526bdf3315149a6beabde35739aae54"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "udi": "umb://element/f250dbf972244bae951bb64a1c707bd1",
      "heading": "Swoop",
      "text": "<h2>woop</h2>\n<h3>woop</h3>\n<h4>woop</h4>\n<blockquote>woop</blockquote>\n<p>sdfsdf</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod aliquam est scelerisque eleifend. Aliquam ornare condimentum interdum. Etiam ligula turpis, laoreet sed enim eget, varius molestie felis. Pellentesque nec ipsum et lacus ultricies faucibus. Sed purus orci, vestibulum at vulputate eu, finibus a ante. Aenean lobortis urna ipsum, in posuere metus lacinia ac.</p>\n<p> <img src=\"?rmode=max&amp;width=500\" alt=\"\" width=\"500\" height=\"296\" data-udi=\"umb://media/e5f35e37f9d2402a9c4c65e7239502cc\"></p>\n<p> </p>\n<figure><img src=\"?rmode=max&amp;height=500\" alt=\"woop\" width=\"386\" height=\"500\" data-udi=\"umb://media/0d61932d1736441eb49ecdb3f56c9130\" data-caption=\"woop\">\n<figcaption>woop</figcaption>\n</figure>"
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "udi": "umb://element/d4db31768f514331b29306f104bccf62",
      "heading": "Resultat Umemaran 21 km",
      "text": "<h3>UMEMARAN 2022, Halvmarathon 21,1 km<br>Herrar First name Last name Team name Startnr Bib Final Result Pace</h3>\n<ol>\n<li>Göran Jonsson IFK Umeå 19 1110 01:14:35.82 03:32 /km</li>\n<li>adfgadg</li>\n<li>adfg</li>\n<li>adfg</li>\n<li>adfg</li>\n<li>adfg</li>\n<li>adfgadf</li>\n<li>adfgadfgadfgdfg</li>\n<li>adfgadfg</li>\n</ol>\n<p> </p>\n<ul style=\"list-style-type: circle;\">\n<li>adfgadfg</li>\n<li>adfgadfg</li>\n<li>adfgadfg</li>\n<li>adfgadfg</li>\n<li>adfgadf</li>\n</ul>\n<p> </p>\n<ol style=\"list-style-type: upper-roman;\">\n<li>adfgadfgfga</li>\n<li>adfgadfg</li>\n<li>adfgadfg</li>\n<li>adfgadfg</li>\n<li>adfgadf</li>\n<li>adfgadf</li>\n<li>adfgadfg</li>\n<li>adfgdafgdfg</li>\n</ol>"
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "udi": "umb://element/cc12a1f25ec049afa6670bbf2ba70726",
      "heading": "Swoop",
      "text": "<p><a rel=\"noopener\" href=\"https://www.youtube.com/watch\" target=\"_blank\" title=\"Test\">Test</a></p>\n<div class=\"mceNonEditable embeditem\" data-embed-url=\"https://www.youtube.com/watch?v=ZBCCD4VLZnw\" data-embed-height=\"240\" data-embed-width=\"360\" data-embed-constrain=\"true\">\n<div class=\"embedded-video-container\"><iframe width=\"360\" height=\"203\" src=\"https://www.youtube.com/embed/ZBCCD4VLZnw?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" allowfullscreen=\"allowfullscreen\" title=\"Angry cat wants to demolish his groomer\"></iframe></div>\n</div>\n<p> </p>",
      "attachments": "[\r\n  {\r\n    \"key\": \"f10a107e-ec63-42c2-9685-84e42b70d4bc\",\r\n    \"mediaKey\": \"9101079e-5d16-41ed-bb5c-7579650dda66\"\r\n  }\r\n]"
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/6775dd8541ab43aea6f51fe99aef33d9",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"1b280d48-848c-4abf-83e5-37e893600e20\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"5b8bd310-a8bd-47a4-8503-c78db23f6355\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"fba68e2e-a778-4b2b-9bd6-64e49a274373\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  }\r\n]",
      "backgroundColor": "{\r\n  \"value\": \"1e2022\",\r\n  \"label\": \"1e2022\",\r\n  \"sortOrder\": 5,\r\n  \"id\": \"5\"\r\n}"
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/fd05269e2da841ef9fc2f0317689c035",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"d1b264e3-4f61-413b-819d-094fe655ddee\",\r\n    \"mediaKey\": \"dc2ca28c-c678-4c32-8a07-9f6fcb34b929\"\r\n  },\r\n  {\r\n    \"key\": \"37960528-5da6-4e11-b425-3466b5271ab5\",\r\n    \"mediaKey\": \"0cb49c58-e565-4f41-8315-65c581d103aa\"\r\n  },\r\n  {\r\n    \"key\": \"ae5b744a-73c5-4ff9-98c8-f557faf52ff6\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"4dd3584a-7cfa-4be1-a9cc-101047e29340\",\r\n    \"mediaKey\": \"31bfa201-108a-4d32-8676-37aa3029dda3\"\r\n  },\r\n  {\r\n    \"key\": \"38216884-436c-4a9e-84cc-21dfe0f947ce\",\r\n    \"mediaKey\": \"0d61932d-1736-441e-b49e-cdb3f56c9130\"\r\n  }\r\n]",
      "heading": "Some cool pictures",
      "backgroundColor": "{\r\n  \"value\": \"8a817c\",\r\n  \"label\": \"8a817c\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"6\"\r\n}"
    },
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/dc320317df40491fa05e807598dc64e7",
      "heading": "Cookies",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod aliquam est scelerisque eleifend. Aliquam ornare condimentum interdum. Etiam ligula turpis, laoreet sed enim eget, varius molestie felis. Pellentesque nec ipsum et lacus ultricies faucibus. Sed purus orci, vestibulum at vulputate eu, finibus a ante. Aenean lobortis urna ipsum, in posuere metus lacinia ac. ",
      "media": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/8106ece9fae44d78a7bee6fff136c4d6\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"1a5933ca-e789-45db-8fce-d0c96bcd89ef\",\r\n      \"udi\": \"umb://element/8106ece9fae44d78a7bee6fff136c4d6\",\r\n      \"media\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"4636febe-35c9-456d-915c-afb0b29e66c5\\\",\\r\\n    \\\"mediaKey\\\": \\\"0cb49c58-e565-4f41-8315-65c581d103aa\\\"\\r\\n  }\\r\\n]\",\r\n      \"addBlurOverlay\": \"0\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "mediaAlign": "Right",
      "cta": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/8a55207ca04f482492eb84b5b6708552\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/86685559a727429e8bf02812f655240e\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/8a55207ca04f482492eb84b5b6708552\",\r\n      \"title\": \"woop\",\r\n      \"link\": \"[{\\\"name\\\":\\\"https://vimeo.com/783589300\\\",\\\"url\\\":\\\"https://vimeo.com/783589300\\\"}]\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/86685559a727429e8bf02812f655240e\",\r\n      \"title\": \"woop\",\r\n      \"link\": \"[{\\\"name\\\":\\\"https://vimeo.com/783589300\\\",\\\"url\\\":\\\"https://vimeo.com/783589300\\\"}]\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "backgroundColor": "{\r\n  \"value\": \"463f3a\",\r\n  \"label\": \"463f3a\",\r\n  \"sortOrder\": 4,\r\n  \"id\": \"4\"\r\n}"
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/e526bdf3315149a6beabde35739aae54",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"580638db-e156-47ef-8725-3d7ba30d8943\",\r\n    \"mediaKey\": \"28dbf3e5-643c-4491-b01c-8aa541145daf\"\r\n  }\r\n]",
      "backgroundColor": "{\r\n  \"value\": \"ffeb19\",\r\n  \"label\": \"ffeb19\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <displayTitle>
      <Value><![CDATA[1]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68a137950d4444be8fc1908d92c7f1bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/68a137950d4444be8fc1908d92c7f1bf",
      "media": "[]",
      "backgroundColor": "",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Adelskalender]]></Value>
    </title>
  </Properties>
</Content>