<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba75725-7b60-4324-9605-7d625c2d74f1" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:29</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Adelskalender]]></Value>
    </title>
  </Properties>
</Content>