<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba75725-7b60-4324-9605-7d625c2d74f1" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:29</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/64e770b9b5b04c8aa3dbb662d2d935c1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66d91335-d39c-42ae-8bc3-ce9f9b4cc16d",
      "udi": "umb://element/64e770b9b5b04c8aa3dbb662d2d935c1",
      "heading": "Jalles TC Adelskalender",
      "excel": [
        {
          "key": "7b662079-56fe-4969-96bc-d3eaeaf3a790",
          "mediaKey": "6d860646-4175-4d94-8725-864f2fda037b"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allmänt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68a137950d4444be8fc1908d92c7f1bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/68a137950d4444be8fc1908d92c7f1bf",
      "media": [],
      "backgroundColor": "",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Adelskalender]]></Value>
    </title>
  </Properties>
</Content>