<?xml version="1.0" encoding="utf-8"?>
<Content Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1" Alias="Aktuellt" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Aktuellt</Path>
    <Trashed>false</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2023-08-04T14:25:39</CreateDate>
    <NodeName Default="Aktuellt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[Tävlingar
Resultat
Träningar
Cool Cats
Historia
Umemaran
Statistik]]></Value>
    </categories>
    <displayedCategories>
      <Value><![CDATA[[
  "Tävlingar",
  "Resultat",
  "Träningar",
  "Cool Cats"
]]]></Value>
    </displayedCategories>
    <displayTitle>
      <Value><![CDATA[1]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e8a076bcfbe644958c4542cb48c63baf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/e8a076bcfbe644958c4542cb48c63baf",
      "media": "[\r\n  {\r\n    \"key\": \"8c94955b-9b05-46b9-8d27-c71fd9fb7e09\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  }\r\n]",
      "addBlurOverlay": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pages>
      <Value><![CDATA[]]></Value>
    </pages>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Aktuellt]]></Value>
    </title>
  </Properties>
</Content>