<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2ff2a0a-9744-4bff-accb-db0598e5c155" Alias="Bli Medlem" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/BliMedlem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:40</CreateDate>
    <NodeName Default="Bli Medlem" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Bli Medlem]]></Value>
    </title>
  </Properties>
</Content>