<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2ff2a0a-9744-4bff-accb-db0598e5c155" Alias="Bli Medlem" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/BliMedlem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:40</CreateDate>
    <NodeName Default="Bli Medlem" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/98af2d010ec341b38ed50089b75cfea0"
      },
      {
        "contentUdi": "umb://element/93470156e33443cd91d30b812728968d"
      },
      {
        "contentUdi": "umb://element/1426d953063646bfa05228f2c5ddf995"
      },
      {
        "contentUdi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd"
      },
      {
        "contentUdi": "umb://element/de9aa81e15914baa8cc4c9c9e334a655"
      },
      {
        "contentUdi": "umb://element/a03b1ed43ef44a2899ef85df0b2df996"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd",
      "highlights": [
        "umb://document/ba0416fefabf49d38527bc316ee613ee",
        "umb://document/cba757257b60432496057d625c2d74f1",
        "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
      ],
      "backgroundColor": {
        "value": "fff8ad",
        "label": "fff8ad",
        "sortOrder": 1,
        "id": "2"
      },
      "heading": "Yaaaaaaaas skidor osv"
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/de9aa81e15914baa8cc4c9c9e334a655",
      "highlights": [
        "umb://document/ba0416fefabf49d38527bc316ee613ee",
        "umb://document/cba757257b60432496057d625c2d74f1"
      ],
      "backgroundColor": {
        "value": "8a817c",
        "label": "8a817c",
        "sortOrder": 3,
        "id": "6"
      },
      "heading": "yaaas skidor osv"
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/a03b1ed43ef44a2899ef85df0b2df996",
      "highlights": [
        "umb://document/ba0416fefabf49d38527bc316ee613ee"
      ],
      "backgroundColor": {
        "value": "463f3a",
        "label": "463f3a",
        "sortOrder": 4,
        "id": "4"
      },
      "heading": "yaaas skidor osv"
    },
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/1426d953063646bfa05228f2c5ddf995",
      "heading": "Välkommen till Jalles!",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae facilisis sem, vel gravida massa. Morbi in consectetur dui, et aliquet justo. Aliquam pulvinar diam vitae elit finibus aliquam. In feugiat enim tincidunt ipsum tincidunt imperdiet. Integer enim nibh, vestibulum non varius at, auctor in dui. Etiam elit justo, vulputate at semper ut, ultrices vel eros.\n\nÅ Ä Ö å ä ö",
      "media": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/15849b12dd3742c3919f219b29103663"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
            "udi": "umb://element/15849b12dd3742c3919f219b29103663",
            "media": [
              {
                "key": "c572e643-175f-4b29-8b63-b264c4e6fa78",
                "mediaKey": "dc2ca28c-c678-4c32-8a07-9f6fcb34b929"
              }
            ],
            "addBlurOverlay": "0"
          }
        ],
        "settingsData": []
      },
      "mediaAlign": "Right",
      "cta": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/b473e84930a54d4c810434b98519d843"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
            "udi": "umb://element/b473e84930a54d4c810434b98519d843",
            "title": "Bli Medlem",
            "link": [
              {
                "name": "Bli Medlem",
                "udi": "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "backgroundColor": {
        "value": "fafaec",
        "label": "fafaec",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "udi": "umb://element/93470156e33443cd91d30b812728968d",
      "attachments": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/35e502ea36004cf6a9345d499dd2391e"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
            "udi": "umb://element/35e502ea36004cf6a9345d499dd2391e",
            "title": "woop woop",
            "file": "umb://media/0d61932d1736441eb49ecdb3f56c9130"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "6242c7ee-aa55-46bd-bc70-7d04a48ef93e",
      "udi": "umb://element/98af2d010ec341b38ed50089b75cfea0",
      "heading": "Våra sponsorer",
      "sponsors": [
        {
          "key": "babcb668-1c0e-4b46-ad2c-d0e4807c8676",
          "mediaKey": "73dd7bc8-524d-41c1-bcc4-031963d80181"
        },
        {
          "key": "988b6175-17b0-489b-ba7a-2f697d19d770",
          "mediaKey": "64995593-54ff-4bb7-a218-b5c1f59bf1e0"
        },
        {
          "key": "22b3be93-1a6e-4394-96f5-abb833b30114",
          "mediaKey": "fe1f42d5-d237-4418-84ec-84f1e32a0184"
        },
        {
          "key": "c40128ea-3a2f-4d34-b8bf-3822f303f642",
          "mediaKey": "f9e67750-fe88-49d6-aa84-7f4340124c0b"
        },
        {
          "key": "760ff674-8193-45d0-b0b4-7facd5232a6e",
          "mediaKey": "86cefb26-fa74-4d40-8219-62b497a2e4d6"
        },
        {
          "key": "311d30b3-b399-4cae-a563-eef6621611c9",
          "mediaKey": "95747fbf-1804-4141-9cb7-56e9aff5d09a"
        },
        {
          "key": "e5804aeb-1a77-4151-87dd-f9ff9b35fd26",
          "mediaKey": "733382ae-319a-437a-ad53-a8138230c3d8"
        },
        {
          "key": "d230e667-a102-4f64-b881-5dcf9b8be5f4",
          "mediaKey": "5f38335c-fb91-4dc2-b170-2d580c9e36c1"
        },
        {
          "key": "60b69aec-260b-4321-95b0-d7914bf02a28",
          "mediaKey": "13c10ea3-b4b2-4bdd-a3c2-535aafe3f413"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allmänt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73d1ed12c397480d8b57781fefc83785"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/73d1ed12c397480d8b57781fefc83785",
      "media": [
        {
          "key": "1c7bda24-5c3b-4d5a-86d6-94ede44c0faa",
          "mediaKey": "31bfa201-108a-4d32-8676-37aa3029dda3"
        }
      ],
      "backgroundColor": {
        "value": "fff8ad",
        "label": "fff8ad",
        "sortOrder": 1,
        "id": "2"
      },
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[swoop swoop swoop]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Bli Medlem]]></Value>
    </title>
  </Properties>
</Content>