<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2ff2a0a-9744-4bff-accb-db0598e5c155" Alias="Bli Medlem" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/BliMedlem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:40</CreateDate>
    <NodeName Default="Bli Medlem" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/93470156e33443cd91d30b812728968d"
      },
      {
        "contentUdi": "umb://element/1426d953063646bfa05228f2c5ddf995"
      },
      {
        "contentUdi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd"
      },
      {
        "contentUdi": "umb://element/de9aa81e15914baa8cc4c9c9e334a655"
      },
      {
        "contentUdi": "umb://element/a03b1ed43ef44a2899ef85df0b2df996"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd",
      "highlights": "[\"umb://document/ba0416fefabf49d38527bc316ee613ee\",\"umb://document/cba757257b60432496057d625c2d74f1\",\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\"]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}",
      "heading": "Yaaaaaaaas skidor osv"
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/de9aa81e15914baa8cc4c9c9e334a655",
      "highlights": "[\"umb://document/ba0416fefabf49d38527bc316ee613ee\",\"umb://document/cba757257b60432496057d625c2d74f1\"]",
      "backgroundColor": "{\r\n  \"value\": \"8a817c\",\r\n  \"label\": \"8a817c\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"6\"\r\n}",
      "heading": "yaaas skidor osv"
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/a03b1ed43ef44a2899ef85df0b2df996",
      "highlights": "[\"umb://document/ba0416fefabf49d38527bc316ee613ee\"]",
      "backgroundColor": "{\r\n  \"value\": \"463f3a\",\r\n  \"label\": \"463f3a\",\r\n  \"sortOrder\": 4,\r\n  \"id\": \"4\"\r\n}",
      "heading": "yaaas skidor osv"
    },
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/1426d953063646bfa05228f2c5ddf995",
      "heading": "Välkommen till Jalles!",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae facilisis sem, vel gravida massa. Morbi in consectetur dui, et aliquet justo. Aliquam pulvinar diam vitae elit finibus aliquam. In feugiat enim tincidunt ipsum tincidunt imperdiet. Integer enim nibh, vestibulum non varius at, auctor in dui. Etiam elit justo, vulputate at semper ut, ultrices vel eros.\n\nÅ Ä Ö å ä ö",
      "media": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/15849b12dd3742c3919f219b29103663\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"1a5933ca-e789-45db-8fce-d0c96bcd89ef\",\r\n      \"udi\": \"umb://element/15849b12dd3742c3919f219b29103663\",\r\n      \"media\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"c572e643-175f-4b29-8b63-b264c4e6fa78\\\",\\r\\n    \\\"mediaKey\\\": \\\"dc2ca28c-c678-4c32-8a07-9f6fcb34b929\\\"\\r\\n  }\\r\\n]\",\r\n      \"addBlurOverlay\": \"0\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "mediaAlign": "Right",
      "cta": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/b473e84930a54d4c810434b98519d843\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/b473e84930a54d4c810434b98519d843\",\r\n      \"title\": \"Bli Medlem\",\r\n      \"link\": \"[{\\\"name\\\":\\\"Bli Medlem\\\",\\\"udi\\\":\\\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\\\"}]\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "backgroundColor": "{\r\n  \"value\": \"fafaec\",\r\n  \"label\": \"fafaec\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}"
    },
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "udi": "umb://element/93470156e33443cd91d30b812728968d",
      "attachments": "[\r\n  {\r\n    \"key\": \"784b5b8d-28f3-44e6-8fe4-61d0d39cb8cb\",\r\n    \"mediaKey\": \"9101079e-5d16-41ed-bb5c-7579650dda66\"\r\n  },\r\n  {\r\n    \"key\": \"503f97ea-1444-425e-9e7c-ce6802bc1fa9\",\r\n    \"mediaKey\": \"f65e90e5-ed8b-4a21-839a-7158a9de83a6\"\r\n  },\r\n  {\r\n    \"key\": \"5233de41-2109-431f-9251-401dbe74c3ec\",\r\n    \"mediaKey\": \"638fbbd3-04fc-4f8d-89ba-ec818761a597\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allmänt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73d1ed12c397480d8b57781fefc83785"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/73d1ed12c397480d8b57781fefc83785",
      "media": "[]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Bli Medlem]]></Value>
    </title>
  </Properties>
</Content>