<?xml version="1.0" encoding="utf-8"?>
<Content Key="c2ff2a0a-9744-4bff-accb-db0598e5c155" Alias="Bli Medlem" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/BliMedlem</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:40</CreateDate>
    <NodeName Default="Bli Medlem" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/b2e64119f95a4aad8a92cbaf849b01dd",
      "highlights": "[\"umb://document/ba0416fefabf49d38527bc316ee613ee\",\"umb://document/cba757257b60432496057d625c2d74f1\",\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\"]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/73d1ed12c397480d8b57781fefc83785"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/73d1ed12c397480d8b57781fefc83785",
      "media": "[]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Bli Medlem]]></Value>
    </title>
  </Properties>
</Content>