<?xml version="1.0" encoding="utf-8"?>
<Content Key="ee8f3cd1-97ed-4726-bf00-731264658616" Alias="Foton från Umemaran 2022" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/FotonFraanUmemaran2022</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-09T22:30:04</CreateDate>
    <NodeName Default="Foton från Umemaran 2022" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a8ae295f0eeb4676972abf118394ff79"
      },
      {
        "contentUdi": "umb://element/7cdb9de5012344c49c5894405ff1a352"
      },
      {
        "contentUdi": "umb://element/674342ec36c0425d963fd67a0ef64270"
      },
      {
        "contentUdi": "umb://element/992559c6d481415f8041d201f0605bd6"
      },
      {
        "contentUdi": "umb://element/c9dc362839844d22b744778e3be63376"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "udi": "umb://element/7cdb9de5012344c49c5894405ff1a352",
      "heading": "Hello everybody :D",
      "text": ""
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/674342ec36c0425d963fd67a0ef64270",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"92dd8be3-3e07-4f47-897e-c5fae3faf55d\",\r\n    \"mediaKey\": \"dc2ca28c-c678-4c32-8a07-9f6fcb34b929\"\r\n  },\r\n  {\r\n    \"key\": \"f330fcbd-9c24-4c5b-80b8-9b6ddb51d05b\",\r\n    \"mediaKey\": \"31bfa201-108a-4d32-8676-37aa3029dda3\"\r\n  },\r\n  {\r\n    \"key\": \"e9503426-35b6-4969-90e3-8c61736bb1f5\",\r\n    \"mediaKey\": \"0cb49c58-e565-4f41-8315-65c581d103aa\"\r\n  },\r\n  {\r\n    \"key\": \"bce2d17a-ba94-4122-a333-a0cb5eda735c\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"d4000b4a-5541-4100-bf94-35d99a9a4358\",\r\n    \"mediaKey\": \"28dbf3e5-643c-4491-b01c-8aa541145daf\"\r\n  }\r\n]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    },
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/a8ae295f0eeb4676972abf118394ff79",
      "heading": "Cookies",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod aliquam est scelerisque eleifend. Aliquam ornare condimentum interdum. Etiam ligula turpis, laoreet sed enim eget, varius molestie felis. Pellentesque nec ipsum et lacus ultricies faucibus. Sed purus orci, vestibulum at vulputate eu, finibus a ante. Aenean lobortis urna ipsum, in posuere metus lacinia ac. ",
      "media": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/03a7850cf7b44e889b4732d55bc3190e\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"1a5933ca-e789-45db-8fce-d0c96bcd89ef\",\r\n      \"udi\": \"umb://element/03a7850cf7b44e889b4732d55bc3190e\",\r\n      \"media\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"4636febe-35c9-456d-915c-afb0b29e66c5\\\",\\r\\n    \\\"mediaKey\\\": \\\"0cb49c58-e565-4f41-8315-65c581d103aa\\\"\\r\\n  }\\r\\n]\",\r\n      \"addBlurOverlay\": \"0\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "mediaAlign": "Right",
      "cta": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/9bd1d25ed5814a64afe850bbb1a0ee13\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/c6aabf3a2d024d1fb74e102cd2677bbb\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/9bd1d25ed5814a64afe850bbb1a0ee13\",\r\n      \"title\": \"woop\",\r\n      \"link\": \"[{\\\"name\\\":\\\"https://vimeo.com/783589300\\\",\\\"url\\\":\\\"https://vimeo.com/783589300\\\"}]\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/c6aabf3a2d024d1fb74e102cd2677bbb\",\r\n      \"title\": \"woop\",\r\n      \"link\": \"[{\\\"name\\\":\\\"https://vimeo.com/783589300\\\",\\\"url\\\":\\\"https://vimeo.com/783589300\\\"}]\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "backgroundColor": "{\r\n  \"value\": \"8a817c\",\r\n  \"label\": \"8a817c\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"6\"\r\n}"
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "udi": "umb://element/992559c6d481415f8041d201f0605bd6",
      "heading": "Swoop",
      "text": "<h2>woop</h2>\n<h3>woop</h3>\n<h4>woop</h4>\n<blockquote>woop</blockquote>\n<p>sdfsdf</p>\n<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod aliquam est scelerisque eleifend. Aliquam ornare condimentum interdum. Etiam ligula turpis, laoreet sed enim eget, varius molestie felis. Pellentesque nec ipsum et lacus ultricies faucibus. Sed purus orci, vestibulum at vulputate eu, finibus a ante. Aenean lobortis urna ipsum, in posuere metus lacinia ac.</p>\n<p> <img src=\"?rmode=max&amp;width=500\" alt=\"\" width=\"500\" height=\"296\" data-udi=\"umb://media/e5f35e37f9d2402a9c4c65e7239502cc\"></p>\n<p> </p>\n<figure><img src=\"?rmode=max&amp;height=500\" alt=\"woop\" width=\"386\" height=\"500\" data-udi=\"umb://media/0d61932d1736441eb49ecdb3f56c9130\" data-caption=\"woop\">\n<figcaption>woop</figcaption>\n</figure>"
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/c9dc362839844d22b744778e3be63376",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"1b280d48-848c-4abf-83e5-37e893600e20\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"5b8bd310-a8bd-47a4-8503-c78db23f6355\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"fba68e2e-a778-4b2b-9bd6-64e49a274373\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  }\r\n]",
      "backgroundColor": "{\r\n  \"value\": \"8a817c\",\r\n  \"label\": \"8a817c\",\r\n  \"sortOrder\": 3,\r\n  \"id\": \"6\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/46092b0578f840f58208c010f0ba0e2f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/46092b0578f840f58208c010f0ba0e2f",
      "media": "[\r\n  {\r\n    \"key\": \"aea15059-2d97-40ec-b724-d242d17da060\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  }\r\n]",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Foton från Umemaran 2022]]></Value>
    </title>
  </Properties>
</Content>