<?xml version="1.0" encoding="utf-8"?>
<Content Key="50773cd8-317a-4860-8902-17e9cea6a13d" Alias="Gotta go fast" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/GottaGoFast</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-19T22:17:37</CreateDate>
    <NodeName Default="Gotta go fast" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Cool Cats",
  "Umemaran",
  "Statistik"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/348e07093d5347149018575f128b92dd"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/348e07093d5347149018575f128b92dd"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Gotta go fast]]></Value>
    </title>
  </Properties>
</Content>