<?xml version="1.0" encoding="utf-8"?>
<Content Key="7413c529-9252-43e8-acb8-2d78ff492a94" Alias="Hello" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Hello</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-08-01T15:37:34</CreateDate>
    <NodeName Default="Hello" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <title>
      <Value><![CDATA[Hello :)]]></Value>
    </title>
  </Properties>
</Content>