<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7f02290-1408-453f-9272-4d208df5ed22" Alias="Jalles 50" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Jalles50</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-19T14:54:11</CreateDate>
    <NodeName Default="Jalles 50" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/923ed212c7884380a2db0ad487d39091"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/923ed212c7884380a2db0ad487d39091",
      "heading": "Coola bilder från firandet",
      "imageGallery": "[\r\n  {\r\n    \"key\": \"f9b32796-5fe8-4361-aa1c-b536c542255d\",\r\n    \"mediaKey\": \"0cb49c58-e565-4f41-8315-65c581d103aa\"\r\n  },\r\n  {\r\n    \"key\": \"922b1709-f1df-414b-bdd9-77d48cd1ca58\",\r\n    \"mediaKey\": \"e5f35e37-f9d2-402a-9c4c-65e7239502cc\"\r\n  },\r\n  {\r\n    \"key\": \"4b82bf77-99d6-464a-80b8-2952010cb850\",\r\n    \"mediaKey\": \"31bfa201-108a-4d32-8676-37aa3029dda3\"\r\n  },\r\n  {\r\n    \"key\": \"7aafc917-35ca-444d-852f-72bf4182c038\",\r\n    \"mediaKey\": \"dc2ca28c-c678-4c32-8a07-9f6fcb34b929\"\r\n  },\r\n  {\r\n    \"key\": \"8b82c587-b552-4388-9e26-38c93456fe76\",\r\n    \"mediaKey\": \"0d61932d-1736-441e-b49e-cdb3f56c9130\"\r\n  },\r\n  {\r\n    \"key\": \"1a32908d-8764-444d-ae50-e97277d2ebcf\",\r\n    \"mediaKey\": \"8262725a-354c-4979-ad62-9b1db4e31a1c\"\r\n  }\r\n]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allmänt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/41a217649561441bb11989caa155a902"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/41a217649561441bb11989caa155a902",
      "media": "[]",
      "backgroundColor": "{\r\n  \"value\": \"fafaec\",\r\n  \"label\": \"fafaec\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a0626baebc31422e97140b87459c1fdc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "udi": "umb://element/a0626baebc31422e97140b87459c1fdc",
      "date": "2022-08-17T00:00:00"
    }
  ],
  "settingsData": []
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles 50år]]></Value>
    </title>
  </Properties>
</Content>