<?xml version="1.0" encoding="utf-8"?>
<Content Key="7413c529-9252-43e8-acb8-2d78ff492a94" Alias="Jalles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jalles</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-08-01T15:37:34</CreateDate>
    <NodeName Default="Jalles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <facebook>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/JallesTC/"
  }
]]]></Value>
    </facebook>
    <footer>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7a4ede8dedb54467b36187ff3febae00"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "031b465a-163c-4ccc-9bea-0e4367593c8c",
      "udi": "umb://element/7a4ede8dedb54467b36187ff3febae00",
      "footerText": "Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor. Välkommen till oss!",
      "sponsors": "[\r\n  {\r\n    \"key\": \"ebee61e6-7444-4b07-8995-9b62f1353a03\",\r\n    \"mediaKey\": \"93fcc0b1-4055-4e1d-953d-34a0b00f8510\"\r\n  },\r\n  {\r\n    \"key\": \"7bf62725-3c37-4581-a753-ca559a898be8\",\r\n    \"mediaKey\": \"2a48378e-19be-4b8c-82b6-44021995f63d\"\r\n  }\r\n]",
      "umeMaranLogo": "[\r\n  {\r\n    \"key\": \"07a5acc6-0abd-41f8-9118-ef7ddfce36a9\",\r\n    \"mediaKey\": \"8262725a-354c-4979-ad62-9b1db4e31a1c\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </footer>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/276b0c0b1c6343c082372e35039c23eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/276b0c0b1c6343c082372e35039c23eb",
      "media": "[\r\n  {\r\n    \"key\": \"01f6f020-7db9-4c69-a203-1d10a3fa7f9f\",\r\n    \"mediaKey\": \"31bfa201-108a-4d32-8676-37aa3029dda3\"\r\n  }\r\n]",
      "addBlurOverlay": "1"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <mainMenu>
      <Value><![CDATA[[
  "umb://document/c764a2ffa9b84491b84cd89e30fc17b1",
  "umb://document/c5caf08d4d164595bad1e5cf4e84be2f",
  "umb://document/6013810ee8ef4173bba65eb7a9d0bbe1",
  "umb://document/cba757257b60432496057d625c2d74f1",
  "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
]]]></Value>
    </mainMenu>
    <metaDescription>
      <Value><![CDATA[Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor.]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "22e59a77-611c-4034-86c1-0a35ba97c4a7",
    "mediaKey": "0d61932d-1736-441e-b49e-cdb3f56c9130"
  }
]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles TC]]></Value>
    </title>
  </Properties>
</Content>