<?xml version="1.0" encoding="utf-8"?>
<Content Key="7413c529-9252-43e8-acb8-2d78ff492a94" Alias="Jalles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jalles</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-08-01T15:37:34</CreateDate>
    <NodeName Default="Jalles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/053e284f4a834911bc17b1a38f349d0f"
      },
      {
        "contentUdi": "umb://element/e5c2ba9f99e3404f90c97847b264c8d5"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/053e284f4a834911bc17b1a38f349d0f",
      "heading": "Välkommen till Jalles!",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae facilisis sem, vel gravida massa. Morbi in consectetur dui, et aliquet justo. Aliquam pulvinar diam vitae elit finibus aliquam. In feugiat enim tincidunt ipsum tincidunt imperdiet. Integer enim nibh, vestibulum non varius at, auctor in dui. Etiam elit justo, vulputate at semper ut, ultrices vel eros.\n\nÅ Ä Ö å ä ö",
      "media": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/896fc5f33f4441e8b02d373520f4850a\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"1a5933ca-e789-45db-8fce-d0c96bcd89ef\",\r\n      \"udi\": \"umb://element/896fc5f33f4441e8b02d373520f4850a\",\r\n      \"media\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"c572e643-175f-4b29-8b63-b264c4e6fa78\\\",\\r\\n    \\\"mediaKey\\\": \\\"dc2ca28c-c678-4c32-8a07-9f6fcb34b929\\\"\\r\\n  }\\r\\n]\",\r\n      \"addBlurOverlay\": \"0\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "mediaAlign": "Right",
      "cta": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/c3d3bd103b374b81a8003cfe18a8debe\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/c3d3bd103b374b81a8003cfe18a8debe\",\r\n      \"title\": \"Bli Medlem\",\r\n      \"link\": \"[{\\\"name\\\":\\\"Bli Medlem\\\",\\\"udi\\\":\\\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\\\"}]\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "backgroundColor": "{\r\n  \"value\": \"fafaec\",\r\n  \"label\": \"fafaec\",\r\n  \"sortOrder\": 0,\r\n  \"id\": \"1\"\r\n}"
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/e5c2ba9f99e3404f90c97847b264c8d5",
      "highlights": "[\"umb://document/06d0492142214745995e78af84b4cde6\",\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\",\"umb://document/cba757257b60432496057d625c2d74f1\"]",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <facebook>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/JallesTC/"
  }
]]]></Value>
    </facebook>
    <footer>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/431cd85e6ebc436ba4f2a58ac2fec2a2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "031b465a-163c-4ccc-9bea-0e4367593c8c",
      "udi": "umb://element/431cd85e6ebc436ba4f2a58ac2fec2a2",
      "footerText": "Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor. Välkommen till oss!",
      "umeMaranLogo": "[\r\n  {\r\n    \"key\": \"d0ac0798-66a7-4c6b-a308-9c88d4631a02\",\r\n    \"mediaKey\": \"8262725a-354c-4979-ad62-9b1db4e31a1c\"\r\n  }\r\n]",
      "sponsors": "[\r\n  {\r\n    \"key\": \"58edbf2a-cbe6-48c1-ab60-64f0eca6328d\",\r\n    \"mediaKey\": \"73dd7bc8-524d-41c1-bcc4-031963d80181\"\r\n  },\r\n  {\r\n    \"key\": \"7109be34-7e6e-44d1-af4a-091322c02fc5\",\r\n    \"mediaKey\": \"64995593-54ff-4bb7-a218-b5c1f59bf1e0\"\r\n  }\r\n]"
    }
  ],
  "settingsData": []
}]]></Value>
    </footer>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/276b0c0b1c6343c082372e35039c23eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/276b0c0b1c6343c082372e35039c23eb",
      "media": "[\r\n  {\r\n    \"key\": \"4c9da99c-6ae9-4526-826b-f672aad01ebb\",\r\n    \"mediaKey\": \"31bfa201-108a-4d32-8676-37aa3029dda3\"\r\n  }\r\n]",
      "addBlurOverlay": "1",
      "backgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <mainMenu>
      <Value><![CDATA[[
  "umb://document/c764a2ffa9b84491b84cd89e30fc17b1",
  "umb://document/06d0492142214745995e78af84b4cde6",
  "umb://document/ba0416fefabf49d38527bc316ee613ee",
  "umb://document/cba757257b60432496057d625c2d74f1",
  "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
]]]></Value>
    </mainMenu>
    <metaDescription>
      <Value><![CDATA[Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor.]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "22e59a77-611c-4034-86c1-0a35ba97c4a7",
    "mediaKey": "0d61932d-1736-441e-b49e-cdb3f56c9130"
  }
]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles TC]]></Value>
    </title>
  </Properties>
</Content>