<?xml version="1.0" encoding="utf-8"?>
<Content Key="83f3dd74-d9e1-492d-9e9a-f48cf40a26c0" Alias="Not Found" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/NotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2023-08-18T19:29:29</CreateDate>
    <NodeName Default="Not Found" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/63067c249b514d9a8d250ab3945d5c4b"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/63067c249b514d9a8d250ab3945d5c4b",
      "heading": "Ooops! Nu gick något fel..",
      "text": "Den sidan du sökte kunde tyvärr inte hittas. \nKanske kan någon av dessa länkar hjälpa?",
      "media": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/8ad2f4fe4ae9429b86f1b4f1c098ee80\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"1a5933ca-e789-45db-8fce-d0c96bcd89ef\",\r\n      \"udi\": \"umb://element/8ad2f4fe4ae9429b86f1b4f1c098ee80\",\r\n      \"media\": \"[\\r\\n  {\\r\\n    \\\"key\\\": \\\"7df2e3d3-825c-4e3a-a513-437f4630bfba\\\",\\r\\n    \\\"mediaKey\\\": \\\"0cb49c58-e565-4f41-8315-65c581d103aa\\\"\\r\\n  }\\r\\n]\",\r\n      \"addBlurOverlay\": \"0\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "mediaAlign": "Right",
      "cta": "{\r\n  \"layout\": {\r\n    \"Umbraco.BlockList\": [\r\n      {\r\n        \"contentUdi\": \"umb://element/5ea18f7116ed4873a5e02940b973d411\"\r\n      },\r\n      {\r\n        \"contentUdi\": \"umb://element/b48c145f68124aada1b8818c45916615\"\r\n      }\r\n    ]\r\n  },\r\n  \"contentData\": [\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/b48c145f68124aada1b8818c45916615\",\r\n      \"title\": \"Om Jalles\",\r\n      \"link\": \"[{\\\"name\\\":\\\"Om Jalles\\\",\\\"udi\\\":\\\"umb://document/ba0416fefabf49d38527bc316ee613ee\\\"}]\"\r\n    },\r\n    {\r\n      \"contentTypeKey\": \"181ad78f-e8d0-4318-9816-2d024f08b075\",\r\n      \"udi\": \"umb://element/5ea18f7116ed4873a5e02940b973d411\",\r\n      \"title\": \"Bli Medlem\",\r\n      \"link\": \"[{\\\"name\\\":\\\"Bli Medlem\\\",\\\"udi\\\":\\\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\\\"}]\"\r\n    }\r\n  ],\r\n  \"settingsData\": []\r\n}",
      "backgroundColor": "{\r\n  \"value\": \"fff8ad\",\r\n  \"label\": \"fff8ad\",\r\n  \"sortOrder\": 1,\r\n  \"id\": \"2\"\r\n}"
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/8e340291c2c64b79835bf4a1a61eb39c"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/8e340291c2c64b79835bf4a1a61eb39c",
      "media": "[]",
      "backgroundColor": "{\r\n  \"value\": \"ffeb19\",\r\n  \"label\": \"ffeb19\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
  </Properties>
</Content>