<?xml version="1.0" encoding="utf-8"?>
<Content Key="6013810e-e8ef-4173-bba6-5eb7a9d0bbe1" Alias="Om Jalles" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/OmJalles</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:13</CreateDate>
    <NodeName Default="Om Jalles" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Om Jalles]]></Value>
    </title>
  </Properties>
</Content>