<?xml version="1.0" encoding="utf-8"?>
<Content Key="b13d0321-209b-40fb-83c7-d2c93d4e65cf" Alias="Reportage från 49:e Umemaran" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/ReportageFraan49eUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-04T14:27:09</CreateDate>
    <NodeName Default="Reportage från 49:e Umemaran" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Cool Cats",
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/29920eab93734a599e70c86b57d096cc"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/29920eab93734a599e70c86b57d096cc",
      "media": [],
      "addBlurOverlay": "0",
      "backgroundColor": {
        "value": "ffeb19",
        "label": "ffeb19",
        "sortOrder": 2,
        "id": "3"
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Reportage från 49:e Umemaran]]></Value>
    </title>
  </Properties>
</Content>