<?xml version="1.0" encoding="utf-8"?>
<Content Key="579be44c-c8d9-4e4a-a3e1-440be68d3cc0" Alias="Sitemap" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Hello</Parent>
    <Path>/Hello/Sitemap</Path>
    <Trashed>false</Trashed>
    <ContentType>xmlSiteMap</ContentType>
    <CreateDate>2023-08-01T15:38:01</CreateDate>
    <NodeName Default="Sitemap" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="48e3f6dd-e7ae-4ea4-bcca-008fa283c7b2">XmlSiteMap</Template>
  </Info>
  <Properties>
    <excludedDocumentTypes>
      <Value><![CDATA[XmlSitemap]]></Value>
    </excludedDocumentTypes>
  </Properties>
</Content>