<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8267973-5e14-4405-bd08-d2747b78326f" Alias="Tävlingar" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Taevlingar</Path>
    <Trashed>false</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2023-08-18T22:29:42</CreateDate>
    <NodeName Default="Tävlingar" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayTitle>
      <Value><![CDATA[0]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/9149a8d7e3864f02972d1d66df896b5d"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/9149a8d7e3864f02972d1d66df896b5d"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <highlights>
      <Value><![CDATA[]]></Value>
    </highlights>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pages>
      <Value><![CDATA[]]></Value>
    </pages>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Tävlingar]]></Value>
    </title>
  </Properties>
</Content>