<?xml version="1.0" encoding="utf-8"?>
<Content Key="75f3857d-a982-44b4-a218-28165759fe72" Alias="Umemaran" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Umemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>secondaryListingPage</ContentType>
    <CreateDate>2023-08-19T19:08:52</CreateDate>
    <NodeName Default="Umemaran" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/e126fc3348c043a7a1135a46c68d1760"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "54af0080-5ed7-4ebd-b42c-3466ed6ed762",
      "udi": "umb://element/e126fc3348c043a7a1135a46c68d1760",
      "pins": "umb://document/ee8f3cd197ed4726bf00731264658616,umb://document/e0cc1eba0a1a4124a87018f50b3f5c30,umb://document/b13d0321209b40fb83c7d2c93d4e65cf"
    }
  ],
  "settingsData": []
}]]></Value>
    </block>
    <displayedCategories>
      <Value><![CDATA[[
  "Tävlingar",
  "Resultat",
  "Historia",
  "Statistik"
]]]></Value>
    </displayedCategories>
    <displayTitle>
      <Value><![CDATA[1]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/54ef41a455e24be5b0a48429c893eaad"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/54ef41a455e24be5b0a48429c893eaad",
      "media": [],
      "backgroundColor": {
        "value": "463f3a",
        "label": "463f3a",
        "sortOrder": 4,
        "id": "4"
      },
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <mainCategory>
      <Value><![CDATA[Umemaran]]></Value>
    </mainCategory>
    <metaDescription>
      <Value><![CDATA[go go umemaran]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umemaran]]></Value>
    </title>
  </Properties>
</Content>