<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5caf08d-4d16-4595-bad1-e5cf4e84be2f" Alias="Umemaran" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Umemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2023-08-04T14:25:51</CreateDate>
    <NodeName Default="Umemaran" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pages>
      <Value><![CDATA[]]></Value>
    </pages>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umemaran]]></Value>
    </title>
  </Properties>
</Content>