<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5caf08d-4d16-4595-bad1-e5cf4e84be2f" Alias="Umemaran (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/Umemaran1</Path>
    <Trashed Parent="7413c529-9252-43e8-acb8-2d78ff492a94">true</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2023-08-04T14:25:51</CreateDate>
    <NodeName Default="Umemaran (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <displayTitle>
      <Value><![CDATA[0]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7615dcfa7fb94279a0b497c1c702fd3f"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/7615dcfa7fb94279a0b497c1c702fd3f",
      "media": "[]",
      "backgroundColor": "{\r\n  \"value\": \"ffeb19\",\r\n  \"label\": \"ffeb19\",\r\n  \"sortOrder\": 2,\r\n  \"id\": \"3\"\r\n}",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <highlights>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/19d839007b7a46fdb57678c938ed2005"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/19d839007b7a46fdb57678c938ed2005",
      "highlights": "[\"umb://document/ba0416fefabf49d38527bc316ee613ee\",\"umb://document/cba757257b60432496057d625c2d74f1\",\"umb://document/c2ff2a0a97444bffaccbdb0598e5c155\"]"
    }
  ],
  "settingsData": []
}]]></Value>
    </highlights>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pages>
      <Value><![CDATA[]]></Value>
    </pages>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umemaran]]></Value>
    </title>
  </Properties>
</Content>