<?xml version="1.0" encoding="utf-8"?>
<Content Key="b13d0321-209b-40fb-83c7-d2c93d4e65cf" Alias="Woop" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Woop</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-04T14:27:09</CreateDate>
    <NodeName Default="Woop" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Woop]]></Value>
    </title>
  </Properties>
</Content>