<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba75725-7b60-4324-9605-7d625c2d74f1" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T14:25:29</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/7de8e1cc35e740079d9108d16f093d07"
      },
      {
        "contentUdi": "umb://element/d62d99f86efa47a2babde48521ea7b43"
      },
      {
        "contentUdi": "umb://element/64e770b9b5b04c8aa3dbb662d2d935c1"
      },
      {
        "contentUdi": "umb://element/1b766f263a264828a7b12a9e3c1ab9f4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "66d91335-d39c-42ae-8bc3-ce9f9b4cc16d",
      "udi": "umb://element/64e770b9b5b04c8aa3dbb662d2d935c1",
      "heading": "Jalles TC Adelskalender",
      "file": [
        {
          "key": "0325ecb0-7511-4bf1-b658-1043236c82a2",
          "mediaKey": "adf1d970-c44f-493c-bc99-f4fd5b79f4f3"
        }
      ]
    },
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "udi": "umb://element/1b766f263a264828a7b12a9e3c1ab9f4",
      "attachments": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/3237926adad34f4198bb2eb2f12bf77d"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
            "udi": "umb://element/3237926adad34f4198bb2eb2f12bf77d",
            "title": "Jalles TC Adelskalender",
            "file": "umb://media/adf1d970c44f493cbc99f4fd5b79f4f3"
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "udi": "umb://element/d62d99f86efa47a2babde48521ea7b43",
      "imageGallery": [
        {
          "key": "7898d2f6-2254-4fc9-84d2-d0e031852a24",
          "mediaKey": "288043c4-9aae-477e-a31b-4e09b3142d13"
        }
      ],
      "backgroundColor": {
        "value": "fafaec",
        "label": "fafaec",
        "sortOrder": 0,
        "id": "1"
      },
      "heading": "",
      "text": ""
    },
    {
      "contentTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "udi": "umb://element/7de8e1cc35e740079d9108d16f093d07",
      "heading": "Cookies",
      "description": "Cool kittes",
      "videos": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/a288ad61655445dfa9a20b280cb598b9"
            },
            {
              "contentUdi": "umb://element/0e51a92eab164757a1413909d457e8c6"
            },
            {
              "contentUdi": "umb://element/680551cb17604b61ae876c04ca230fb5"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/a288ad61655445dfa9a20b280cb598b9",
            "videoUrl": "https://www.youtube.com/watch?v=GqpwiyYsNIw",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/0e51a92eab164757a1413909d457e8c6",
            "videoUrl": "https://vimeo.com/169801905",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/680551cb17604b61ae876c04ca230fb5",
            "videoUrl": "https://vimeo.com/1023551486",
            "altText": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allmänt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/68a137950d4444be8fc1908d92c7f1bf"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/68a137950d4444be8fc1908d92c7f1bf",
      "media": [],
      "backgroundColor": "",
      "addBlurOverlay": "0"
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Adelskalender]]></Value>
    </title>
  </Properties>
</Content>