<?xml version="1.0" encoding="utf-8"?>
<Content Key="7413c529-9252-43e8-acb8-2d78ff492a94" Alias="Jalles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jalles</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-08-01T15:37:34</CreateDate>
    <NodeName Default="Jalles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/053e284f4a834911bc17b1a38f349d0f"
      },
      {
        "contentUdi": "umb://element/e5c2ba9f99e3404f90c97847b264c8d5"
      },
      {
        "contentUdi": "umb://element/2433c57f6b174c04a54844004bfbaf25"
      },
      {
        "contentUdi": "umb://element/97028bbec5e74c63b01873e7ad2d7fef"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "udi": "umb://element/053e284f4a834911bc17b1a38f349d0f",
      "heading": "Välkommen till Jalles!",
      "text": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vitae facilisis sem, vel gravida massa. Morbi in consectetur dui, et aliquet justo. Aliquam pulvinar diam vitae elit finibus aliquam. In feugiat enim tincidunt ipsum tincidunt imperdiet. Integer enim nibh, vestibulum non varius at, auctor in dui. Etiam elit justo, vulputate at semper ut, ultrices vel eros.\n\nÅ Ä Ö å ä ö",
      "media": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/896fc5f33f4441e8b02d373520f4850a"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
            "udi": "umb://element/896fc5f33f4441e8b02d373520f4850a",
            "media": [
              {
                "key": "8e228029-d3fd-40fe-8839-a7089ee08d56",
                "mediaKey": "e5f35e37-f9d2-402a-9c4c-65e7239502cc"
              }
            ],
            "addBlurOverlay": "0"
          }
        ],
        "settingsData": []
      },
      "mediaAlign": "Right",
      "cta": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/c3d3bd103b374b81a8003cfe18a8debe"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
            "udi": "umb://element/c3d3bd103b374b81a8003cfe18a8debe",
            "title": "Bli Medlem",
            "link": [
              {
                "name": "Bli Medlem",
                "udi": "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
              }
            ]
          }
        ],
        "settingsData": []
      },
      "backgroundColor": {
        "value": "fafaec",
        "label": "fafaec",
        "sortOrder": 0,
        "id": "1"
      }
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "udi": "umb://element/e5c2ba9f99e3404f90c97847b264c8d5",
      "highlights": [
        "umb://document/c764a2ffa9b84491b84cd89e30fc17b1",
        "umb://document/ba0416fefabf49d38527bc316ee613ee",
        "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
      ],
      "backgroundColor": {
        "value": "fff8ad",
        "label": "fff8ad",
        "sortOrder": 1,
        "id": "2"
      },
      "heading": "Coola grejer"
    },
    {
      "contentTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "udi": "umb://element/2433c57f6b174c04a54844004bfbaf25",
      "heading": "Cookies",
      "description": "Cool kittes",
      "videos": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/44169bf1e8da419a8c295a546d5121f3"
            },
            {
              "contentUdi": "umb://element/485ea3c4eb904d7e816f245529a80cff"
            },
            {
              "contentUdi": "umb://element/7c56fabce6f54fb18bd0f2e01cc0fdab"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/44169bf1e8da419a8c295a546d5121f3",
            "videoUrl": "https://www.youtube.com/watch?v=GqpwiyYsNIw",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/485ea3c4eb904d7e816f245529a80cff",
            "videoUrl": "https://vimeo.com/169801905",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/7c56fabce6f54fb18bd0f2e01cc0fdab",
            "videoUrl": "https://vimeo.com/1023551486",
            "altText": ""
          }
        ],
        "settingsData": []
      }
    },
    {
      "contentTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "udi": "umb://element/97028bbec5e74c63b01873e7ad2d7fef",
      "heading": "Cookies",
      "description": "Cool kittes",
      "videos": {
        "layout": {
          "Umbraco.BlockList": [
            {
              "contentUdi": "umb://element/7caf944525c34e1ba70ca991d683200b"
            },
            {
              "contentUdi": "umb://element/bc79c602a15b46d8ab2554c6120caa04"
            },
            {
              "contentUdi": "umb://element/624cb0a667594dc5b3d272392e882f35"
            }
          ]
        },
        "contentData": [
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/7caf944525c34e1ba70ca991d683200b",
            "videoUrl": "https://www.youtube.com/watch?v=GqpwiyYsNIw",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/bc79c602a15b46d8ab2554c6120caa04",
            "videoUrl": "https://vimeo.com/169801905",
            "altText": ""
          },
          {
            "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
            "udi": "umb://element/624cb0a667594dc5b3d272392e882f35",
            "videoUrl": "https://vimeo.com/1023551486",
            "altText": ""
          }
        ],
        "settingsData": []
      }
    }
  ],
  "settingsData": []
}]]></Value>
    </blocks>
    <facebook>
      <Value><![CDATA[[
  {
    "network": "facebook",
    "name": "Facebook",
    "url": "https://www.facebook.com/JallesTC/"
  }
]]]></Value>
    </facebook>
    <footer>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/431cd85e6ebc436ba4f2a58ac2fec2a2"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "031b465a-163c-4ccc-9bea-0e4367593c8c",
      "udi": "umb://element/431cd85e6ebc436ba4f2a58ac2fec2a2",
      "footerText": "Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor. Välkommen till oss!",
      "umeMaranLogo": [
        {
          "key": "32560f1b-4473-4415-9c25-4fc929489b7e",
          "mediaKey": "a912f18b-ad6c-4b3c-9ef2-bebac95972f4"
        }
      ],
      "sponsors": [
        {
          "key": "58edbf2a-cbe6-48c1-ab60-64f0eca6328d",
          "mediaKey": "73dd7bc8-524d-41c1-bcc4-031963d80181"
        },
        {
          "key": "7109be34-7e6e-44d1-af4a-091322c02fc5",
          "mediaKey": "64995593-54ff-4bb7-a218-b5c1f59bf1e0"
        }
      ]
    }
  ],
  "settingsData": []
}]]></Value>
    </footer>
    <header>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/276b0c0b1c6343c082372e35039c23eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "udi": "umb://element/276b0c0b1c6343c082372e35039c23eb",
      "media": [
        {
          "key": "4c9da99c-6ae9-4526-826b-f672aad01ebb",
          "mediaKey": "31bfa201-108a-4d32-8676-37aa3029dda3"
        }
      ],
      "addBlurOverlay": "1",
      "backgroundColor": ""
    }
  ],
  "settingsData": []
}]]></Value>
    </header>
    <mainMenu>
      <Value><![CDATA[[
  "umb://document/c764a2ffa9b84491b84cd89e30fc17b1",
  "umb://document/75f3857da98244b4a21828165759fe72",
  "umb://document/ba0416fefabf49d38527bc316ee613ee",
  "umb://document/cba757257b60432496057d625c2d74f1",
  "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
]]]></Value>
    </mainMenu>
    <metaDescription>
      <Value><![CDATA[Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor.]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "22e59a77-611c-4034-86c1-0a35ba97c4a7",
    "mediaKey": "0d61932d-1736-441e-b49e-cdb3f56c9130"
  }
]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles TC]]></Value>
    </title>
  </Properties>
</Content>