<?xml version="1.0" encoding="utf-8"?>
<Media Key="4682d385-9189-4e71-b387-541687e1056b" Alias="20221008 Umemaran 2022 Maran 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2022Maran1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-06T17:06:18</CreateDate>
    <NodeName Default="20221008 Umemaran 2022 Maran 1" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/txjjeruj/20221008_umemaran-2022_maran-1.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>