<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="288043c4-9aae-477e-a31b-4e09b3142d13" Alias="Adelskalendern" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Adelskalendern</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-13T16:44:56</CreateDate>
    <NodeName Default="Adelskalendern" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/yjbjakfo/adelskalendern.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>