<?xml version="1.0" encoding="utf-8"?>
<Media Key="638fbbd3-04fc-4f8d-89ba-ec818761a597" Alias="adfffdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/adfffdf</Path>
    <Trashed>false</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:24:15</CreateDate>
    <NodeName Default="adfffdf" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[/media/ywroe0f3/officiella-resultat2018-copy.odt]]></Value>
    </file>
    <text>
      <Value><![CDATA[sdadfg]]></Value>
    </text>
  </Properties>
</Media>