<?xml version="1.0" encoding="utf-8"?>
<Media Key="f65e90e5-ed8b-4a21-839a-7158a9de83a6" Alias="adfg" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/adfg</Path>
    <Trashed>false</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:24:03</CreateDate>
    <NodeName Default="adfg" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[/media/4oedh5ok/officiella-resultat2018-copy.docx]]></Value>
    </file>
    <text>
      <Value><![CDATA[adfg]]></Value>
    </text>
  </Properties>
</Media>