<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe332d24-47cb-450e-8e7a-c5e86c7d2a4a" Alias="Birgitta L" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BirgittaL</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:09</CreateDate>
    <NodeName Default="Birgitta L" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/eiwdh5wl/birgitta-l.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>