<?xml version="1.0" encoding="utf-8"?>
<Media Key="9101079e-5d16-41ed-bb5c-7579650dda66" Alias="Cookies" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cookies</Path>
    <Trashed>false</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-08-10T13:14:38</CreateDate>
    <NodeName Default="Cookies" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[/media/rapgzgsx/umemaran_division-42km_report2_20211009.xlsx]]></Value>
    </file>
    <text>
      <Value><![CDATA[Cookies]]></Value>
    </text>
  </Properties>
</Media>