<?xml version="1.0" encoding="utf-8"?>
<Media Key="8dc64466-f86e-4647-bab3-5cef33e6f288" Alias="hello (3)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/hello3</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:21:07</CreateDate>
    <NodeName Default="hello (3)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <text>
      <Value><![CDATA[hello]]></Value>
    </text>
  </Properties>
</Media>