<?xml version="1.0" encoding="utf-8"?>
<Media Key="a833e0b1-22f8-4c55-8519-5cc9003ca0ca" Alias="hello" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/hello</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:20:20</CreateDate>
    <NodeName Default="hello" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <text>
      <Value><![CDATA[hello]]></Value>
    </text>
  </Properties>
</Media>