<?xml version="1.0" encoding="utf-8"?>
<Media Key="84f3a15d-066b-4a39-b620-4b17fda203dc" Alias="hello (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/hello1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:20:30</CreateDate>
    <NodeName Default="hello (1)" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <text>
      <Value><![CDATA[hello]]></Value>
    </text>
  </Properties>
</Media>