<?xml version="1.0" encoding="utf-8"?>
<Media Key="c15a4fb3-129e-4108-bb77-179a27e3f560" Alias="hello (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/hello2</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>attachment</ContentType>
    <CreateDate>2023-09-06T17:21:00</CreateDate>
    <NodeName Default="hello (2)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <file>
      <Value><![CDATA[]]></Value>
    </file>
    <text>
      <Value><![CDATA[hello]]></Value>
    </text>
  </Properties>
</Media>