<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe1f42d5-d237-4418-84ec-84f1e32a0184" Alias="ICA Supermarket Böleäng" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/ICASupermarketBoeleaeng</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:11:00</CreateDate>
    <NodeName Default="ICA Supermarket Böleäng" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "30a524c6-1883-4e25-ae3b-908d5f3da73b",
    "mediaKey": "f97a66fb-9513-4ca0-a062-6f880c006fd4"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[ICA Supermarket Böleäng]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>