<?xml version="1.0" encoding="utf-8"?>
<Media Key="ceaa7b02-a9bb-4b35-a539-74b345760f65" Alias="Inbjudan Umemaran" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InbjudanUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T17:06:20</CreateDate>
    <NodeName Default="Inbjudan Umemaran" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fr3lvtv1/inbjudan-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>