<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fa7d4e1-6937-49e0-b447-3ba28d583358" Alias="Jalle O Ivar Svedjan Runt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JalleOIvarSvedjanRunt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T13:26:05</CreateDate>
    <NodeName Default="Jalle O Ivar Svedjan Runt" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/25kkodzx/jalle-o-ivar-svedjan-runt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>