<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae2655f1-2366-4ad9-af10-d5eefb90b6b9" Alias="Jalle O Ivar Svedjan Runt" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JalleOIvarSvedjanRunt</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T13:22:59</CreateDate>
    <NodeName Default="Jalle O Ivar Svedjan Runt" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/43kdnltg/jalle-o-ivar-svedjan-runt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>