<?xml version="1.0" encoding="utf-8"?>
<Media Key="83d1ff07-dda0-4f94-b508-7c57e0ebffd6" Alias="Jalle O Ivar Svedjan Runt (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/JalleOIvarSvedjanRunt1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T13:17:57</CreateDate>
    <NodeName Default="Jalle O Ivar Svedjan Runt (1)" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ah5nda3a/jalle-o-ivar-svedjan-runt.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>