<?xml version="1.0" encoding="utf-8"?>
<Media Key="1859a455-ff15-4ea9-baf4-9303c77e20db" Alias="Jalles TC Adelskalender" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JallesTCAdelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-09T18:16:48</CreateDate>
    <NodeName Default="Jalles TC Adelskalender" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jwsfsgav/jalles-tc-adelskalender.xls]]></Value>
    </umbracoFile>
  </Properties>
</Media>