<?xml version="1.0" encoding="utf-8"?>
<Media Key="12c2f989-b6e1-40b8-887e-014e7c040075" Alias="Jalles TC Adelskalender (1) (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JallesTCAdelskalender11</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-08-09T18:11:24</CreateDate>
    <NodeName Default="Jalles TC Adelskalender (1) (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sh2neexb/jalles-tc-adelskalender-1.xls]]></Value>
    </umbracoFile>
  </Properties>
</Media>