<?xml version="1.0" encoding="utf-8"?>
<Media Key="6782f7db-6b88-4414-ba11-edca34cc66f8" Alias="Jonas U" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JonasU</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:11</CreateDate>
    <NodeName Default="Jonas U" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1x1jez2i/jonas-u.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>