<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="17876b31-aa65-4196-8e52-d4f3a9f11397" Alias="Kjell G H" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KjellGH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:12</CreateDate>
    <NodeName Default="Kjell G H" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/g3vjof1f/kjell-g-h.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>