<?xml version="1.0" encoding="utf-8"?>
<Media Key="362299be-47e7-475d-9be1-9cdb35251956" Alias="Lena O" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LenaO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:12</CreateDate>
    <NodeName Default="Lena O" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xcmdenxh/lena-o.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>