<?xml version="1.0" encoding="utf-8"?>
<Media Key="f24c17da-99fd-4fbc-9406-e1688265f028" Alias="Moa E" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MoaE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:12</CreateDate>
    <NodeName Default="Moa E" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1qlfz2x3/moa-e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>