<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="3eecf3f9-c9f6-411c-9fe4-069099aba46b" Alias="Monika H" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/MonikaH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:12</CreateDate>
    <NodeName Default="Monika H" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/55zpypxw/monika-h.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>