<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="97f4dd75-d8a8-44df-8738-1c668b4d4803" Alias="NLM 78 Danny F O Jalle (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NLM78DannyFOJalle1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:13</CreateDate>
    <NodeName Default="NLM 78 Danny F O Jalle (1)" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/opopjf3i/nlm-78-danny-f-o-jalle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>