<?xml version="1.0" encoding="utf-8"?>
<Media Key="95747fbf-1804-4141-9cb7-56e9aff5d09a" Alias="Norra Norrland" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/NorraNorrland</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:12:34</CreateDate>
    <NodeName Default="Norra Norrland" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "bc46063d-0b7e-4149-8419-4c19fd0a5c2d",
    "mediaKey": "8ff97764-1093-4f68-a09a-c7b132d14c9c"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Norra Norrland]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>