<?xml version="1.0" encoding="utf-8"?>
<Media Key="39a8ae2f-7b65-4b14-9bd6-566ee6a98a4d" Alias="Ordforandejk" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ordforandejk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:13</CreateDate>
    <NodeName Default="Ordforandejk" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fgxkqolf/ordforandejk.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>