<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="3b26d9a5-4dac-412c-9be2-5e6b12582e0b" Alias="Rune S 2" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RuneS2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:13</CreateDate>
    <NodeName Default="Rune S 2" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/upmdmo3m/rune-s-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>