<?xml version="1.0" encoding="utf-8"?>
<Media Key="a33bfe80-de36-43c7-9233-1b961b716d23" Alias="Sponsors" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sponsors</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-10T12:56:50</CreateDate>
    <NodeName Default="Sponsors" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>