<?xml version="1.0" encoding="utf-8"?>
<Media Key="7a277410-acf0-4c55-83cf-e0f9b229dd60" Alias="Sponsor" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Sponsor</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-04T13:20:02</CreateDate>
    <NodeName Default="Sponsor" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>