<?xml version="1.0" encoding="utf-8"?>
<Media Key="872e631e-cbc4-4de7-96fd-50f6515e90e3" Alias="Sponsor Logos" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/SponsorLogos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-10T12:57:02</CreateDate>
    <NodeName Default="Sponsor Logos" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>