<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebbf42ad-737d-42db-b509-db3e26ba0750" Alias="Staffan D" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/StaffanD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:14</CreateDate>
    <NodeName Default="Staffan D" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vnbl5013/staffan-d.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>