<?xml version="1.0" encoding="utf-8"?>
<Media Key="93fcc0b1-4055-4e1d-953d-34a0b00f8510" Alias="Stamford" Level="2">
  <Info>
    <Parent Key="7a277410-acf0-4c55-83cf-e0f9b229dd60">Sponsor</Parent>
    <Path>/Sponsor/Stamford</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-04T13:19:46</CreateDate>
    <NodeName Default="Stamford" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "79374f21-02c5-4646-8d6d-69aedeec4a85",
    "mediaKey": "35962501-e468-48b5-9120-532216eac7cc"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stamford]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://hem.stamford.se/",
    "url": "https://hem.stamford.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>