<?xml version="1.0" encoding="utf-8"?>
<Media Key="64995593-54ff-4bb7-a218-b5c1f59bf1e0" Alias="Stamford" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Stamford</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-10T12:58:30</CreateDate>
    <NodeName Default="Stamford" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9d5d42f4-7782-4922-bba8-5d3573aa0f74",
    "mediaKey": "20006d42-bc1f-4c64-9203-716ba5450923"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stamford]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://hem.stamford.se/",
    "url": "https://hem.stamford.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>