<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="64995593-54ff-4bb7-a218-b5c1f59bf1e0" Alias="Stamford" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Stamford</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-10T12:58:30</CreateDate>
    <NodeName Default="Stamford" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "eb06d500-b470-4cd5-b357-048f07e7474c",
    "mediaKey": "ca9fa169-5545-43c4-a7f9-dee27bf535cd"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stamford]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://hem.stamford.se/",
    "url": "https://hem.stamford.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</MediaBlock>