<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e364964-5a67-4fa4-88fb-33ec1a05ad32" Alias="STENARECYCLING Blue" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/STENARECYCLINGBlue</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T20:10:26</CreateDate>
    <NodeName Default="STENARECYCLING Blue" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mjedmxth/stenarecycling_blue.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>