<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="13c10ea3-b4b2-4bdd-a3c2-535aafe3f413" Alias="Stena" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Stena</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:11:51</CreateDate>
    <NodeName Default="Stena" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "6ecc0ffa-9b30-427c-94df-d16f92649020",
    "mediaKey": "5e364964-5a67-4fa4-88fb-33ec1a05ad32"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stena]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</MediaBlock>