<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="0877235c-577a-4123-84e5-963e04ee5e4c" Alias="Teamsportia 2Radig Srgb" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Teamsportia2RadigSrgb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T19:44:48</CreateDate>
    <NodeName Default="Teamsportia 2Radig Srgb" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lirhocd0/teamsportia_2radig_srgb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>