<?xml version="1.0" encoding="utf-8"?>
<Media Key="65101501-eb82-4e16-86d3-ec54159394e7" Alias="Team Sportia" Level="102">
  <Info>
    <Parent Key="7a277410-acf0-4c55-83cf-e0f9b229dd60">Sponsor</Parent>
    <Path>/[-21]/Sponsor/TeamSportia</Path>
    <Trashed Parent="7a277410-acf0-4c55-83cf-e0f9b229dd60">true</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-10T12:40:15</CreateDate>
    <NodeName Default="Team Sportia" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "6d1446c6-a0ad-487d-a72c-75c82599d0a6",
    "mediaKey": "149f9594-7549-4f06-9a92-ce651e3aeb1f"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Team Sportia]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>