<?xml version="1.0" encoding="utf-8"?>
<Media Key="149f9594-7549-4f06-9a92-ce651e3aeb1f" Alias="Teamsportia 2Radig Srgb" Level="3">
  <Info>
    <Parent Key="032d0b2b-53aa-463a-80eb-058c29f5c25e">Sponsor Logos</Parent>
    <Path>/Sponsor/SponsorLogos/Teamsportia2RadigSrgb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T13:18:33</CreateDate>
    <NodeName Default="Teamsportia 2Radig Srgb" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/skkj4fcj/teamsportia_2radig_srgb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>