<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc14c4b4-ea59-4347-a663-e6fc3afe3a70" Alias="Teamsportia 2Radig Srgb" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Teamsportia2RadigSrgb</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-10T12:49:05</CreateDate>
    <NodeName Default="Teamsportia 2Radig Srgb" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wlcbjpcz/teamsportia_2radig_srgb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>