<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="2e091957-8604-43e6-a4c6-4bd7453a71ed" Alias="Teamsportia 2Radig Srgb" Level="3">
  <Info>
    <Parent Key="872e631e-cbc4-4de7-96fd-50f6515e90e3">Sponsor Logos</Parent>
    <Path>/Sponsors/SponsorLogos/Teamsportia2RadigSrgb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-10T12:57:12</CreateDate>
    <NodeName Default="Teamsportia 2Radig Srgb" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kembslqe/teamsportia_2radig_srgb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>