<?xml version="1.0" encoding="utf-8"?>
<Media Key="2a48378e-19be-4b8c-82b6-44021995f63d" Alias="Team Sportia" Level="2">
  <Info>
    <Parent Key="7a277410-acf0-4c55-83cf-e0f9b229dd60">Sponsor</Parent>
    <Path>/Sponsor/TeamSportia</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-04T13:18:52</CreateDate>
    <NodeName Default="Team Sportia" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9e466699-a3a4-4bab-8ac2-c799fa380729",
    "mediaKey": "149f9594-7549-4f06-9a92-ce651e3aeb1f"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Team Sportia]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.teamsportia.se/",
    "url": "https://www.teamsportia.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>