<?xml version="1.0" encoding="utf-8"?>
<Media Key="9635261d-9d6d-4dea-b9e5-c5fd6bf78453" Alias="test (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/test1</Path>
    <Trashed Parent="916724a5-173d-4619-b97e-b9de133dd6f5">true</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-10T12:52:49</CreateDate>
    <NodeName Default="test (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "a189ad8a-b295-4255-b0ce-ddf6120a2086",
    "mediaKey": "e5f35e37-f9d2-402a-9c4c-65e7239502cc"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[test]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>