<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="733382ae-319a-437a-ad53-a8138230c3d8" Alias="Umara" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Umara</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:12:16</CreateDate>
    <NodeName Default="Umara" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "13416851-ed51-44b6-91d5-aaff950defa9",
    "mediaKey": "dbd66f87-d479-4c5d-9350-5f4222f68d2c"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Umara]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</MediaBlock>