<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="8262725a-354c-4979-ad62-9b1db4e31a1c" Alias="Umemaran Kopia Grå" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmemaranKopiaGraa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-04T13:27:24</CreateDate>
    <NodeName Default="Umemaran Kopia Grå" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lrzgfasm/umemaran-kopia-graa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>