<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="86cefb26-fa74-4d40-8219-62b497a2e4d6" Alias="Västerbottningen" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Vaesterbottningen</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:11:39</CreateDate>
    <NodeName Default="Västerbottningen" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "0f84fa27-e5cf-4871-90aa-d5c23f306cde",
    "mediaKey": "6f9df450-456a-4758-bb3f-269a0596eb05"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Västerbottningen]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</MediaBlock>