<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f38335c-fb91-4dc2-b170-2d580c9e36c1" Alias="Wasaline" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/Wasaline</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:12:05</CreateDate>
    <NodeName Default="Wasaline" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "b8a03076-889a-4889-b3c5-44f8223fa594",
    "mediaKey": "e07c922a-5fcc-4fd4-bfdd-b325dc7862c0"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Wasaline]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>