<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7923af79-7921-4150-ba76-6dae611e40e1" Alias="Approved Colors Jalles TC" Level="2">
  <Info>
    <Name>Approved Colors Jalles TC</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "fafaec",
      "label": "fafaec"
    },
    {
      "value": "fff8ad",
      "label": "fff8ad"
    },
    {
      "value": "ffeb19",
      "label": "ffeb19"
    },
    {
      "value": "8a817c",
      "label": "8a817c"
    },
    {
      "value": "463f3a",
      "label": "463f3a"
    },
    {
      "value": "1e2022",
      "label": "1e2022"
    }
  ],
  "umbMigrationV14": "2026-02-21T19:44:41.333251\u002B00:00",
  "useLabel": false
}]]></Config>
</DataType>