<?xml version="1.0" encoding="utf-8"?>
<DataType Key="7923af79-7921-4150-ba76-6dae611e40e1" Alias="Approved Colors Jalles TC" Level="2">
  <Info>
    <Name>Approved Colors Jalles TC</Name>
    <EditorAlias>Umbraco.ColorPicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ColorPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    {
      "value": "F4F2E2",
      "label": ""
    },
    {
      "value": "A79B6E",
      "label": ""
    },
    {
      "value": "7A7F50",
      "label": ""
    },
    {
      "value": "ffeb19",
      "label": "ffeb19"
    },
    {
      "value": "3A3418",
      "label": ""
    },
    {
      "value": "0A0A0A",
      "label": ""
    }
  ],
  "umbMigrationV14": "2026-02-21T19:44:41.333251\u002B00:00",
  "useLabel": false
}]]></Config>
</DataType>