<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e00ea02b-fbb8-4319-960f-1a51ac150aa3" Alias="Attachment - File upload" Level="2">
  <Info>
    <Name>Attachment - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{}]]></Config>
</DataType>