<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a60a7b73-bdde-4b36-93cc-9111fe6f1816" Alias="Categories - Repeatable textstrings" Level="2">
  <Info>
    <Name>Categories - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MultipleTextString</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "max": 0,
  "min": 0,
  "umbMigrationV14": "2026-02-21T19:44:41.334333\u002B00:00"
}]]></Config>
</DataType>