<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe5769a3-3b74-47c8-bc2e-ad8c92d2ff77" Alias="CTA Block Editor" Level="2">
  <Info>
    <Name>CTA Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
      "label": "{{title}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 2
  }
}]]></Config>
</DataType>