<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0f4eba86-9c8d-44bd-9165-fb863a885394" Alias="Data Block Editor" Level="2">
  <Info>
    <Name>Data Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "43e5ff2d-2840-4950-82f7-8cb8315c739b",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "maxPropertyWidth": "100%",
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>