<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f8c5af47-bad7-41db-a4ca-003b50307aa8" Alias="Date Block Editor" Level="2">
  <Info>
    <Name>Date Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "label": "{umbValue: date}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>