<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aacce378-43d5-4ca5-b85c-c2ca291ad82e" Alias="Error Page Block Editor" Level="2">
  <Info>
    <Name>Error Page Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>