<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2f75ac0f-465e-421a-b0e4-a123e6c75501" Alias="Excel - File upload" Level="2">
  <Info>
    <Name>Excel - File upload</Name>
    <EditorAlias>Umbraco.UploadField</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.UploadField</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "fileExtensions": [
    ".xlsx",
    ".xls"
  ],
  "umbMigrationV14": "2026-02-21T19:44:41.336148\u002B00:00"
}]]></Config>
</DataType>