<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1475bf7-fb2b-4b1e-9d0f-a3dd1f7d9968" Alias="File - Multinode Treepicker" Level="2">
  <Info>
    <Name>File - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "ignoreUserStartNodes": false,
  "maxNumber": 1,
  "minNumber": 1,
  "showOpenButton": false,
  "startNode": {
    "type": "media",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2026-02-21T19:44:41.340312\u002B00:00"
}]]></Config>
</DataType>