<?xml version="1.0" encoding="utf-8"?>
<DataType Key="74d20515-60a0-4269-9692-81beaf110596" Alias="Header Block Editor" Level="2">
  <Info>
    <Name>Header Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "label": "{umbValue: heading}"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>