<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c95ea832-5601-45e2-a10f-3c2b1013506e" Alias="Highlight Block Editor" Level="2">
  <Info>
    <Name>Highlight Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "label": "",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>