<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f95f41c-d10a-49c7-9890-c53cdcd97d18" Alias="Media Align - Radio button list" Level="2">
  <Info>
    <Name>Media Align - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.RadioButtonList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "items": [
    "Left",
    "Right"
  ],
  "umbMigrationV14": "2026-02-21T19:44:41.336992\u002B00:00"
}]]></Config>
</DataType>