<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c8c3b92d-19e1-472e-b40f-041b51ec6ee9" Alias="Mixed Block Editor" Level="2">
  <Info>
    <Name>Mixed Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "label": "{{heading}}",
      "editorSize": "large",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "66d91335-d39c-42ae-8bc3-ce9f9b4cc16d",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "76aced87-6967-4df0-bff3-ba93fa5122dc",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "6242c7ee-aa55-46bd-bc70-7d04a48ef93e",
      "label": "{{heading}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "label": "{{heading || $contentTypeName}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>