<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a458aa11-f0c3-414e-b6d3-ce1b824cc1e2" Alias="Mixed Block Editor (Start Page)" Level="2">
  <Info>
    <Name>Mixed Block Editor (Start Page)</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "label": "{umbValue: heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "label": "{umbValue: heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "contentElementTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "label": "{umbValue: heading}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {}
}]]></Config>
</DataType>