<?xml version="1.0" encoding="utf-8"?>
<DataType Key="ef73cbb5-5591-47e5-9eeb-6e673cd6e005" Alias="Multiple Content Picker" Level="2">
  <Info>
    <Name>Multiple Content Picker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "a00c5be9-414e-4607-a320-9202cbf72448,56a67423-182b-4522-95d0-d4878aebd570,3d39fade-0511-40fc-93f4-dfb72a9902bb",
  "maxNumber": 3,
  "minNumber": 0
}]]></Config>
</DataType>