<?xml version="1.0" encoding="utf-8"?>
<DataType Key="867ff592-0fa6-4f75-9460-ac206d163148" Alias="Pin This Block Editor" Level="2">
  <Info>
    <Name>Pin This Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "54af0080-5ed7-4ebd-b42c-3466ed6ed762",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": false,
  "validationLimit": {
    "max": 1
  }
}]]></Config>
</DataType>