<?xml version="1.0" encoding="utf-8"?>
<DataType Key="18a41c01-a221-4c0f-9cd2-85b3590a4136" Alias="Pin This Block - Multinode Treepicker" Level="2">
  <Info>
    <Name>Pin This Block - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.ContentPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "filter": "a00c5be9-414e-4607-a320-9202cbf72448",
  "ignoreUserStartNodes": false,
  "maxNumber": 3,
  "minNumber": 0,
  "showOpenButton": false,
  "startNode": {
    "type": "content",
    "id": null,
    "dynamicRoot": null
  },
  "umbMigrationV14": "2026-02-21T19:44:41.337888\u002B00:00"
}]]></Config>
</DataType>