<?xml version="1.0" encoding="utf-8"?>
<DataType Key="956e8e36-4449-4731-a3ea-1c8d30e67001" Alias="Secondary Listing Page - Main Category - [Contentment] Data List NEW" Level="2">
  <Info>
    <Name>Secondary Listing Page - Main Category - [Contentment] Data List NEW</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <EditorUIAlias>Umb.Contentment.PropertyEditorUi.DataList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Jalles.Web.ContentmentDataSource.CategoryDataSource, Jalles.Web",
      "value": {
        "propAlias": "categories"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": false
      }
    }
  ]
}]]></Config>
</DataType>