<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f5eb3f43-45d1-4720-89cb-04fa635450a7" Alias="Simple Media Block Editor" Level="2">
  <Info>
    <Name>Simple Media Block Editor</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "useInlineEditingAsDefault": false,
  "useLiveEditing": false,
  "useSingleBlockMode": true,
  "validationLimit": {
    "min": 1,
    "max": 1
  }
}]]></Config>
</DataType>