<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cea7a0a-6fbe-472c-be5a-d2bfac14b54a" Alias="Sponsors - Media Picker" Level="2">
  <Info>
    <Name>Sponsors - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.MediaPicker</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "enableLocalFocalPoint": false,
  "filter": "7bfa9eaa-7949-4858-a198-2b317d96458e",
  "ignoreUserStartNodes": false,
  "multiple": true,
  "umbMigrationV14": "2026-02-21T19:44:41.339422\u002B00:00",
  "validationLimit": {}
}]]></Config>
</DataType>