<?xml version="1.0" encoding="utf-8"?>
<DataType Key="035a99b7-ba37-4aae-9227-67ea566ee42b" Alias="Text Block - Rich Text Editor" Level="2">
  <Info>
    <Name>Text Block - Rich Text Editor</Name>
    <EditorAlias>Umbraco.RichText</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.Tiptap</EditorUIAlias>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "extensions": [
    "Umb.Tiptap.RichTextEssentials",
    "tiptap-clear-formatting-extension",
    "Umb.Tiptap.Heading",
    "Umb.Tiptap.Blockquote",
    "Umb.Tiptap.Bold",
    "Umb.Tiptap.BulletList",
    "Umb.Tiptap.Italic",
    "Umb.Tiptap.OrderedList",
    "Umb.Tiptap.Link",
    "Umb.Tiptap.Image",
    "Umb.Tiptap.MediaUpload",
    "Umb.Tiptap.Embed",
    "Umb.Tiptap.Figure",
    "Umb.Tiptap.WordCount"
  ],
  "ignoreUserStartNodes": false,
  "maxImageSize": 500,
  "overlaySize": "large",
  "statusbar": [
    [
      "Umb.Tiptap.Statusbar.ElementPath"
    ],
    [
      "Umb.Tiptap.Statusbar.WordCount"
    ]
  ],
  "toolbar": [
    [
      [
        "Umb.Tiptap.Toolbar.Undo",
        "Umb.Tiptap.Toolbar.Redo"
      ],
      [
        "tiptap-clear-formatting-toolbar-extension"
      ],
      [
        "Umb.Tiptap.Toolbar.Heading1",
        "Umb.Tiptap.Toolbar.Heading2",
        "Umb.Tiptap.Toolbar.Heading3",
        "Umb.Tiptap.Toolbar.Heading4"
      ],
      [
        "Umb.Tiptap.Toolbar.Bold",
        "Umb.Tiptap.Toolbar.Italic"
      ],
      [
        "Umb.Tiptap.Toolbar.BulletList",
        "Umb.Tiptap.Toolbar.OrderedList",
        "Umb.Tiptap.Toolbar.Blockquote"
      ],
      [
        "Umb.Tiptap.Toolbar.Link",
        "Umb.Tiptap.Toolbar.Unlink"
      ],
      [
        "Umb.Tiptap.Toolbar.EmbeddedMedia",
        "Umb.Tiptap.Toolbar.MediaPicker"
      ]
    ]
  ],
  "umbMigrationV14": "2026-02-21T19:44:41.339891\u002B00:00"
}]]></Config>
</DataType>