<?xml version="1.0" encoding="utf-8"?>
<DataType Key="75104fb6-34d3-40ec-86ed-228880ca78dc" Alias="Alignment - Left-Center" Level="1">
  <Info>
    <Name>Alignment - Left-Center</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Center"
    }
  ]
}]]></Config>
</DataType>