<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a60a7b73-bdde-4b36-93cc-9111fe6f1816" Alias="Categories - Repeatable textstrings" Level="2">
  <Info>
    <Name>Categories - Repeatable textstrings</Name>
    <EditorAlias>Umbraco.MultipleTextstring</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Maximum": 0,
  "Minimum": 0
}]]></Config>
</DataType>