<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d443526f-e1c7-4d6a-bbc2-d29f6a6c8d5c" Alias="Category - [Contentment] Data List" Level="2">
  <Info>
    <Name>Category - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Jalles.Web.DataSource.PropertyDataDataSource, Jalles.Web",
      "value": {
        "propAlias": "categories"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ButtonsDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "defaultIcon": "icon-document",
        "size": "m",
        "labelStyle": "text",
        "allowClear": "1",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>