<?xml version="1.0" encoding="utf-8"?>
<DataType Key="48c47adc-c9b3-4a2d-853f-00658004919e" Alias="Excel - Media Picker" Level="1">
  <Info>
    <Name>Excel - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "File",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>