<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa2d8add-11b0-4f4d-9b7d-ab4e99cdc04a" Alias="Facebook - [Contentment] Social Links" Level="1">
  <Info>
    <Name>Facebook - [Contentment] Social Links</Name>
    <EditorAlias>Umbraco.Community.Contentment.SocialLinks</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "networks": [
    {
      "key": "network",
      "value": {
        "network": "facebook",
        "name": "Facebook",
        "url": "https://facebook.com/",
        "icon": "icon-facebook",
        "backgroundColor": "#3b5998",
        "iconColor": "#fff"
      }
    }
  ],
  "confirmRemoval": "1",
  "maxItems": 1,
  "enableDevMode": "0"
}]]></Config>
</DataType>