<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1475bf7-fb2b-4b1e-9d0f-a3dd1f7d9968" Alias="File - Multinode Treepicker" Level="2">
  <Info>
    <Name>File - Multinode Treepicker</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 1,
  "ShowOpen": false,
  "TreeSource": {
    "id": null,
    "query": null,
    "type": "media"
  }
}]]></Config>
</DataType>