<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6df0630e-1d08-460c-a079-c5b53d396204" Alias="Highlight Block Properties - [Contentment] Data List" Level="1">
  <Info>
    <Name>Highlight Block Properties - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.UmbracoContentDataListSource, Umbraco.Community.Contentment",
      "value": {
        "parentNode": "umb://document/7413c529925243e8acb82d78ff492a94"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.ItemPickerDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "overlaySize": [
          "medium"
        ],
        "listType": "grid",
        "defaultIcon": "icon-document",
        "enableFilter": "1",
        "maxItems": 3,
        "allowClear": "0",
        "enableMultiple": "1"
      }
    }
  ]
}]]></Config>
</DataType>