<?xml version="1.0" encoding="utf-8"?>
<DataType Key="9f95f41c-d10a-49c7-9890-c53cdcd97d18" Alias="Media Align - Radio button list" Level="2">
  <Info>
    <Name>Media Align - Radio button list</Name>
    <EditorAlias>Umbraco.RadioButtonList</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Left"
    },
    {
      "id": 2,
      "value": "Right"
    }
  ]
}]]></Config>
</DataType>