<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fe761b74-0c6f-4768-a455-8d00e7114e1d" Alias="Meta Description - Textarea" Level="2">
  <Info>
    <Name>Meta Description - Textarea</Name>
    <EditorAlias>Umbraco.TextArea</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "MaxChars": 155,
  "Rows": null
}]]></Config>
</DataType>