<?xml version="1.0" encoding="utf-8"?>
<DataType Key="eac7f557-84d0-4298-9281-f2d70071ebc6" Alias="Secondary Listing Page - Main Category - [Contentment] Data List" Level="2">
  <Info>
    <Name>Secondary Listing Page - Main Category - [Contentment] Data List</Name>
    <EditorAlias>Umbraco.Community.Contentment.DataList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "dataSource": [
    {
      "key": "Jalles.Web.DataSource.PropertyDataDataSource, Jalles.Web",
      "value": {
        "propAlias": "categories"
      }
    }
  ],
  "listEditor": [
    {
      "key": "Umbraco.Community.Contentment.DataEditors.DropdownListDataListEditor, Umbraco.Community.Contentment",
      "value": {
        "allowEmpty": "0",
        "htmlAttributes": []
      }
    }
  ]
}]]></Config>
</DataType>