<?xml version="1.0" encoding="utf-8"?>
<DataType Key="3cea7a0a-6fbe-472c-be5a-d2bfac14b54a" Alias="Sponsors - Media Picker" Level="1">
  <Info>
    <Name>Sponsors - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "sponsor",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>