<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a907468-8a19-46a6-b1a1-07f99fd4ee07" Alias="Sponsors - Media Picker" Level="2">
  <Info>
    <Name>Sponsors - Media Picker</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "sponsor",
  "IgnoreUserStartNodes": false,
  "Multiple": true,
  "StartNodeId": "umb://media/7a277410acf04c5583cfe0f9b229dd60",
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>