<?xml version="1.0" encoding="utf-8"?>
<DataType Key="035a99b7-ba37-4aae-9227-67ea566ee42b" Alias="Text Block - Rich Text Editor" Level="2">
  <Info>
    <Name>Text Block - Rich Text Editor</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom+Data+Types</Folder>
  </Info>
  <Config><![CDATA[{
  "Editor": {
    "toolbar": [
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "bold",
      "italic",
      "bullist",
      "link",
      "unlink",
      "table"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": null,
  "OverlaySize": "large"
}]]></Config>
</DataType>