<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6bc23172-58d4-40d1-8cda-b4fc1a8d5e29" Alias="categoriesProperty" Level="2">
  <Info>
    <Name>Categories Property</Name>
    <Icon>icon-defrag color-brown</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f4ad124f-3d53-4b35-9b79-7d7e2972afd9</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>a60a7b73-bdde-4b36-93cc-9111fe6f1816</Definition>
      <Type>Umbraco.MultipleTextstring</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Kategorierna kommer endast att samlas in från "Aktuellts" listningssida, andra värden kommer att ignoreras.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="categories">Categories</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>4f5e8c42-2902-40bc-8987-185d3e528a1b</Key>
      <Caption>Categories</Caption>
      <Alias>categories</Alias>
      <Type>Tab</Type>
      <SortOrder>15</SortOrder>
    </Tab>
  </Tabs>
</ContentType>