<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a00c5be9-414e-4607-a320-9202cbf72448" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-cupcake color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Innehållssida</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8d2de493-eb6b-4cd9-aee7-66680f173735">basePageProperties</Composition>
      <Composition Key="943239c7-b68f-4b9d-b3be-ac7e42c9a0f6">thumbnailProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>e65e383e-219e-451f-8111-f5dc37283550</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>c8c3b92d-19e1-472e-b40f-041b51ec6ee9</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lägg till olika blocks för att visas på sidan]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>100e0cdf-0a48-4a23-855f-1ac91a8792c2</Key>
      <Name>Categories</Name>
      <Alias>categories</Alias>
      <Definition>2019c69d-0a23-41eb-a395-dc21c56c8af9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj vilka kategorier den här sidan tillhör. (Påverkar inte sidor som ligger direkt i huvudmenyn)]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d2e9015d-d65e-4752-b8dd-2fdeb3cbe480</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>74d20515-60a0-4269-9692-81beaf110596</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidhuvud Block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>ca8ea2a9-52e2-4c6d-b0b6-c972fc1070ae</Key>
      <Name>Published Date</Name>
      <Alias>publishedDate</Alias>
      <Definition>f8c5af47-bad7-41db-a4ca-003b50307aa8</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lägg till detta på sidor som  ni vill bakåtdatera. (Ex. På sidor med resultatlistor från tidigare år.) Andra sidor får sitt datum automatiskt.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>ad6690ea-f580-4740-995e-f07ce7acb69d</Key>
      <Caption>Base Properties</Caption>
      <Alias>baseProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>f201419b-f139-4830-be8e-9617716745ea</Key>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>