<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="181ad78f-e8d0-4318-9816-2d024f08b075" Alias="cTABlock" Level="3">
  <Info>
    <Name>CTA Block</Name>
    <Icon>icon-brick color-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Knapp Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="eaae6a9f-410c-4273-8cd4-48575fc7331d">cTAProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>