<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="02540547-6891-435e-9d06-6781ea208165" Alias="dateBlock" Level="3">
  <Info>
    <Name>Date Block</Name>
    <Icon>icon-calendar color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Datum Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="a550c733-7094-495a-bf1f-8d56f47a0eb6">dateProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>