<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="9ae98fa9-7f7b-4cf3-8f74-edc62ce2da46" Alias="mediaBlock" Level="3">
  <Info>
    <Name>Media Block</Name>
    <Icon>icon-pictures color-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Media Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="f91c5003-87bb-4df5-9584-0b0f4628a591">mediaProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>