<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="fb64dc76-95d9-48f3-bd99-11969513b10a" Alias="pinThisBlockProperties" Level="2">
  <Info>
    <Name>Pin This Block Properties</Name>
    <Icon>icon-defrag color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>a53ad00a-62e4-4c8a-94dd-ee69ee2e932c</Key>
      <Name>Pins</Name>
      <Alias>pins</Alias>
      <Definition>18a41c01-a221-4c0f-9cd2-85b3590a4136</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidor ni vill att folk ska komma ihåg!]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="pinThis">Pin This</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>2a4cdd32-25f3-42c2-b885-212909e4e276</Key>
      <Caption>Pin This</Caption>
      <Alias>pinThis</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>