<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="3d39fade-0511-40fc-93f4-dfb72a9902bb" Alias="secondaryListingPage" Level="2">
  <Info>
    <Name>Secondary Listing Page</Name>
    <Icon>icon-bulleted-list color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sekundär Listningssida</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8d2de493-eb6b-4cd9-aee7-66680f173735">basePageProperties</Composition>
      <Composition Key="943239c7-b68f-4b9d-b3be-ac7e42c9a0f6">thumbnailProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f68801e9-5f07-49bd-b6ca-9a6adaf3c6dd</Key>
      <Name>Pin This Block</Name>
      <Alias>block</Alias>
      <Definition>867ff592-0fa6-4f75-9460-ac206d163148</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lägg till ett "Kom Ihåg Block"]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="block">Block</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9cdb436d-081e-4a2a-8614-4ed4c914f667</Key>
      <Name>Displayed Categories</Name>
      <Alias>displayedCategories</Alias>
      <Definition>2019c69d-0a23-41eb-a395-dc21c56c8af9</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj kategorier som visas på sidan. (Det är inte nödvändigt att visa huvudkategorin)]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c7cfe271-c644-4296-a3a8-dd92b6abc1e7</Key>
      <Name>Display Title</Name>
      <Alias>displayTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj om titeln ska visas på sidan]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1d413f6-9855-4308-9b26-67787ae57864</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>74d20515-60a0-4269-9692-81beaf110596</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidhuvud Block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b483804-f533-4bbb-b87d-64ddc711e58c</Key>
      <Name>Main Category</Name>
      <Alias>mainCategory</Alias>
      <Definition>956e8e36-4449-4731-a3ea-1c8d30e67001</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj huvudkategori för den här sidan. (Bör vara samma som titeln på sidan, t.ex. Umemaran)]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>8d3e48a1-ddcf-4868-a3a5-5fb1e43df437</Key>
      <Caption>Base Properties</Caption>
      <Alias>baseProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
    <Tab>
      <Key>f17c758d-58da-4779-a435-fdc726dbcb66</Key>
      <Caption>Block</Caption>
      <Alias>block</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>