<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="6242c7ee-aa55-46bd-bc70-7d04a48ef93e" Alias="sponsorBlock" Level="3">
  <Info>
    <Name>Sponsor Block</Name>
    <Icon>icon-medal color-cyan</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sponsorer Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="1c522d7e-594a-4fff-9e2d-b35bce37602f">sponsorBlockProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>