<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="30a239bb-9552-4178-ad1a-fe39863c5676" Alias="startPageProperties" Level="2">
  <Info>
    <Name>Start Page Properties</Name>
    <Icon>icon-defrag color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>c20097d1-a6a3-40f3-89ab-e6fb1245cc99</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>fe761b74-0c6f-4768-a455-8d00e7114e1d</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Metabeskrivning: Är bra för google och när ni delar sidorna.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>15e64ba8-80bc-4316-aab4-d6db84d90354</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Titel]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>dc9c401a-2064-43ea-beb6-bea7d3a6a620</Key>
      <Caption>Base Properties</Caption>
      <Alias>baseProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>