<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8faea3cb-c46b-4bba-936e-6e20c2dfaa94" Alias="startPage" Level="2">
  <Info>
    <Name>Start Page</Name>
    <Icon>icon-home color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Startsida</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="451616ef-088b-4949-a1c7-1f792b4811cb">mainMenuProperties</Composition>
      <Composition Key="30a239bb-9552-4178-ad1a-fe39863c5676">startPageProperties</Composition>
      <Composition Key="943239c7-b68f-4b9d-b3be-ac7e42c9a0f6">thumbnailProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="56a67423-182b-4522-95d0-d4878aebd570" SortOrder="0">listingPage</ContentType>
    <ContentType Key="3d39fade-0511-40fc-93f4-dfb72a9902bb" SortOrder="1">secondaryListingPage</ContentType>
    <ContentType Key="a00c5be9-414e-4607-a320-9202cbf72448" SortOrder="2">contentPage</ContentType>
    <ContentType Key="9af2df73-4e8f-4181-a360-994f8cda2e78" SortOrder="3">xmlSiteMap</ContentType>
    <ContentType Key="c61ad528-764b-489d-8c75-de111d57294c" SortOrder="4">errorPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>23a22be3-1ff0-4bb6-bfbe-bdef74304386</Key>
      <Name>Blocks</Name>
      <Alias>blocks</Alias>
      <Definition>a458aa11-f0c3-414e-b6d3-ce1b824cc1e2</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Lägg till olika blocks för att visas på sidan]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blocks">Blocks</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d7818aad-24e9-4d65-8e61-e16f6be01fcf</Key>
      <Name>Footer</Name>
      <Alias>footer</Alias>
      <Definition>af9c4418-5d52-4676-9a80-5ab8ab47c7cd</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidfots Block]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>75600534-52e2-4772-a879-3b5534169ddf</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>74d20515-60a0-4269-9692-81beaf110596</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Sidhuvud Block]]></Description>
      <SortOrder>-1</SortOrder>
      <Tab Alias="mainMenu">Main Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>54d323e2-9bda-4c62-919b-cf26b6dec13c</Key>
      <Caption>Main Menu</Caption>
      <Alias>mainMenu</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9e7cf649-665d-473d-8902-e39c90d8fefe</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
    <Tab>
      <Key>eb4a6aaf-ffe6-49e8-bb32-6c781e42ca73</Key>
      <Caption>Blocks</Caption>
      <Alias>blocks</Alias>
      <Type>Tab</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>