@mixin button {
  padding: $button-padding;

  font-family: $font-family;
  font-size: $font-size;
  text-decoration: none;

  border: 1px solid transparent;
  border-radius: $border-radius;
  box-sizing: border-box;

  @media (prefers-reduced-motion: no-preference) {
    transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out, border 0.4s ease-in-out, opacity 0.4s ease-in-out;
  }
}

@mixin button-on-dark-background {
  @include button;

  background-color: $color-oat-milk;
  color: $color-pine;

  &:hover {
    background-color: transparent;
    color: $color-oat-milk;
    border-color: $color-oat-milk;
    backdrop-filter: blur(0.5rem);
  }
}

@mixin button-on-light-background {
  @include button;

  background-color: $color-pine;
  color: $color-oat-milk;

  &:hover {
    background-color: transparent;
    color: $color-pine;
    border-color: $color-pine;
    backdrop-filter: blur(0.5rem);
  }
}

@mixin button-secondary-on-dark-background {
  @include button;

  background-color: transparent;
  color: $color-oat-milk;
  border-color: $color-oat-milk;

  &:hover {
    background-color: rgb($color-oat-milk, 15%);
    backdrop-filter: blur(0.5rem);
  }
}

@mixin button-secondary-on-light-background {
  @include button;

  background-color: transparent;
  color: $color-pine;
  border-color: $color-pine;

  &:hover {
    background-color: rgb($color-oat-milk, 15%);
    backdrop-filter: blur(0.5rem);
  }
}

@mixin anchor-link-button {
  @include button;
  display: flex;
  align-items: center;
  gap: $spacing-small;

  padding: $spacing-small $spacing-standard;
  font-size: $font-size-small-desktop;

  background-color: transparent;
  color: $foreground-color-main;
  border: 1px solid $button-secondary-light-border-color;

  &:after {
    width: $icon-size-small;
    height: $icon-size-small;

    transform: rotate(90deg);

    content: '';
    background-image: url('../static/images/arrow-right.svg');
    background-repeat: no-repeat;
    background-position-y: center;
    background-size: contain;
  }

  &:hover {
    &:after {
      @media (prefers-reduced-motion: no-preference) {
        animation: anchor-arrow-animation 0.45s $animation-bounce-timing;
      }
    }
  }
}

@mixin category-button {
  @include button;

  padding: $spacing-small $spacing-standard;

  color: $color-pine;

  border: 1px solid $color-granola;
  cursor: pointer;

  &:hover {
    background-color: rgb($color-granola, 15%);
  }

  &.selected {
    color: $color-black;

    background-color: $color-jalles-yellow;
    border-color: $color-jalles-yellow;
  }
}
