<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa2c1de6-27c1-463d-870f-00d1c7b47af2" Alias="0001" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T10:38:26</CreateDate>
    <NodeName Default="0001" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2aodz4wb/0001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>