<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf32c0f4-8473-4e4b-aece-f041589bd676" Alias="0002" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T10:38:25</CreateDate>
    <NodeName Default="0002" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4ladfp1t/0002.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>