<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee468b62-eeed-418d-b7bf-7e5ada68bb6e" Alias="0003" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T10:38:24</CreateDate>
    <NodeName Default="0003" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/msffn1xn/0003.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>