<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f6aeeab-b7b8-4ad4-bf59-99afd094c04a" Alias="002 Ume 73" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ume73</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T10:35:52</CreateDate>
    <NodeName Default="002 Ume 73" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vxxgu53y/002-ume-73.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>