<?xml version="1.0" encoding="utf-8"?>
<Media Key="65904b41-e0d9-4713-b106-3c4561066d00" Alias="120 Umemaran13 Tomas Edstrom" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/Umemaran13TomasEdstrom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:18</CreateDate>
    <NodeName Default="120 Umemaran13 Tomas Edstrom" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/i3fjazoz/120-umemaran13-tomas-edstrom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>