<?xml version="1.0" encoding="utf-8"?>
<Media Key="4eaf16c5-570e-4f97-8596-0103d00fd109" Alias="20221008 Umemaran 2022 Maran (1)" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2022Maran1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-09-05T15:37:52</CreateDate>
    <NodeName Default="20221008 Umemaran 2022 Maran (1)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1ulk4tqo/20221008_umemaran-2022_maran-1.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>