<?xml version="1.0" encoding="utf-8"?>
<Media Key="34d94f6d-5d19-48c6-aba4-4cf046aff268" Alias="20231007 Umemaran 2023 Helmaran 3 (3)" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2023Helmaran33</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-11T15:11:47</CreateDate>
    <NodeName Default="20231007 Umemaran 2023 Helmaran 3 (3)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ovhnsnaz/20231007_umemaran-2023_helmaran_3-3.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>