<?xml version="1.0" encoding="utf-8"?>
<Media Key="5470d696-2faa-4ea6-b05a-28ebe0b143db" Alias="2024 Funkt.Lista (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktLista2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-09T18:06:58</CreateDate>
    <NodeName Default="2024 Funkt.Lista (2)" />
    <SortOrder>58</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xdlhavfk/2024-funktlista-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>