<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e29ded0-0487-42b7-b14a-bbff0558d7a6" Alias="2024 Funkt.Lista (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktLista1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-09T06:44:08</CreateDate>
    <NodeName Default="2024 Funkt.Lista (1)" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/51pcsduh/2024-funktlista.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>