<?xml version="1.0" encoding="utf-8"?>
<Media Key="9786647f-0363-4972-89ee-0d127f794ac2" Alias="2024 Funkt.Lista" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/FunktLista</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-05T07:09:12</CreateDate>
    <NodeName Default="2024 Funkt.Lista" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kfsinf1d/2024-funktlista.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>