<?xml version="1.0" encoding="utf-8"?>
<Media Key="9340eb9a-0e6d-43db-8a02-1375c8702ab7" Alias="2024 Funkt.Lista" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktLista</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-09T06:43:40</CreateDate>
    <NodeName Default="2024 Funkt.Lista" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wtvfbe1n/2024-funktlista.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>