<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f0b84cc-09fa-488d-a3cb-c766f7431bf0" Alias="2025 Funkt.Lista Rev20251007" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktListaRev20251007</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-07T17:14:51</CreateDate>
    <NodeName Default="2025 Funkt.Lista Rev20251007" />
    <SortOrder>93</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2kcaxd50/2025-funktlista-rev20251007.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>