<?xml version="1.0" encoding="utf-8"?>
<Media Key="df332b45-266f-4348-b62b-1965ef14dc19" Alias="2025 Funkt.Lista Kan Revideras" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktListaKanRevideras</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-06T06:41:43</CreateDate>
    <NodeName Default="2025 Funkt.Lista Kan Revideras" />
    <SortOrder>86</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nmvdhx1p/2025-funktlista-kan-revideras.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>