<?xml version="1.0" encoding="utf-8"?>
<Media Key="7b3460c1-85fb-4c01-b4fb-ef0369409c3e" Alias="2025 Funkt.Listarev20251008" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktListarev20251008</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-08T14:47:30</CreateDate>
    <NodeName Default="2025 Funkt.Listarev20251008" />
    <SortOrder>95</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/33qdi451/2025-funktlistarev20251008.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>