<?xml version="1.0" encoding="utf-8"?>
<Media Key="829aecde-81e1-4150-bb82-583cdc814f00" Alias="2025 Funkt.Lista Kan Revideras (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktListaKanRevideras2</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-10-06T06:55:15</CreateDate>
    <NodeName Default="2025 Funkt.Lista Kan Revideras (2)" />
    <SortOrder>89</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/y1wjvaxb/2025-funktlista-kan-revideras.xls]]></Value>
    </umbracoFile>
  </Properties>
</Media>