<?xml version="1.0" encoding="utf-8"?>
<Media Key="0164a9bc-3b60-4b1b-ac92-bc38e1854516" Alias="2025 Funkt.Lista Kan Revideras (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FunktListaKanRevideras1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-06T06:44:35</CreateDate>
    <NodeName Default="2025 Funkt.Lista Kan Revideras (1)" />
    <SortOrder>87</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/skuhiala/2025-funktlista-kan-revideras.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>