<?xml version="1.0" encoding="utf-8"?>
<Media Key="dc365adb-de64-4c0c-8e63-3cb4f71e77e1" Alias="2Poster Kulinarium Umemaran2025" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PosterKulinariumUmemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T15:05:39</CreateDate>
    <NodeName Default="2Poster Kulinarium Umemaran2025" />
    <SortOrder>103</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/1vndnxde/2poster_kulinarium_umemaran2025.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>