<?xml version="1.0" encoding="utf-8"?>
<Media Key="9fe0184f-5a02-4e99-8a03-59fe9fe3a83a" Alias="47 Gammlia" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gammlia</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-03T03:28:26</CreateDate>
    <NodeName Default="47 Gammlia" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jemobhyc/47-gammlia.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>