<?xml version="1.0" encoding="utf-8"?>
<Media Key="de2d236f-8e8d-4e80-a48e-7677b427502b" Alias="51 Umemaran VSM" Level="2">
  <Info>
    <Parent Key="1bf49aa1-e119-49b7-9b50-743409d75d93">Tävlingar 2024</Parent>
    <Path>/Taevlingar2024/UmemaranVSM</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T09:08:59</CreateDate>
    <NodeName Default="51 Umemaran VSM" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nerd1xun/51-umemaran-vsm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>