<?xml version="1.0" encoding="utf-8"?>
<Media Key="08701cfe-a63d-4209-8dbf-7479419a438f" Alias="51 Umemaran Vsm" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmemaranVsm</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-08T08:56:46</CreateDate>
    <NodeName Default="51 Umemaran Vsm" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5aohacb3/51-umemaran-vsm.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>