<?xml version="1.0" encoding="utf-8"?>
<Media Key="932b770e-0afc-40a6-8a88-4328525cf87e" Alias="7 Mila" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Mila</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:20</CreateDate>
    <NodeName Default="7 Mila" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bb1dxe52/7-mila.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>