<?xml version="1.0" encoding="utf-8"?>
<Media Key="169c5c43-b4e2-4cb9-bb43-a6aa20f9fc83" Alias="7-mila" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/mila</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:50:21</CreateDate>
    <NodeName Default="7-mila" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "7f24e3fd-bfc1-40fe-ad75-e98f1bfbe423",
    "mediaKey": "932b770e-0afc-40a6-8a88-4328525cf87e"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[7-mila]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "http://7-mila.se/",
    "url": "http://7-mila.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>