<?xml version="1.0" encoding="utf-8"?>
<Media Key="7872789a-c040-4026-8388-62064a03a116" Alias="Årsmötet 24" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/aarsmoetet24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-10T05:13:39</CreateDate>
    <NodeName Default="Årsmötet 24" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tr2he4ca/aarsmoetet-24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>