<?xml version="1.0" encoding="utf-8"?>
<Media Key="96afb168-b48b-46fd-921b-a106af4761c5" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-12T12:36:23</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ocyl5ful/adelskalender.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</Media>