<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2475136-a85c-46ef-b7ca-593294bf7b77" Alias="- adelskalendern" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/adelskalendern</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-12T13:45:29</CreateDate>
    <NodeName Default="- adelskalendern" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>