<?xml version="1.0" encoding="utf-8"?>
<Media Key="863f01c2-9168-448e-960c-dc66bc891747" Alias="Alla Maror 23" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/AllaMaror23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-09-27T06:53:52</CreateDate>
    <NodeName Default="Alla Maror 23" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3qad5bti/alla-maror-23.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>