<?xml version="1.0" encoding="utf-8"?>
<Media Key="abaf6702-e421-4585-87ed-c714361b0c4a" Alias="Alla Maror 23" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/AllaMaror23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-09-27T06:48:17</CreateDate>
    <NodeName Default="Alla Maror 23" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/frtl5kzb/alla-maror-23.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>