<?xml version="1.0" encoding="utf-8"?>
<Media Key="742606b1-c36a-41e7-b8b5-3307132aa299" Alias="Andreas Tomas (2)" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/AndreasTomas2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:19</CreateDate>
    <NodeName Default="Andreas Tomas (2)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w2dcm3dk/andreas-tomas-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>