<?xml version="1.0" encoding="utf-8"?>
<Media Key="cffc4758-5319-40c5-ab54-08bd465d43ae" Alias="Asarna" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/Asarna</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:23:42</CreateDate>
    <NodeName Default="Asarna" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lzdpztyz/asarna.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>