<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bbb0efa-3009-4d1f-8cec-eec577731883" Alias="Bansträckning 2023" Level="2">
  <Info>
    <Parent Key="0df3b6d9-3f6c-4289-b206-c5e8097807a5">bansträckning</Parent>
    <Path>/banstraeckning/Banstraeckning2023</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:15:24</CreateDate>
    <NodeName Default="Bansträckning 2023" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5qhlwgyj/umemaran-2023-ansoekan_page-0001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>