<?xml version="1.0" encoding="utf-8"?>
<Media Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793" Alias="bifogade filer" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bifogadeFiler</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-11-11T14:59:14</CreateDate>
    <NodeName Default="bifogade filer" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>