<?xml version="1.0" encoding="utf-8"?>
<Media Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9" Alias="bilder" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/bilder</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-30T17:06:54</CreateDate>
    <NodeName Default="bilder" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>