<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf92165b-c102-49f6-adff-817b1953cf1f" Alias="Bild1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Bild1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T11:51:27</CreateDate>
    <NodeName Default="Bild1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/luljftyc/bild1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>