<?xml version="1.0" encoding="utf-8"?>
<Media Key="cfdf7227-2804-4b1f-a902-00be9ca8cd27" Alias="Bild UMARA LOGO GRÅ RUND" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BildUMARALOGOGRARUND</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T16:48:19</CreateDate>
    <NodeName Default="Bild UMARA LOGO GRÅ RUND" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/efzn5tye/bild-umara-logo-gra-rund.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>