<?xml version="1.0" encoding="utf-8"?>
<Media Key="97b4dcce-6bd3-47a6-990c-fa0d28fc5cb0" Alias="Bölevägen Umemaran" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/BoelevaegenUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T13:45:57</CreateDate>
    <NodeName Default="Bölevägen Umemaran" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zdoljf4t/boelevaegen-umemaran.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>