<?xml version="1.0" encoding="utf-8"?>
<Media Key="fb64fa57-954e-4b7a-b960-bf3d44e7dc62" Alias="Daniel A" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/DanielA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:20</CreateDate>
    <NodeName Default="Daniel A" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kh3gj40o/daniel-a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>