<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5b2cdfc-9975-4af7-94f7-7687ba458599" Alias="DSC 0125" Level="2">
  <Info>
    <Parent Key="0dd1b20c-3ef4-474c-b293-a2f23f74c047">jalles50ar</Parent>
    <Path>/jalles50ar/DSC0125</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T14:56:02</CreateDate>
    <NodeName Default="DSC 0125" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5lglfnlv/dsc_0125.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>