<?xml version="1.0" encoding="utf-8"?>
<Media Key="d7ad62f0-aa2a-4ebb-9994-a1503f40fd82" Alias="DSC 0169A" Level="3">
  <Info>
    <Parent Key="62cb5fe1-53e3-418c-8351-67f11c5a67fc">Vinnare Umemaran 2023</Parent>
    <Path>/bilder/VinnareUmemaran2023/DSC0169A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T12:00:33</CreateDate>
    <NodeName Default="DSC 0169A" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4zrk1vzk/dsc_0169a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>