<?xml version="1.0" encoding="utf-8"?>
<Media Key="afc5ead1-2656-4256-8506-04014feba557" Alias="DSC 0159 A" Level="3">
  <Info>
    <Parent Key="62cb5fe1-53e3-418c-8351-67f11c5a67fc">Vinnare Umemaran 2023</Parent>
    <Path>/bilder/VinnareUmemaran2023/DSC0159A</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-08T12:00:32</CreateDate>
    <NodeName Default="DSC 0159 A" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/05vmll0w/dsc_0159-a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>