<?xml version="1.0" encoding="utf-8"?>
<Media Key="12489026-bcb5-43a0-b455-a49c08dcdb8c" Alias="Edstrom" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/Edstrom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:23:44</CreateDate>
    <NodeName Default="Edstrom" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ecieqevv/edstrom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>