<?xml version="1.0" encoding="utf-8"?>
<Media Key="f7a5378d-0a67-44b5-8b28-ab6f61c8e950" Alias="En Svensk Klassiker" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/EnSvenskKlassiker</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:55:28</CreateDate>
    <NodeName Default="En Svensk Klassiker" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "3d68f9d0-afaf-4105-8b8e-209270fa1a16",
    "mediaKey": "602b8df5-9bfc-4edf-8365-b7d33c852e22"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[En Svensk Klassiker]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://ensvenskklassiker.se/",
    "url": "https://ensvenskklassiker.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>