<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3854856-a308-4afa-ab7c-9cd057c85d40" Alias="Ewrvjmwveaqtluz" Level="2">
  <Info>
    <Parent Key="0dd1b20c-3ef4-474c-b293-a2f23f74c047">jalles50ar</Parent>
    <Path>/jalles50ar/Ewrvjmwveaqtluz</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T14:41:38</CreateDate>
    <NodeName Default="Ewrvjmwveaqtluz" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kbeiliyi/ewrvjmwveaqtluz.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>