<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ed9d893-5085-4a94-9151-3b4be4ca1984" Alias="Flest Umemaror 1973 2023" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/FlestUmemaror19732023</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-01T10:49:49</CreateDate>
    <NodeName Default="Flest Umemaror 1973 2023" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xxmnstuf/flest-umemaror-1973-2023.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>