<?xml version="1.0" encoding="utf-8"?>
<Media Key="f9185fb3-664a-496b-8b9b-ac864cc3e5ef" Alias="Flest Umemaror" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/FlestUmemaror</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-09-27T06:59:21</CreateDate>
    <NodeName Default="Flest Umemaror" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvpbr4kk/flest-umemaror.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>