<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd015375-bfa9-4b2a-a3ea-a2acdc229cdf" Alias="Funktionärsplater 25" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Funktionaersplater25</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-08T14:46:33</CreateDate>
    <NodeName Default="Funktionärsplater 25" />
    <SortOrder>94</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lnjbdpnj/funktionaersplater-25.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>