<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3edf52d-8085-40a3-93a7-2d50ed53e639" Alias="Ga Och Lopkliniken" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/GaOchLopkliniken</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-05T14:36:11</CreateDate>
    <NodeName Default="Ga Och Lopkliniken" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "3a671911-1587-4ad1-97b0-e447ef0c57fe",
    "mediaKey": "65b77140-b0c6-42b8-99df-97b4bd46cb48"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Gå och Löpkliniken]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://gaochlopkliniken.se/",
    "url": "https://gaochlopkliniken.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>