<?xml version="1.0" encoding="utf-8"?>
<Media Key="3a962589-80b3-433f-a81c-5d7dcb07a410" Alias="Gammlia Segrare 2024" Level="2">
  <Info>
    <Parent Key="1bf49aa1-e119-49b7-9b50-743409d75d93">Tävlingar 2024</Parent>
    <Path>/Taevlingar2024/GammliaSegrare2024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-05-09T09:53:56</CreateDate>
    <NodeName Default="Gammlia Segrare 2024" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u2sjmovt/gammlia-segrare-2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>