<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d2cd97f-799e-4c5f-b761-d3b5ea0ad7a4" Alias="Gammliaterrängen Inbjudan 24 (1)" Level="2">
  <Info>
    <Parent Key="1bf49aa1-e119-49b7-9b50-743409d75d93">Tävlingar 2024</Parent>
    <Path>/Taevlingar2024/GammliaterraengenInbjudan241</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-05-06T06:22:59</CreateDate>
    <NodeName Default="Gammliaterrängen Inbjudan 24 (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/khmdyxm4/gammliaterraengen-inbjudan-24.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>