<?xml version="1.0" encoding="utf-8"?>
<Media Key="fafc98c0-8bd5-4932-9d6c-f8d2a0778984" Alias="Gammliaaffisch 24" Level="2">
  <Info>
    <Parent Key="1bf49aa1-e119-49b7-9b50-743409d75d93">Tävlingar 2024</Parent>
    <Path>/Taevlingar2024/Gammliaaffisch24</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-05-02T09:09:10</CreateDate>
    <NodeName Default="Gammliaaffisch 24" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y0mpz4wv/gammliaaffisch-24.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>