<?xml version="1.0" encoding="utf-8"?>
<Media Key="1f5b0332-e015-4118-8b65-d4f90eb8e32b" Alias="Gammliaterrängen Inbjudan 24" Level="2">
  <Info>
    <Parent Key="1bf49aa1-e119-49b7-9b50-743409d75d93">Tävlingar 2024</Parent>
    <Path>/Taevlingar2024/GammliaterraengenInbjudan24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-05-06T06:12:36</CreateDate>
    <NodeName Default="Gammliaterrängen Inbjudan 24" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dqbfwhyv/gammliaterraengen-inbjudan-24.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>