<?xml version="1.0" encoding="utf-8"?>
<Media Key="66155371-5a72-4b24-a4e7-0dd9530bcca4" Alias="Gpprogram 25" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gpprogram25</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-24T04:54:57</CreateDate>
    <NodeName Default="Gpprogram 25" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o3jbkzts/gpprogram-25.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>