<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9d847d4-9ba6-4ac1-9611-afbc2d305b9d" Alias="GPX" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GPX</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-09-01T14:44:05</CreateDate>
    <NodeName Default="GPX" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties />
</Media>