<?xml version="1.0" encoding="utf-8"?>
<Media Key="557463a7-4a57-4219-a521-1e21db16b11c" Alias="Granvik 13" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Granvik13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:54:07</CreateDate>
    <NodeName Default="Granvik 13" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ufrhivkx/granvik-13.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>