<?xml version="1.0" encoding="utf-8"?>
<Media Key="3aa6bb78-5524-4427-b327-fbbccd22bebf" Alias="Historia" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Historia</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-06T07:04:37</CreateDate>
    <NodeName Default="Historia" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/k03lmore/historia.doc]]></Value>
    </umbracoFile>
  </Properties>
</Media>