<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5794e58-e327-4882-8fa9-58605bfcfeb1" Alias="ICA Supermarket Baleang" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/ICASupermarketBaleang</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T17:00:02</CreateDate>
    <NodeName Default="ICA Supermarket Baleang" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "1a1d16bb-ef4b-4f84-8a1b-75f197237bd2",
    "mediaKey": "331a81a1-d556-49d2-90a7-f2b9248e79b8"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[ICA Supermarket Böleäng]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.ica.se/butiker/supermarket/umea/ica-supermarket-boleang-291/start/",
    "url": "https://www.ica.se/butiker/supermarket/umea/ica-supermarket-boleang-291/start/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>