<?xml version="1.0" encoding="utf-8"?>
<Media Key="331a81a1-d556-49d2-90a7-f2b9248e79b8" Alias="Ica" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/Ica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T16:54:53</CreateDate>
    <NodeName Default="Ica" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/u4abum0w/ica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>