<?xml version="1.0" encoding="utf-8"?>
<Media Key="a3e97bd9-cd5e-45e0-bb49-acd139a4dea3" Alias="Image (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T12:40:11</CreateDate>
    <NodeName Default="Image (3)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/133pti04/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>