<?xml version="1.0" encoding="utf-8"?>
<Media Key="126ca66f-3c2e-4ac5-bb15-e3c621c398ae" Alias="Image (5)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T15:53:47</CreateDate>
    <NodeName Default="Image (5)" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ngtgyero/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>