<?xml version="1.0" encoding="utf-8"?>
<Media Key="91608988-2fea-4c64-b2f9-71a91bfb0c07" Alias="Image (6)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T09:54:07</CreateDate>
    <NodeName Default="Image (6)" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/r0ehbepk/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>