<?xml version="1.0" encoding="utf-8"?>
<Media Key="75af7dfc-ad83-4655-9e3a-a356a5b54ce1" Alias="Images" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Images</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T16:45:19</CreateDate>
    <NodeName Default="Images" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5j4l43md/images.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>