<?xml version="1.0" encoding="utf-8"?>
<Media Key="d3b82834-9b27-4b93-9461-26b779832c9f" Alias="Image" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-07T11:30:17</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/giulruzh/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>