<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8f4fba2-2590-4c5d-adde-9d1be8c85e55" Alias="IMG 1493 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/IMG14932</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-12T15:32:06</CreateDate>
    <NodeName Default="IMG 1493 (2)" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ut3pjseq/img_1493-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>