<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef847e05-a63a-4fc8-baa6-057ec9ef3693" Alias="IMG 1513 (2)" Level="2">
  <Info>
    <Parent Key="0df3b6d9-3f6c-4289-b206-c5e8097807a5">bansträckning</Parent>
    <Path>/banstraeckning/IMG15132</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-12T15:55:06</CreateDate>
    <NodeName Default="IMG 1513 (2)" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/an5ij1z0/img_1513-2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>