<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c900e62-6711-4555-983f-2c985cd0ad62" Alias="Inbjudan Umemaran 24" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/InbjudanUmemaran24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-09-09T15:16:18</CreateDate>
    <NodeName Default="Inbjudan Umemaran 24" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jqhja5ar/inbjudan-umemaran-24.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>