<?xml version="1.0" encoding="utf-8"?>
<Media Key="854276b8-7faa-419a-9f36-5bbc4a0270b5" Alias="Inbjudan Umemaran" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/InbjudanUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-11T15:04:40</CreateDate>
    <NodeName Default="Inbjudan Umemaran" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sz1efbnk/inbjudan-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>