<?xml version="1.0" encoding="utf-8"?>
<Media Key="97b39a80-f8f6-4966-89cd-34cd60af0e2a" Alias="Inbjudan Umemaran 24" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/InbjudanUmemaran24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-06-26T16:09:22</CreateDate>
    <NodeName Default="Inbjudan Umemaran 24" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/v0nlhf5w/inbjudan-umemaran-24.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>