<?xml version="1.0" encoding="utf-8"?>
<Media Key="e04dc7e1-842f-46f9-8a03-5babad714e1e" Alias="Inbjudan Umemaran 24" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/InbjudanUmemaran24</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-06-26T16:23:23</CreateDate>
    <NodeName Default="Inbjudan Umemaran 24" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/z5df1ybp/inbjudan-umemaran-24.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>