<?xml version="1.0" encoding="utf-8"?>
<Media Key="15f7ebcc-1a58-4325-bf71-c6574e80420d" Alias="Inbjudan 52 Umemaran" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Inbjudan52Umemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-08-25T09:53:34</CreateDate>
    <NodeName Default="Inbjudan 52 Umemaran" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/2lvpofky/inbjudan-52-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>