<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa912b88-096e-4cf8-be69-d32c19fbfd43" Alias="Jonas U" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/JonasU</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:15</CreateDate>
    <NodeName Default="Jonas U" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ryvjdkto/jonas-u.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>