<?xml version="1.0" encoding="utf-8"?>
<Media Key="8086977c-fb1e-4212-be02-c84a6eef122c" Alias="Kartor Umemaran" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/KartorUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-05T06:55:20</CreateDate>
    <NodeName Default="Kartor Umemaran" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kkljnaa4/kartor-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>