<?xml version="1.0" encoding="utf-8"?>
<Media Key="06c01dc6-7218-4db2-a1e5-d67dd5e51818" Alias="Kartor Umemaran" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/KartorUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-09T06:42:57</CreateDate>
    <NodeName Default="Kartor Umemaran" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3aonabqy/kartor-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>