<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6f0b27d-f450-4415-bc7e-89772f57498d" Alias="Kjell G H" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/KjellGH</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:15</CreateDate>
    <NodeName Default="Kjell G H" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pozpbrsq/kjell-g-h.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>