<?xml version="1.0" encoding="utf-8"?>
<Media Key="2da6fd47-637d-46bc-b605-c6a5a153826f" Alias="Kritiskplats" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kritiskplats</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T14:04:34</CreateDate>
    <NodeName Default="Kritiskplats" />
    <SortOrder>83</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ih4lmll3/kritiskplats.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>