<?xml version="1.0" encoding="utf-8"?>
<Media Key="e4bb192d-a76a-47ec-97a6-7c5f84f91cca" Alias="Kritiskplats (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kritiskplats1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-03T14:06:08</CreateDate>
    <NodeName Default="Kritiskplats (1)" />
    <SortOrder>84</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fmmlxzdk/kritiskplats.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>