<?xml version="1.0" encoding="utf-8"?>
<Media Key="ccf77d91-8184-4ab8-8bb4-60cdf1caad42" Alias="Latitude 65 Logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Latitude65Logo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T16:47:07</CreateDate>
    <NodeName Default="Latitude 65 Logo" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/s34pptee/latitude-65-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>