<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2417453-3c04-4531-bc9c-44add5223c4a" Alias="LATITUDE 65" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/LATITUDE65</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2024-06-26T16:47:24</CreateDate>
    <NodeName Default="LATITUDE 65" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "c34fcef3-6069-4976-b5fa-3027694998b9",
    "mediaKey": "0e02f9a7-1762-4a00-a0a6-3b583dddceba"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[LATITUDE 65°]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.latitude65.se/",
    "target": "_blank",
    "url": "https://www.latitude65.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>