<?xml version="1.0" encoding="utf-8"?>
<Media Key="195c1378-ff47-4762-95d4-0ea2631a3cbd" Alias="Lena O" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/LenaO</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:16</CreateDate>
    <NodeName Default="Lena O" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pyjfygkh/lena-o.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>