<?xml version="1.0" encoding="utf-8"?>
<Media Key="3bb52cdb-5f9e-494f-bdc2-07162831a5df" Alias="Lidingöloppet" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Lidingoeloppet</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:49:13</CreateDate>
    <NodeName Default="Lidingöloppet" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "63a20efc-30ca-4121-b700-eab75f8bb98c",
    "mediaKey": "6b1a0aa7-c93e-43f5-9cb6-b93635008a05"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Lidingöloppet]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.lidingoloppet.se/",
    "url": "https://www.lidingoloppet.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>