<?xml version="1.0" encoding="utf-8"?>
<Media Key="6b1a0aa7-c93e-43f5-9cb6-b93635008a05" Alias="Lidingoloppet Logo" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/LidingoloppetLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:17</CreateDate>
    <NodeName Default="Lidingoloppet Logo" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uefbu0z4/lidingoloppet-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>