<?xml version="1.0" encoding="utf-8"?>
<Media Key="0b46ce28-9411-484f-bc69-1b6c0e52aaa8" Alias="Liv Edström 22" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LivEdstroem22</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T13:54:09</CreateDate>
    <NodeName Default="Liv Edström 22" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/f1hemcyr/liv-edstroem-22.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>