<?xml version="1.0" encoding="utf-8"?>
<Media Key="65b77140-b0c6-42b8-99df-97b4bd46cb48" Alias="Logga Header Retina" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LoggaHeaderRetina</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T14:35:59</CreateDate>
    <NodeName Default="Logga Header Retina" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/izylozog/logga-header-retina.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>