<?xml version="1.0" encoding="utf-8"?>
<Media Key="e673a14e-b23c-4060-8af2-300879631fda" Alias="Logga 294X48" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Logga294X48</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:16</CreateDate>
    <NodeName Default="Logga 294X48" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jcqhhzr2/logga-294x48.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>