<?xml version="1.0" encoding="utf-8"?>
<Media Key="4713fbe8-b00b-4ace-92a1-ac515b493c78" Alias="logos" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-30T17:02:40</CreateDate>
    <NodeName Default="logos" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>