<?xml version="1.0" encoding="utf-8"?>
<Media Key="071ae18b-3faa-4435-9268-c502f5128194" Alias="Logo2017b" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Logo2017b</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:17</CreateDate>
    <NodeName Default="Logo2017b" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rxqbub3k/logo2017b.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>