<?xml version="1.0" encoding="utf-8"?>
<Media Key="fa05a305-1eff-4cbb-a0c8-2367ea730bf5" Alias="Marci" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Marci</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:18</CreateDate>
    <NodeName Default="Marci" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aorbl4x5/marci.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>