<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2209d91-8af3-4c62-b57a-f12551841da7" Alias="Marcialonga" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Marcialonga</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:56:44</CreateDate>
    <NodeName Default="Marcialonga" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "8b91a9e0-b8f8-4996-8aa4-9c5b0df8da76",
    "mediaKey": "fa05a305-1eff-4cbb-a0c8-2367ea730bf5"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Marcialonga]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.marcialonga.it/marcialonga_ski/index_en.php",
    "url": "https://www.marcialonga.it/marcialonga_ski/index_en.php"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>