<?xml version="1.0" encoding="utf-8"?>
<Media Key="7da0f3fd-35c3-41cc-a827-e2dffc1d5b5b" Alias="Moa E" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/MoaE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:14</CreateDate>
    <NodeName Default="Moa E" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5pzla5od/moa-e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>