<?xml version="1.0" encoding="utf-8"?>
<Media Key="24a15f6c-f9ac-4ca8-a5fb-8786ca5315eb" Alias="Nisse" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Nisse</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-28T07:06:01</CreateDate>
    <NodeName Default="Nisse" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/njplcjfm/nisse.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>