<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fbf5ec5-6329-4648-90c3-d31460f47d11" Alias="NLM 78 Danny F O Jalle (1)" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/NLM78DannyFOJalle1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:14</CreateDate>
    <NodeName Default="NLM 78 Danny F O Jalle (1)" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ynpl4pzj/nlm-78-danny-f-o-jalle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>