<?xml version="1.0" encoding="utf-8"?>
<Media Key="275dbd08-a31f-4691-a131-fca12cdf5a0f" Alias="NORDIC WELLNESS LOGO 388X201px Dec2021" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NORDICWELLNESSLOGO388X201pxDec2021</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T16:51:19</CreateDate>
    <NodeName Default="NORDIC WELLNESS LOGO 388X201px Dec2021" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b04f0jy5/nordic-wellness-logo-388x201px-dec2021.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>