<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fb0ab08-7bd7-477b-bfa5-bafbacc7ac21" Alias="Nordic Wellness" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/NordicWellness</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2024-06-26T16:45:47</CreateDate>
    <NodeName Default="Nordic Wellness" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "b769fc65-9c02-4d34-8a7b-7f92df6dc17d",
    "mediaKey": "275dbd08-a31f-4691-a131-fca12cdf5a0f"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Nordic Wellness]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://nordicwellness.se/",
    "target": "_blank",
    "url": "https://nordicwellness.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>