<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff4b0af0-8a1c-4c55-8250-c9ec168fec5c" Alias="Nordenskioldsloppet" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Nordenskioldsloppet</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:57:18</CreateDate>
    <NodeName Default="Nordenskioldsloppet" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9e350665-91b2-46f0-8712-6fc5cff51050",
    "mediaKey": "071ae18b-3faa-4435-9268-c502f5128194"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Nordenskiöldsloppet]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.nordenskioldsloppet.se/",
    "url": "https://www.nordenskioldsloppet.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>