<?xml version="1.0" encoding="utf-8"?>
<Media Key="b96d25b6-b52b-4127-be40-a3a63f8cd671" Alias="Norraskog CHAMPAGNE" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/NorraskogCHAMPAGNE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T16:54:55</CreateDate>
    <NodeName Default="Norraskog CHAMPAGNE" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wash1ojl/norraskog_champagne.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>