<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac97110b-cdbb-4190-b107-ee5f9340f927" Alias="Norra Norrland Svensk Friidrott" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/NorraNorrlandSvenskFriidrott</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T16:57:50</CreateDate>
    <NodeName Default="Norra Norrland Svensk Friidrott" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "dc9cbb89-c9ae-4832-afc0-6b98f1b2c995",
    "mediaKey": "f40c0866-9d26-4a32-8125-1e6298f04ff8"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Norra Norrland Svensk Friidrott]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.friidrott.se/norra-norrland/",
    "url": "https://www.friidrott.se/norra-norrland/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>