<?xml version="1.0" encoding="utf-8"?>
<Media Key="0fda251f-d8c4-4886-bf5f-63306ad79e04" Alias="Norra Skog" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/NorraSkog</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T16:55:38</CreateDate>
    <NodeName Default="Norra Skog" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "4e3512e6-609f-4752-a903-a9ee11c25543",
    "mediaKey": "b96d25b6-b52b-4127-be40-a3a63f8cd671"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Norra Skog]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.norraskog.se/",
    "url": "https://www.norraskog.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>