<?xml version="1.0" encoding="utf-8"?>
<Media Key="0dff13d8-5b68-471c-b9ae-dab1e9681c41" Alias="Oppet Spar (1)" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/OppetSpar1</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T14:00:11</CreateDate>
    <NodeName Default="Oppet Spar (1)" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "c6cf415d-d141-46ba-a409-db3d0d362440",
    "mediaKey": "12cd92c1-0d7d-44bc-8fcc-7a7de8080e1a"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Öppet Spår]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.vasaloppet.se/",
    "url": "https://www.vasaloppet.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>