<?xml version="1.0" encoding="utf-8"?>
<Media Key="12cd92c1-0d7d-44bc-8fcc-7a7de8080e1a" Alias="Oppet Spar" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/OppetSpar</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T14:00:05</CreateDate>
    <NodeName Default="Oppet Spar" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y4jm0et3/oppet-spar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>