<?xml version="1.0" encoding="utf-8"?>
<Media Key="6f0784cb-c4dc-4e09-b9e5-33f3716a8f65" Alias="Ordf Sekret" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/OrdfSekret</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-18T07:51:10</CreateDate>
    <NodeName Default="Ordf Sekret" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zwcao142/ordf-sekret.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>