<?xml version="1.0" encoding="utf-8"?>
<Media Key="82687da7-afc4-4d2b-a9ed-6c53bd0e2809" Alias="Ordforandejk" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/Ordforandejk</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:25:51</CreateDate>
    <NodeName Default="Ordforandejk" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/uf4hrawe/ordforandejk.jpeg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>