<?xml version="1.0" encoding="utf-8"?>
<Media Key="d144d01d-f014-4a34-9917-2ba353985c7a" Alias="pdf" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/pdf</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-12-05T19:03:26</CreateDate>
    <NodeName Default="pdf" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties />
</Media>