<?xml version="1.0" encoding="utf-8"?>
<Media Key="614349b8-066d-487b-a4a6-b7876a92b181" Alias="Picture9" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Picture9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-05T16:18:31</CreateDate>
    <NodeName Default="Picture9" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xzefgyln/picture9.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>