<?xml version="1.0" encoding="utf-8"?>
<Media Key="507c200a-f89b-4cf4-9d02-e2cb9166e215" Alias="Pm 2023" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Pm2023</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-11T15:08:40</CreateDate>
    <NodeName Default="Pm 2023" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eqqhyue1/pm-2023.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>