<?xml version="1.0" encoding="utf-8"?>
<Media Key="3462fc4e-03ef-4405-b862-f61a21a734da" Alias="PM For The 51Th Umemaran" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/PMForThe51ThUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-06T17:29:03</CreateDate>
    <NodeName Default="PM For The 51Th Umemaran" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/md4genhp/pm-for-the-51th-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>