<?xml version="1.0" encoding="utf-8"?>
<Media Key="63d24af4-7fce-4c50-8fa2-a55489b04c9e" Alias="PM For The 52Th Umemaran" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PMForThe52ThUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-07T11:08:38</CreateDate>
    <NodeName Default="PM For The 52Th Umemaran" />
    <SortOrder>91</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jfney4o/pm-for-the-52th-umemaran.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>