<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e410134-2f9a-4981-8407-fc11e4247bc9" Alias="Pm For The 50Th Umemaran" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/PmForThe50ThUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-11T15:08:40</CreateDate>
    <NodeName Default="Pm For The 50Th Umemaran" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/diafcpu0/pm-for-the-50th-umemaran.docx]]></Value>
    </umbracoFile>
  </Properties>
</Media>