<?xml version="1.0" encoding="utf-8"?>
<Media Key="231bf41b-acd0-4b30-83f4-ee63333376f0" Alias="PM Umemaran 2025 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PMUmemaran20252</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-03T13:38:27</CreateDate>
    <NodeName Default="PM Umemaran 2025 (2)" />
    <SortOrder>81</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gx0bwi4q/pm-umemaran-2025.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>