<?xml version="1.0" encoding="utf-8"?>
<Media Key="57430f23-61b9-468f-8306-3e1f4512ebfa" Alias="PM Umemaran 2025 (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PMUmemaran20253</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-10-03T14:10:22</CreateDate>
    <NodeName Default="PM Umemaran 2025 (3)" />
    <SortOrder>85</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/buhfgv3z/pm-umemaran-2025.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>