<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae2285e1-752a-4a98-98d4-b997f257e2fb" Alias="Poster Kulinarium Umemaran2025 (3)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PosterKulinariumUmemaran20253</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T15:04:12</CreateDate>
    <NodeName Default="Poster Kulinarium Umemaran2025 (3)" />
    <SortOrder>102</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/24cdflrk/poster_kulinarium_umemaran2025.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>