<?xml version="1.0" encoding="utf-8"?>
<Media Key="61d60ef5-e557-4ebe-8b8c-3f53ba7780ab" Alias="Poster Kulinarium Umemaran2025" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PosterKulinariumUmemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T14:51:37</CreateDate>
    <NodeName Default="Poster Kulinarium Umemaran2025" />
    <SortOrder>98</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4mhnmykx/poster_kulinarium_umemaran2025.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>