<?xml version="1.0" encoding="utf-8"?>
<Media Key="8d3a6a8a-976f-4c5b-8f49-b8e5f1acb5fe" Alias="Poster Kulinarium Umemaran2025 (2)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PosterKulinariumUmemaran20252</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-10-09T15:02:49</CreateDate>
    <NodeName Default="Poster Kulinarium Umemaran2025 (2)" />
    <SortOrder>101</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rrvdvdlp/poster_kulinarium_umemaran2025.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>