<?xml version="1.0" encoding="utf-8"?>
<Media Key="4bac8f7a-7542-41a8-8d91-b7c459462a8a" Alias="Res 42 Km" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Res42Km</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-12T17:16:22</CreateDate>
    <NodeName Default="Res 42 Km" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kshlys0c/res-42-km.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>