<?xml version="1.0" encoding="utf-8"?>
<Media Key="7cc65322-355d-4a48-bb16-976a57d50fb1" Alias="Res 42 Km (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Res42Km1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-12T17:16:57</CreateDate>
    <NodeName Default="Res 42 Km (1)" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/brjnm5c3/res-42-km.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>