<?xml version="1.0" encoding="utf-8"?>
<Media Key="5e7d125d-f664-4887-b2d1-8c3853799a36" Alias="Robert E" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/RobertE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:16</CreateDate>
    <NodeName Default="Robert E" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lmjh0xte/robert-e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>