<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e3449fd-8626-41db-9a83-ea3bd6b41d13" Alias="Rune S" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/RuneS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:17</CreateDate>
    <NodeName Default="Rune S" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5neditrg/rune-s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>