<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8ac4ee3-fa4c-4110-9888-b5433e5956d4" Alias="Rw11" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw11</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:42</CreateDate>
    <NodeName Default="Rw11" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2vhkzwcm/rw11.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>