<?xml version="1.0" encoding="utf-8"?>
<Media Key="4367dae9-2d47-4379-8734-9935627adeda" Alias="Rw12" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw12</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:43</CreateDate>
    <NodeName Default="Rw12" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/35ngoq0h/rw12.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>