<?xml version="1.0" encoding="utf-8"?>
<Media Key="5536182f-7a0a-4f20-a719-2ae187d6d12f" Alias="Rw13" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw13</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:43</CreateDate>
    <NodeName Default="Rw13" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/femdmvik/rw13.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>