<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f22d833-b8d2-4d4a-9a18-b16223f38f15" Alias="Rw2" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:40</CreateDate>
    <NodeName Default="Rw2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gxmcfh4s/rw2.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>