<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7aa4a12-0dd9-42dd-ae24-8c006c83bdbc" Alias="Rw3" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw3</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:41</CreateDate>
    <NodeName Default="Rw3" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/crfkvr4z/rw3.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>