<?xml version="1.0" encoding="utf-8"?>
<Media Key="228b0136-a5c8-4a98-be4d-0f728508dd2f" Alias="Rw4" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw4</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:39</CreateDate>
    <NodeName Default="Rw4" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gaajwiwi/rw4.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>