<?xml version="1.0" encoding="utf-8"?>
<Media Key="c5a0cef0-40bb-4a5a-9cab-f0bba0b624e8" Alias="Rw5" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:40</CreateDate>
    <NodeName Default="Rw5" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/41hkbrn1/rw5.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>