<?xml version="1.0" encoding="utf-8"?>
<Media Key="08805e13-8100-41f7-9a5c-bc1301756815" Alias="Rw6" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw6</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:40</CreateDate>
    <NodeName Default="Rw6" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/cvpiacaa/rw6.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>