<?xml version="1.0" encoding="utf-8"?>
<Media Key="33a7191c-53c3-4657-8c64-bdf845377c9a" Alias="Rw7" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw7</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:41</CreateDate>
    <NodeName Default="Rw7" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dimlom4d/rw7.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>