<?xml version="1.0" encoding="utf-8"?>
<Media Key="c7e43290-60c6-425c-9f93-e5d3f75ace70" Alias="Rw9" Level="2">
  <Info>
    <Parent Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092">rwanda</Parent>
    <Path>/rwanda/Rw9</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:45:42</CreateDate>
    <NodeName Default="Rw9" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/syzojr4g/rw9.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>