<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a911d70-4c9e-47bd-ad0b-c3d633fdc092" Alias="rwanda" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/rwanda</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-08-30T16:45:33</CreateDate>
    <NodeName Default="rwanda" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>