<?xml version="1.0" encoding="utf-8"?>
<Media Key="aa76bec1-7a6e-44a7-8eb1-1e6ceef33790" Alias="Scandic9859.Logowik.Com" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Scandic9859LogowikCom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-06-26T16:54:51</CreateDate>
    <NodeName Default="Scandic9859.Logowik.Com" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/y45hnkto/scandic9859logowikcom.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>