<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8bdb2d8-e0b6-48f5-8c41-4e80acb0ad69" Alias="Scandic" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/Scandic</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2024-06-26T16:54:55</CreateDate>
    <NodeName Default="Scandic" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "f09691a4-3be0-46dc-9075-03b0deb6bb4f",
    "mediaKey": "aa76bec1-7a6e-44a7-8eb1-1e6ceef33790"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Scandic]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>