<?xml version="1.0" encoding="utf-8"?>
<Media Key="46e1139f-6a81-44b4-9382-adb6210d7817" Alias="Sehlbergs" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/Sehlbergs</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-03T08:37:30</CreateDate>
    <NodeName Default="Sehlbergs" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tejpcrub/sehlbergs.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>