<?xml version="1.0" encoding="utf-8"?>
<Media Key="57799967-bb80-436d-bbff-9427f825b82a" Alias="Selberg" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/Selberg</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-10-03T09:07:43</CreateDate>
    <NodeName Default="Selberg" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9cafbdf2-6a91-4a57-ad50-da4055b5ef82",
    "mediaKey": "48a6c642-ec66-42b9-b174-e6bf5c545a91"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Selberg]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>