<?xml version="1.0" encoding="utf-8"?>
<Media Key="b278f79a-dd73-462c-8be8-2f706f4e3802" Alias="Staffan D" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/StaffanD</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T15:45:17</CreateDate>
    <NodeName Default="Staffan D" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/tt1hrmtt/staffan-d.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>