<?xml version="1.0" encoding="utf-8"?>
<Media Key="1668361d-ea20-4b74-ad9f-ebb0e4590dbe" Alias="Stamford" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/Stamford</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-08-30T17:14:54</CreateDate>
    <NodeName Default="Stamford" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "af8c7aca-399e-4d14-90df-9834f78303e5",
    "mediaKey": "55f36daf-51ab-4c9f-8ee7-fc9f06348e4f"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stamford]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://hem.stamford.se/",
    "url": "https://hem.stamford.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>