<?xml version="1.0" encoding="utf-8"?>
<Media Key="d4e05e20-48ee-4ef2-a97a-af1fd663ec5c" Alias="Start Umemaran2023" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/StartUmemaran2023</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-24T10:12:51</CreateDate>
    <NodeName Default="Start Umemaran2023" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ezpobvho/start-umemaran2023.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>