<?xml version="1.0" encoding="utf-8"?>
<Media Key="fbaf9f90-8c99-47ae-8928-e5ef22f6a124" Alias="Stena Recycling" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/StenaRecycling</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T16:59:10</CreateDate>
    <NodeName Default="Stena Recycling" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "6617c4ac-b52e-4b1a-8fcf-961d57c6a3cc",
    "mediaKey": "73231248-9d66-4e32-9ea9-4f8b45b23259"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Stena Recycling]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.stenarecycling.com/sv/",
    "url": "https://www.stenarecycling.com/sv/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>