<?xml version="1.0" encoding="utf-8"?>
<Media Key="e04a76e6-d208-4bc8-b477-a6d60a977f06" Alias="Svenska Marathonsällskapet" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/SvenskaMarathonsaellskapet</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:48:29</CreateDate>
    <NodeName Default="Svenska Marathonsällskapet" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "8e9055ad-6236-458b-96be-8ca96f5a209f",
    "mediaKey": "d6541089-ff79-4ee8-b8af-30ad1fdc8997"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Svenska Marathonsällskapet]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://marathonsallskapet.se/",
    "url": "https://marathonsallskapet.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>