<?xml version="1.0" encoding="utf-8"?>
<Media Key="1bf49aa1-e119-49b7-9b50-743409d75d93" Alias="Tävlingar 2024" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Taevlingar2024</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2024-05-02T09:08:41</CreateDate>
    <NodeName Default="Tävlingar 2024" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties />
</Media>