<?xml version="1.0" encoding="utf-8"?>
<Media Key="0519cb85-b27a-4c84-8c31-53534017d677" Alias="Tore W" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ToreW</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-12T15:45:43</CreateDate>
    <NodeName Default="Tore W" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qpfbsbl0/tore-w.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>