<?xml version="1.0" encoding="utf-8"?>
<Media Key="9251b116-0239-44cb-8caf-7c21a335c9ab" Alias="Ulf Wiklund" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/UlfWiklund</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T17:05:58</CreateDate>
    <NodeName Default="Ulf Wiklund" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ccyfderz/ulf-wiklund.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>