<?xml version="1.0" encoding="utf-8"?>
<Media Key="9c15eb33-4e3a-42ff-8fea-775e65e34f14" Alias="Ulf Wiklund" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UlfWiklund</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T16:46:33</CreateDate>
    <NodeName Default="Ulf Wiklund" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gxvblhb0/ulf-wiklund.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>