<?xml version="1.0" encoding="utf-8"?>
<Media Key="1031376d-b3f1-4279-ae0b-0a8a2c5a137a" Alias="Ulf Wiklund (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UlfWiklund1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-27T16:53:37</CreateDate>
    <NodeName Default="Ulf Wiklund (1)" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nm1dcehr/ulf-wiklund.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>