<?xml version="1.0" encoding="utf-8"?>
<Media Key="44c517d9-aede-4812-b052-830d2cca6182" Alias="Umara Red Cool Gray 4C 01" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/UmaraRedCoolGray4C01</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T16:54:55</CreateDate>
    <NodeName Default="Umara Red Cool Gray 4C 01" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/12lnkrg4/umara_red-cool-gray-4c-01.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>