<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a21e471-90de-4a1f-9cab-c18a3340908d" Alias="Umara" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/Umara</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T16:58:11</CreateDate>
    <NodeName Default="Umara" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9ab3c310-121e-4a7c-b0ec-83c478f4d9c8",
    "mediaKey": "cfdf7227-2804-4b1f-a902-00be9ca8cd27"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Umara]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://umarasports.com/",
    "url": "https://umarasports.com/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>