<?xml version="1.0" encoding="utf-8"?>
<Media Key="797773c8-9ab7-405d-ae5f-dc7dca288a69" Alias="Umemaran2024 (L) 2024 08 15 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024L202408151</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-01T14:54:45</CreateDate>
    <NodeName Default="Umemaran2024 (L) 2024 08 15 (1)" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0bzho4nx/umemaran2024-l-2024-08-15.gpx]]></Value>
    </umbracoFile>
  </Properties>
</Media>