<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0dede68-ef3d-4d2a-96af-41dd48249750" Alias="Umemaran2024 (L) 2024 08 15" Level="2">
  <Info>
    <Parent Key="a9d847d4-9ba6-4ac1-9611-afbc2d305b9d">GPX</Parent>
    <Path>/GPX/Umemaran2024L20240815</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-01T14:44:28</CreateDate>
    <NodeName Default="Umemaran2024 (L) 2024 08 15" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/odpn3qb3/umemaran2024-l-2024-08-15.gpx]]></Value>
    </umbracoFile>
  </Properties>
</Media>