<?xml version="1.0" encoding="utf-8"?>
<Media Key="acd8194b-2080-4bdc-8483-9701efe34c46" Alias="Umemaran 2025 09 17 181106 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran202509171811061</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-09-25T17:37:36</CreateDate>
    <NodeName Default="Umemaran 2025 09 17 181106 (1)" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mumnrlea/umemaran-2025-09-17_181106-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>