<?xml version="1.0" encoding="utf-8"?>
<Media Key="66fb407c-b923-4dca-9ead-2580eb070ba4" Alias="Umemaran Banskiss Version 2024 10 03" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/UmemaranBanskissVersion20241003</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-10-04T05:54:43</CreateDate>
    <NodeName Default="Umemaran Banskiss Version 2024 10 03" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/kjapwzrd/umemaran-banskiss-version-2024-10-03.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>