<?xml version="1.0" encoding="utf-8"?>
<Media Key="95db4228-a93a-4897-8942-694bccb55b95" Alias="Umemaran 2023 Funktionärer 2" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2023Funktionaerer2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-25T10:25:59</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionärer 2" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/azbnxfj0/umemaran-2023-funktionaerer-2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>