<?xml version="1.0" encoding="utf-8"?>
<Media Key="291daa5c-2ba6-4949-b455-802a1ce8e8eb" Alias="Umemaran 2023 Ansökan Page 0001" Level="2">
  <Info>
    <Parent Key="0df3b6d9-3f6c-4289-b206-c5e8097807a5">bansträckning</Parent>
    <Path>/banstraeckning/Umemaran2023AnsoekanPage0001</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-30T16:17:17</CreateDate>
    <NodeName Default="Umemaran 2023 Ansökan Page 0001" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/lkvb0kng/umemaran-2023-ansoekan_page-0001.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>