<?xml version="1.0" encoding="utf-8"?>
<Media Key="e48eb995-4d95-483d-afc5-573c3ec62548" Alias="Umemaran 2023 Funktionärer 1 2023 10 08" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/Umemaran2023Funktionaerer120231008</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-05T19:03:55</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionärer 1 2023 10 08" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xo2j3zev/umemaran-2023-funktionaerer-1-2023-10-08.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>