<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b8f68c6-db83-42c5-bb9f-53980bdaa2eb" Alias="Umemaran 2023 Funktionärer 2 2023 10 08" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/Umemaran2023Funktionaerer220231008</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-05T19:03:54</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionärer 2 2023 10 08" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3bui4k2d/umemaran-2023-funktionaerer-2-2023-10-08.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>