<?xml version="1.0" encoding="utf-8"?>
<Media Key="eec2f255-bcd3-478d-85c6-52e6bb1be0e4" Alias="Umemaran Kopia Grå" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/UmemaranKopiaGraa</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:18</CreateDate>
    <NodeName Default="Umemaran Kopia Grå" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kpzmf1wt/umemaran-kopia-graa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>