<?xml version="1.0" encoding="utf-8"?>
<Media Key="02c2ccc8-1609-4099-93bd-b79d9bfef1a7" Alias="Umemaran 2023 Funktionaerer 1" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2023Funktionaerer1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-25T10:37:03</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionaerer 1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/z1gmeaqj/umemaran-2023-funktionaerer-1.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>