<?xml version="1.0" encoding="utf-8"?>
<Media Key="93dd6c9a-0dee-4f0f-b012-9d41dab93b70" Alias="Umemaran 2023 Funktionärer 1" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2023Funktionaerer1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-09-25T10:25:50</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionärer 1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wrwn1e5o/umemaran-2023-funktionaerer-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>