<?xml version="1.0" encoding="utf-8"?>
<Media Key="b089e176-66bb-4e47-9d8d-f484ac498956" Alias="Umemjubstart" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/Umemjubstart</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-10-02T11:23:44</CreateDate>
    <NodeName Default="Umemjubstart" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/odqjtmf1/umemjubstart.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>