<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5e33c94-c259-4bad-a672-80ab81c216f8" Alias="Umemaran2025" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-25T17:46:37</CreateDate>
    <NodeName Default="Umemaran2025" />
    <SortOrder>75</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/si4ohjkz/umemaran2025.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>