<?xml version="1.0" encoding="utf-8"?>
<Media Key="b896d539-3a9e-4d37-b84d-6e1a55533d66" Alias="Umemaran2024 GPX" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024GPX</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-05T10:03:04</CreateDate>
    <NodeName Default="Umemaran2024 GPX" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ehkjnoe4/umemaran2024-gpx.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>