<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a704431-17d0-4b45-a36f-62936109f0ca" Alias="Umemaran 2019" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/Umemaran2019</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-02-09T09:50:20</CreateDate>
    <NodeName Default="Umemaran 2019" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/d3chacwq/umemaran-2019.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>