<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd2bbe0a-4965-47f6-9139-0874df70e99e" Alias="Umemaran 2025 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran20251</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-09-25T17:25:10</CreateDate>
    <NodeName Default="Umemaran 2025 (1)" />
    <SortOrder>73</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ck5cxtlf/umemaran-2025.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>