<?xml version="1.0" encoding="utf-8"?>
<Media Key="5d94fbc3-4a54-4691-8d3a-4da3275e61ac" Alias="Umemaran2024 (L) 2024 10 03" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2024L20241003</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-10-04T05:44:35</CreateDate>
    <NodeName Default="Umemaran2024 (L) 2024 10 03" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1p3jixku/umemaran2024-l-2024-10-03.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>