<?xml version="1.0" encoding="utf-8"?>
<Media Key="60dd0f1a-666f-48ad-8ef6-8c4044b1e355" Alias="Umemaran2024 KML" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024KML</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2024-09-05T10:03:08</CreateDate>
    <NodeName Default="Umemaran2024 KML" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/aihn0ydp/umemaran2024-kml.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>