<?xml version="1.0" encoding="utf-8"?>
<Media Key="9be49047-9b7c-4d01-8532-559e65db96ba" Alias="Umemaran 2021" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/Umemaran2021</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2024-02-09T09:50:06</CreateDate>
    <NodeName Default="Umemaran 2021" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ngiojg12/umemaran-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>