<?xml version="1.0" encoding="utf-8"?>
<Media Key="ffadcf67-d9fb-4c74-b4e8-3dc610d941fa" Alias="Umemaran (1)" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Umemaran1</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:48:06</CreateDate>
    <NodeName Default="Umemaran (1)" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "6ec6d53f-b9dc-432d-927b-b9559a5de614",
    "mediaKey": "eec2f255-bcd3-478d-85c6-52e6bb1be0e4"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Umemaran]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>