<?xml version="1.0" encoding="utf-8"?>
<Media Key="ac70a88d-ea59-4adc-870b-515adacab3c7" Alias="Umemaran 2023 Funktionärer Namn Och Beskrivning 2023 10 08" Level="2">
  <Info>
    <Parent Key="d144d01d-f014-4a34-9917-2ba353985c7a">pdf</Parent>
    <Path>/pdf/Umemaran2023FunktionaererNamnOchBeskrivning20231008</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-12-05T19:03:52</CreateDate>
    <NodeName Default="Umemaran 2023 Funktionärer Namn Och Beskrivning 2023 10 08" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uouhblcz/umemaran-2023-funktionaerer-namn-och-beskrivning-2023-10-08.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>