<?xml version="1.0" encoding="utf-8"?>
<Media Key="25e36735-ba62-4c1a-a0e5-872d15b3b7c7" Alias="Umemaran 2024 Banskiss Version 2024 08 15 (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024BanskissVersion202408151</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-25T12:58:59</CreateDate>
    <NodeName Default="Umemaran 2024 Banskiss Version 2024 08 15 (1)" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/gntpgjlc/umemaran-2024-banskiss-version-2024-08-15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>