<?xml version="1.0" encoding="utf-8"?>
<Media Key="6c7947b5-c980-42e0-9db6-1fc013eac2a8" Alias="Umemaran (old logo)" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/UmemaranOldLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-11T15:31:23</CreateDate>
    <NodeName Default="Umemaran (old logo)" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "58b0e034-ccd7-4ed5-9dbb-c372a2854677",
    "mediaKey": "d3b82834-9b27-4b93-9461-26b779832c9f"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Umemaran]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>