<?xml version="1.0" encoding="utf-8"?>
<Media Key="dffaac2f-462a-49d6-9fc5-c1dfcf21ccb5" Alias="Umemaran 2024 Banskiss Version 2024 10 03" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024BanskissVersion20241003</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-10-04T05:56:29</CreateDate>
    <NodeName Default="Umemaran 2024 Banskiss Version 2024 10 03" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/fgwpvxzk/umemaran-2024-banskiss-version-2024-10-03.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>