<?xml version="1.0" encoding="utf-8"?>
<Media Key="8b342cae-4c71-490e-a181-528882651a92" Alias="Umemaran 2023 Ansoekan" Level="2">
  <Info>
    <Parent Key="01f1cbcf-7f0f-4bb5-87b4-a9c6acf05793">bifogade filer</Parent>
    <Path>/bifogadeFiler/Umemaran2023Ansoekan</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2023-11-11T14:59:28</CreateDate>
    <NodeName Default="Umemaran 2023 Ansoekan" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qawdjc1r/umemaran-2023-ansoekan.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>