<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c09b387-4fe3-4d16-84ef-7b1ab932e885" Alias="umemaran-granola.png" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/umemaranGranolapng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2026-02-28T16:37:27</CreateDate>
    <NodeName Default="umemaran-granola.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/qgzbs5hd/umemaran-granola.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>