<?xml version="1.0" encoding="utf-8"?>
<Media Key="25fddfd8-e0b5-43ce-96b1-d824749ebf44" Alias="Umemaran 2025" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-09-25T17:21:42</CreateDate>
    <NodeName Default="Umemaran 2025" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ydpp0jnv/umemaran-2025.zip]]></Value>
    </umbracoFile>
  </Properties>
</Media>