<?xml version="1.0" encoding="utf-8"?>
<Media Key="086a1c0a-cc15-43d3-90f8-8db997890b7e" Alias="Umemaran 2024 Banskiss Version 2024 08 15" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Umemaran2024BanskissVersion20240815</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-08-25T12:41:21</CreateDate>
    <NodeName Default="Umemaran 2024 Banskiss Version 2024 08 15" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/bqogucav/umemaran-2024-banskiss-version-2024-08-15.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>