<?xml version="1.0" encoding="utf-8"?>
<Media Key="5502783c-14a6-481a-81a7-6afe511a66c0" Alias="Vansbrosimningen" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Vansbrosimningen</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:52:05</CreateDate>
    <NodeName Default="Vansbrosimningen" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "65b49893-a5c4-4a5c-aeef-b910c53914be",
    "mediaKey": "79348cbe-9446-4d01-b366-5008be908a80"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Vansbrosimningen]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://vansbrosimningen.se/",
    "url": "https://vansbrosimningen.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>