<?xml version="1.0" encoding="utf-8"?>
<Media Key="2675f9d8-b64d-46cf-bbf5-4871ff982ae1" Alias="Vasaloppet Preview (1)" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/VasaloppetPreview1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T14:00:06</CreateDate>
    <NodeName Default="Vasaloppet Preview (1)" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/112hkjsn/vasaloppet-preview.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>