<?xml version="1.0" encoding="utf-8"?>
<Media Key="a2c0fb5a-6f70-48f6-bbb6-65aff8cac5b6" Alias="Vasaloppet" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Vasaloppet</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:47:00</CreateDate>
    <NodeName Default="Vasaloppet" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "537d3e2b-fcd4-4ee0-b83c-3e606676c243",
    "mediaKey": "2675f9d8-b64d-46cf-bbf5-4871ff982ae1"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Vasaloppet]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.vasaloppet.se/",
    "url": "https://www.vasaloppet.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>