<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ea42fae-ced4-45cf-b62e-e3b7bd4ccd77" Alias="Vasterbottningen" Level="2">
  <Info>
    <Parent Key="4cc114e1-45ca-4d71-848c-917228ded51d">- sponsorer</Parent>
    <Path>/sponsorer/Vasterbottningen</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T16:58:38</CreateDate>
    <NodeName Default="Vasterbottningen" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "9ecd8d27-0a8d-45ec-85c5-240bbf1b890d",
    "mediaKey": "e3c2de27-9c2c-4260-9c26-681b4300aeea"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Västerbottningen]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://www.vasterbottningen.se/",
    "url": "https://www.vasterbottningen.se/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>