<?xml version="1.0" encoding="utf-8"?>
<Media Key="a71bdcb0-da59-4972-a31a-bc2bcefb2b6e" Alias="Vatternrundan Logo Hires" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/VatternrundanLogoHires</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:19</CreateDate>
    <NodeName Default="Vatternrundan Logo Hires" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/w1obxj0z/vatternrundan-logo-hires.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>