<?xml version="1.0" encoding="utf-8"?>
<Media Key="3409d197-9be1-4599-8843-6acf52d3f459" Alias="Vatternrundan" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/Vatternrundan</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-11-12T13:51:06</CreateDate>
    <NodeName Default="Vatternrundan" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "283acbbf-76be-47cd-b43c-10db96ec8ce3",
    "mediaKey": "a71bdcb0-da59-4972-a31a-bc2bcefb2b6e"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Vätternrundan]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[[
  {
    "name": "https://vatternrundan.se/sv/",
    "url": "https://vatternrundan.se/sv/"
  }
]]]></Value>
    </sponsorWebsite>
  </Properties>
</Media>