<?xml version="1.0" encoding="utf-8"?>
<Media Key="62cb5fe1-53e3-418c-8351-67f11c5a67fc" Alias="Vinnare Umemaran 2023" Level="2">
  <Info>
    <Parent Key="806ec7b2-2fd3-47d0-a02a-cfb7e28e19f9">bilder</Parent>
    <Path>/bilder/VinnareUmemaran2023</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2023-10-08T12:00:07</CreateDate>
    <NodeName Default="Vinnare Umemaran 2023" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties />
</Media>