<?xml version="1.0" encoding="utf-8"?>
<Media Key="79348cbe-9446-4d01-b366-5008be908a80" Alias="VS Logo RGB" Level="2">
  <Info>
    <Parent Key="c2475136-a85c-46ef-b7ca-593294bf7b77">- adelskalendern</Parent>
    <Path>/adelskalendern/VSLogoRGB</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-11-12T13:46:20</CreateDate>
    <NodeName Default="VS Logo RGB" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xcgdi4kg/vs_logo_rgb.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>