<?xml version="1.0" encoding="utf-8"?>
<Media Key="804a947a-7efb-471f-a375-934aec814c57" Alias="Wasaline Logo Blue RGB 1030X189 1" Level="2">
  <Info>
    <Parent Key="4713fbe8-b00b-4ace-92a1-ac515b493c78">logos</Parent>
    <Path>/logos/WasalineLogoBlueRGB1030X1891</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T16:54:55</CreateDate>
    <NodeName Default="Wasaline Logo Blue RGB 1030X189 1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pskevah1/wasaline_logo_blue_rgb-1030x189-1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>