<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="afb81c58-8d0e-4bed-8ad2-20eb7ff8c20a" Alias="sponsor" Level="1">
  <Info>
    <Name>Sponsor</Name>
    <Icon>icon-company color-blue-grey</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>f076eddf-39aa-4a42-99a3-8dbeb6fd3d8f</Key>
      <Name>Sponsor Logo</Name>
      <Alias>sponsorLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>eae4cf9c-7648-467f-bf91-d7c2ba71f1db</Key>
      <Name>Sponsor Name</Name>
      <Alias>sponsorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4d4cc1f9-8743-44ab-ba4c-dd8a8083ebb5</Key>
      <Name>Sponsor Website</Name>
      <Alias>sponsorWebsite</Alias>
      <Definition>e93b258d-3b82-43fc-ac4d-795256ed87a9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>34017e0d-2b11-402c-ac59-558cf87c1511</Key>
      <Caption>Sponsor</Caption>
      <Alias>sponsor</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>