.pagination {
  display: flex;
  justify-content: center;
  gap: $spacing-standard;
  margin-top: $spacing-standard;

  .page-buttons {
    display: contents;
  }

  button {
    font-size: $font-size-large;
    color: $color-battleship-gray;

    &.active {
      color: $foreground-color-main;
      font-weight: $font-weight-bold;
    }

    &#previous,
    &#next {
      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 10.606px;
        background-color: $foreground-color-main;
        mask: url('/static/images/arrow.svg') no-repeat center / contain;
      }

      &:disabled:before {
        background-color: $color-battleship-gray;
      }
    }

    &#previous {
      transform: rotate(90deg);
      margin-right: $spacing-standard;
    }

    &#next {
      transform: rotate(-90deg);
      margin-left: $spacing-standard;
    }
  }
}
