.pagination {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: $spacing-large;

  .page-buttons {
    display: contents;
  }

  button {
    padding: $spacing-small;

    font-size: $font-size-large;
    color: $color-granola;

    &.active {
      font-weight: $font-weight-bold;
      color: $foreground-color-main;
    }

    &#previous,
    &#next {
      color: $foreground-color-main;

      &:before {
        content: '';
        display: block;
        width: 10px;
        height: 6px;

        background-color: $foreground-color-main;
        mask: url('/static/images/arrow.svg') no-repeat center / contain;
      }

      &:disabled {
        color: $color-granola;

        &:before {
          background-color: $color-granola;
        }
      }
    }

    &#previous {
      transform: rotate(90deg);
      margin-right: $spacing-small;
    }

    &#next {
      transform: rotate(-90deg);
      margin-left: $spacing-small;
    }
  }
}
