<?xml version="1.0" encoding="utf-8"?>
<Content Key="cba75725-7b60-4324-9605-7d625c2d74f1" Alias="Adelskalender" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Adelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-08T12:25:29</CreateDate>
    <NodeName Default="Adelskalender" />
    <SortOrder>4</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "66d91335-d39c-42ae-8bc3-ce9f9b4cc16d",
      "key": "083e6533-e398-4aec-9aba-3ec2bbee50d6",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Jalles TC Adelskalender"
        },
        {
          "alias": "file",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6bcee329-0b0e-4d5f-a2b1-e1ddaa835232",
              "mediaKey": "96afb168-b48b-46fd-921b-a106af4761c5",
              "mediaTypeAlias": "File",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "80856156-fbc6-46cd-b8f5-db7df2fe29fd",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "c6209749-dcae-4026-81da-2c84f2377420",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Jalles TC Adelskalender"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/96afb168b48b46fd921ba106af4761c5"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c6209749-dcae-4026-81da-2c84f2377420",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c6209749-dcae-4026-81da-2c84f2377420",
                  "contentUdi": "umb://element/c6209749dcae402681da2c84f2377420",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "6242c7ee-aa55-46bd-bc70-7d04a48ef93e",
      "key": "71d4d3e7-c5ce-4e24-9a9b-50e7b01554c5",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Alla lopp"
        },
        {
          "alias": "sponsors",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a69a6d23-d9ff-40f6-82bd-f3d6e5a6a463",
              "mediaKey": "e04a76e6-d208-4bc8-b477-a6d60a977f06",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "6c63b898-e4d6-4d8c-bde2-75a90e0cb549",
              "mediaKey": "ffadcf67-d9fb-4c74-b4e8-3dc610d941fa",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "2cc2956f-913e-4377-8145-291d3f887055",
              "mediaKey": "a2c0fb5a-6f70-48f6-bbb6-65aff8cac5b6",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "5285fc54-befe-4886-975f-d63d802c87c3",
              "mediaKey": "0dff13d8-5b68-471c-b9ae-dab1e9681c41",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "c2fe3a6d-af59-4064-88ae-03169fd78ed3",
              "mediaKey": "169c5c43-b4e2-4cb9-bb43-a6aa20f9fc83",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "727b6d1d-7416-4635-9b80-d5be18d429f2",
              "mediaKey": "3409d197-9be1-4599-8843-6acf52d3f459",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "59ff6dcd-0c8f-4654-adba-6b2c4823e85e",
              "mediaKey": "5502783c-14a6-481a-81a7-6afe511a66c0",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "ca4e7a59-37a3-49d5-9b81-25f55bcb08c8",
              "mediaKey": "3bb52cdb-5f9e-494f-bdc2-07162831a5df",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "cc9e72c9-d677-4774-9137-aaf9a1764550",
              "mediaKey": "f7a5378d-0a67-44b5-8b28-ab6f61c8e950",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "65b160f4-b95b-4ad4-bb7b-984cd61f9328",
              "mediaKey": "a2209d91-8af3-4c62-b57a-f12551841da7",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "3e96ed49-2ce1-47bd-8e2b-346a6db1f9e0",
              "mediaKey": "a46c1aaa-99d1-41d4-b7c4-a06f4a504e18",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "faf73c66-7e70-4fc8-b3f2-8f7f805b7a7f",
              "mediaKey": "7dcb731b-6d8b-46ad-932b-9e3e1c96965a",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "8e5dd8e6-000e-4ae8-80da-ee5339dcb346",
              "mediaKey": "ff4b0af0-8a1c-4c55-8250-c9ec168fec5c",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "06933bf8-7f56-4f6b-a417-5d89383aacbb",
      "udi": null,
      "values": [
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "66d03f2b-7240-4f40-bf10-6a9079ae9ca2",
              "mediaKey": "3f1355ce-2697-4703-9969-62b10fdf437f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fff8ad",
            "label": "fff8ad",
            "sortOrder": 1,
            "id": "2"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "083e6533-e398-4aec-9aba-3ec2bbee50d6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "80856156-fbc6-46cd-b8f5-db7df2fe29fd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "71d4d3e7-c5ce-4e24-9a9b-50e7b01554c5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "06933bf8-7f56-4f6b-a417-5d89383aacbb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "06933bf8-7f56-4f6b-a417-5d89383aacbb",
        "contentUdi": "umb://element/06933bf87f564f6ba4175d89383aacbb",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "083e6533-e398-4aec-9aba-3ec2bbee50d6",
        "contentUdi": "umb://element/083e6533e3984aec9aba3ec2bbee50d6",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "71d4d3e7-c5ce-4e24-9a9b-50e7b01554c5",
        "contentUdi": "umb://element/71d4d3e7c5ce4e249a9b50e7b01554c5",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "80856156-fbc6-46cd-b8f5-db7df2fe29fd",
        "contentUdi": "umb://element/80856156fbc646cdb8f5db7df2fe29fd",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Allm\u00E4nt"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "68a13795-0d44-44be-8fc1-908d92c7f1bf",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Adelskalender"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "68a13795-0d44-44be-8fc1-908d92c7f1bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "68a13795-0d44-44be-8fc1-908d92c7f1bf",
        "contentUdi": "umb://element/68a137950d4444be8fc1908d92c7f1bf",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Adelskalender]]></Value>
    </title>
  </Properties>
</Content>