<?xml version="1.0" encoding="utf-8"?>
<Content Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1" Alias="Aktuellt" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Aktuellt</Path>
    <Trashed>false</Trashed>
    <ContentType>listingPage</ContentType>
    <CreateDate>2023-08-04T12:25:39</CreateDate>
    <NodeName Default="Aktuellt" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <categories>
      <Value><![CDATA[Tävlingar
Resultat
Träningar
Historia
Umemaran
Statistik]]></Value>
    </categories>
    <displayedCategories>
      <Value><![CDATA[[
  "T\u00E4vlingar",
  "Resultat",
  "Tr\u00E4ningar"
]]]></Value>
    </displayedCategories>
    <displayTitle>
      <Value><![CDATA[0]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "e8a076bc-fbe6-4495-8c45-42cb48c63baf",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "986344e2-1f13-44b2-8429-38e7307ec403",
              "mediaKey": "31bfa201-108a-4d32-8676-37aa3029dda3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Aktuellt"
        },
        {
          "alias": "subHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Nyheter, resultat och det senaste fr\u00E5n Jalles TC"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e8a076bc-fbe6-4495-8c45-42cb48c63baf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e8a076bc-fbe6-4495-8c45-42cb48c63baf",
        "contentUdi": "umb://element/e8a076bcfbe644958c4542cb48c63baf",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <pages>
      <Value><![CDATA[]]></Value>
    </pages>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Aktuellt]]></Value>
    </title>
  </Properties>
</Content>