<?xml version="1.0" encoding="utf-8"?>
<Content Key="5b5b2f5d-29fb-4da1-afce-2c6dc0f06ca3" Alias="Bansträckningen - Umemaran 2025" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/BanstraeckningenUmemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:14:32</CreateDate>
    <NodeName Default="Bansträckningen - Umemaran 2025" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "62ace519-6fc4-474d-8896-86f1481802ba",
      "udi": null,
      "values": [
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d52e5441-2b61-4a78-91f0-27d096772a30",
              "mediaKey": "a5e33c94-c259-4bad-a672-80ab81c216f8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F4F2E2"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Banstr\u00E4ckningen - Umemaran 2025"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    },
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "b0dd4764-91ae-4e79-96f1-49fd0371e1b7",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "62e7923e-70b3-42f8-a21c-9299df7dcd9d",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Banstr\u00E4ckning Umemaran 2025"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/acd8194b20804bdc84839701efe34c46"
                  }
                ]
              },
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "90648987-648f-4e1c-9e39-89129bc074ed",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Kritisk korsning. R\u00F6d = inledning av varvet efter ca 2 km. Bl\u00E5= mot m\u00E5let efter ca 19 km"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/97b4dcce6bd347a6990cfa0d28fc5cb0"
                  }
                ]
              },
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "bb775d9c-2bb2-4bc1-85ae-1c0a72776b57",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Gpx-fil Umemaran 2025 (zip)"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/cd2bbe0a496547f691390874df70e99e"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "62e7923e-70b3-42f8-a21c-9299df7dcd9d",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "90648987-648f-4e1c-9e39-89129bc074ed",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "bb775d9c-2bb2-4bc1-85ae-1c0a72776b57",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "62e7923e-70b3-42f8-a21c-9299df7dcd9d",
                  "contentUdi": "umb://element/62e7923e70b342f8a21c9299df7dcd9d",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "90648987-648f-4e1c-9e39-89129bc074ed",
                  "contentUdi": "umb://element/e83561b68a09496ebad9c8466f68f2d0",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "bb775d9c-2bb2-4bc1-85ae-1c0a72776b57",
                  "contentUdi": "umb://element/87c8e129439746d4aa9d15e0f25a3698",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "2c8e8822-8389-45a9-9460-e8fc7cf1b99a",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kritisk korsning"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "R\u00F6d = inledning av varvet efter ca 2 km. Bl\u00E5= mot m\u00E5let efter ca 19 km. "
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "05e52b8c-d7fb-4b50-b504-0c988bc11b0c",
              "mediaKey": "e4bb192d-a76a-47ec-97a6-7c5f84f91cca",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F4F2E2"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "62ace519-6fc4-474d-8896-86f1481802ba",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b0dd4764-91ae-4e79-96f1-49fd0371e1b7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "2c8e8822-8389-45a9-9460-e8fc7cf1b99a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "62ace519-6fc4-474d-8896-86f1481802ba",
        "contentUdi": "umb://element/62ace5196fc4474d889686f1481802ba",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "2c8e8822-8389-45a9-9460-e8fc7cf1b99a",
        "contentUdi": "umb://element/2c8e8822838945a99460e8fc7cf1b99a",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b0dd4764-91ae-4e79-96f1-49fd0371e1b7",
        "contentUdi": "umb://element/b0dd476491ae4e7996f149fd0371e1b7",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "24248580-56b6-460d-8d8f-cf7c600be62d",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4b408219-1c3f-4cb5-ae97-321d8b6342fa",
              "mediaKey": "291daa5c-2ba6-4949-b455-802a1ce8e8eb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "24248580-56b6-460d-8d8f-cf7c600be62d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "24248580-56b6-460d-8d8f-cf7c600be62d",
        "contentUdi": "umb://element/2424858056b6460d8d8fcf7c600be62d",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "293de26c-ed66-4145-9d6d-a5c6a19c0019",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023-08-15T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "293de26c-ed66-4145-9d6d-a5c6a19c0019",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "293de26c-ed66-4145-9d6d-a5c6a19c0019",
        "contentUdi": "umb://element/293de26ced6641459d6da5c6a19c0019",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Bansträckningen - Umemaran 2025]]></Value>
    </title>
  </Properties>
</Content>