<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8ed56ed-2e36-435b-8a36-49202ff6dade" Alias="En liten film från Umemaran 2024 av Isak Genberg" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/EnLitenFilmFraanUmemaran2024AvIsakGenberg</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-10-26T12:43:26</CreateDate>
    <NodeName Default="En liten film från Umemaran 2024 av Isak Genberg" />
    <SortOrder>35</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "key": "ce36ad25-d663-4856-9e01-01d4f868012f",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En liten film fr\u00E5n Umemaran 2024 av Isak Genberg"
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "videos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
                "key": "2c91594e-fd26-472a-bc89-e913ec873c08",
                "udi": null,
                "values": [
                  {
                    "alias": "videoUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "https://vimeo.com/1023551486?"
                  },
                  {
                    "alias": "altText",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": ""
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "2c91594e-fd26-472a-bc89-e913ec873c08",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "2c91594e-fd26-472a-bc89-e913ec873c08",
                  "contentUdi": "umb://element/2c91594efd26472abc89e913ec873c08",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "ce36ad25-d663-4856-9e01-01d4f868012f",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "ce36ad25-d663-4856-9e01-01d4f868012f",
        "contentUdi": "umb://element/ce36ad25d66348569e0101d4f868012f",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "d5347aa0-8129-41f1-af8c-74b5991ca6ee",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d5347aa0-8129-41f1-af8c-74b5991ca6ee",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d5347aa0-8129-41f1-af8c-74b5991ca6ee",
        "contentUdi": "umb://element/d5347aa0812941f1af8c74b5991ca6ee",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[En liten film från Umemaran 2024 av Isak Genberg]]></Value>
    </title>
  </Properties>
</Content>