<?xml version="1.0" encoding="utf-8"?>
<Content Key="f4238f36-99c3-4757-8d3f-5165ab8b99e3" Alias="Gammliaterrängen 2024" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Gammliaterraengen2024</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-05-02T09:26:58</CreateDate>
    <NodeName Default="Gammliaterrängen 2024" />
    <SortOrder>25</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "c64460cc-ac17-43f5-bfd4-97992e3f8c51",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Gammliaterr\u00E4ngen l\u00F6r 25 maj 2024"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBarn 800m\u003C/p\u003E\n\u003Cp\u003EJuniorer \u0026amp; motion\u00E4rer 4 km\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003EHuvudklassen 8 km\u003C/p\u003E\n\u003Cp\u003EDetaljerad inbjudan kommer inom kort.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0022 alt=\u0022Gammliaterr\u00E4ngen 2024\u0022 width=\u0022500\u0022 height=\u0022333\u0022 data-udi=\u0022umb://media/fafc98c08bd549329d6cf8d2a0778984\u0022\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c64460cc-ac17-43f5-bfd4-97992e3f8c51",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c64460cc-ac17-43f5-bfd4-97992e3f8c51",
        "contentUdi": "umb://element/c64460ccac1743f5bfd497992e3f8c51",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "a92c07c9-de27-4feb-a942-57776e7dd569",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a92c07c9-de27-4feb-a942-57776e7dd569",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a92c07c9-de27-4feb-a942-57776e7dd569",
        "contentUdi": "umb://element/a92c07c9de274feba94257776e7dd569",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Gammliaterrängen  lör 25 maj 2024]]></Value>
    </title>
  </Properties>
</Content>