<?xml version="1.0" encoding="utf-8"?>
<Content Key="865fa121-8119-4ed6-a531-b51db5dd3877" Alias="God Jul från Rwanda" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/GodJulFraanRwanda</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:47:17</CreateDate>
    <NodeName Default="God Jul från Rwanda" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "key": "d782920d-2083-4f44-89b6-233387525cb1",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "God Jul fr\u00E5n Rwanda!"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Totalt 28 tr\u00F6jor och jackor som inte kommer att se s\u00E5 mycket sn\u00F6 igen"
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
                "key": "37214cec-66fe-4c17-a3cd-609b7694dbd2",
                "udi": null,
                "values": [
                  {
                    "alias": "media",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "4fb7ca71-5776-4b67-9eda-2d2e662c1634",
                        "mediaKey": "08805e13-8100-41f7-9a5c-bc1301756815",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "37214cec-66fe-4c17-a3cd-609b7694dbd2",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "37214cec-66fe-4c17-a3cd-609b7694dbd2",
                  "contentUdi": "umb://element/37214cec66fe4c17a3cd609b7694dbd2",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mediaAlign",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Right"
        },
        {
          "alias": "cta",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#7A7F50"
          }
        }
      ]
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "6a75fb38-7106-4302-b25a-d8bb31ab2cd6",
      "udi": null,
      "values": [
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "50d0d082-d2b9-4c58-afc7-84194ce6db12",
              "mediaKey": "228b0136-a5c8-4a98-be4d-0f728508dd2f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "187951cb-4f45-449a-8ace-afddd549dad4",
              "mediaKey": "5536182f-7a0a-4f20-a719-2ae187d6d12f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "8da73983-6266-4438-886d-b77450cc29b9",
              "mediaKey": "c5a0cef0-40bb-4a5a-9cab-f0bba0b624e8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "658ef78d-bc43-4856-8236-43cf8a6352f8",
              "mediaKey": "9f22d833-b8d2-4d4a-9a18-b16223f38f15",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "8804f0e1-7e58-4b4a-87f1-9bd9fed4d408",
              "mediaKey": "c7e43290-60c6-425c-9f93-e5d3f75ace70",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "396d76ab-2ab5-440a-aeb8-f328f0063d3b",
              "mediaKey": "33a7191c-53c3-4657-8c64-bdf845377c9a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "265dad35-760a-4cfa-a39b-248304a0cd47",
              "mediaKey": "c7aa4a12-0dd9-42dd-ae24-8c006c83bdbc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "103807cf-498e-4432-a061-6c41fda010a1",
              "mediaKey": "08805e13-8100-41f7-9a5c-bc1301756815",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "8d52df76-daed-4e89-975e-8695e609226b",
              "mediaKey": "d8ac4ee3-fa4c-4110-9888-b5433e5956d4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "0597d7f8-fe43-4861-bc48-8b9a293679bc",
              "mediaKey": "ec62565b-6bea-444f-8795-cbf68c34725f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4456dc33-edc7-471b-8b7f-61133d4224ab",
              "mediaKey": "71b13b2f-f6e3-4699-ad4a-e260fc1e2683",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "0cc6f515-cc20-436d-8d7a-4fc43bd22a41",
              "mediaKey": "4367dae9-2d47-4379-8734-9935627adeda",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "",
            "value": "#F4F2E2"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d782920d-2083-4f44-89b6-233387525cb1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6a75fb38-7106-4302-b25a-d8bb31ab2cd6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d782920d-2083-4f44-89b6-233387525cb1",
        "contentUdi": "umb://element/d782920d20834f4489b6233387525cb1",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6a75fb38-7106-4302-b25a-d8bb31ab2cd6",
        "contentUdi": "umb://element/6a75fb3871064302b25ad8bb31ab2cd6",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "e19c0113-971c-4886-9119-b074cbc322ec",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "39784238-13a1-4589-bf1c-0e81a12a7212",
              "mediaKey": "4367dae9-2d47-4379-8734-9935627adeda",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e19c0113-971c-4886-9119-b074cbc322ec",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e19c0113-971c-4886-9119-b074cbc322ec",
        "contentUdi": "umb://element/e19c0113971c48869119b074cbc322ec",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "a1403aed-ab0a-46ea-b624-68cce540cc1e",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2017-12-24T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a1403aed-ab0a-46ea-b624-68cce540cc1e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a1403aed-ab0a-46ea-b624-68cce540cc1e",
        "contentUdi": "umb://element/a1403aedab0a46eab62468cce540cc1e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[God Jul från Rwanda!]]></Value>
    </title>
  </Properties>
</Content>