<?xml version="1.0" encoding="utf-8"?>
<Content Key="b678a94d-08b8-4a85-844a-c4c333399d6f" Alias="Inbjudan Gammliaterrängen 25 maj 2024" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/InbjudanGammliaterraengen25Maj2024</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-05-06T06:10:55</CreateDate>
    <NodeName Default="Inbjudan Gammliaterrängen 25 maj 2024" />
    <SortOrder>26</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "d54002e2-0c63-4681-bac3-523630858ed2",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "48008593-7ac6-4210-90e9-0e443dd7009c",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Inbjudan Gammliaterr\u00E4ngen 25 maj 2024"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/1f5b0332e01541188b65d4f90eb8e32b"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "48008593-7ac6-4210-90e9-0e443dd7009c",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "48008593-7ac6-4210-90e9-0e443dd7009c",
                  "contentUdi": "umb://element/480085937ac6421090e90e443dd7009c",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "d54002e2-0c63-4681-bac3-523630858ed2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "d54002e2-0c63-4681-bac3-523630858ed2",
        "contentUdi": "umb://element/d54002e20c634681bac3523630858ed2",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "12ab5fbf-1fbe-4158-adea-9e62fdf02a4a",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "12ab5fbf-1fbe-4158-adea-9e62fdf02a4a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "12ab5fbf-1fbe-4158-adea-9e62fdf02a4a",
        "contentUdi": "umb://element/12ab5fbf1fbe4158adea9e62fdf02a4a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Inbjudan Gammliaterrängen 25 maj 2024]]></Value>
    </title>
  </Properties>
</Content>