<?xml version="1.0" encoding="utf-8"?>
<Content Key="7413c529-9252-43e8-acb8-2d78ff492a94" Alias="Jalles" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Jalles</Path>
    <Trashed>false</Trashed>
    <ContentType>startPage</ContentType>
    <CreateDate>2023-08-01T13:37:34</CreateDate>
    <NodeName Default="Jalles" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "e0cd373e-0093-4b4e-a0ac-e3beb281d51a",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "V\u00E4lkommen till Jalles TC!"
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "ac6731d0-73ca-4662-8267-a5506d937345",
              "mediaKey": "96bab21a-cd1f-4217-b7e5-d33d325ecd08",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "a85f36b7-0cb2-4ee2-b823-a8a2606de051",
              "mediaKey": "7da0f3fd-35c3-41cc-a827-e2dffc1d5b5b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "38088e5c-f787-4f4a-8f48-3a979c259854",
              "mediaKey": "c6f0b27d-f450-4415-bc7e-89772f57498d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "16bccc82-e553-48d9-8553-755fcd7d4242",
              "mediaKey": "195c1378-ff47-4762-95d4-0ea2631a3cbd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "5734cb61-a703-44a0-907e-347645cf84aa",
              "mediaKey": "1835e74e-6389-44d5-b132-d051941e7ce8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "dc0ff560-039b-4bbe-85ad-da5fd806c5fb",
              "mediaKey": "9a18b4e8-fc21-43c5-9651-75e87be21df4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "08db22c2-781d-4115-8f0e-d122b82110b0",
              "mediaKey": "17c2c325-cdcd-49d9-baa6-9fc9750412b8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "2e0b319a-a5c5-4025-aa2e-d328fee4e356",
              "mediaKey": "aa912b88-096e-4cf8-be69-d32c19fbfd43",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "258c7def-a01d-4316-baa6-81cd8261a7db",
              "mediaKey": "742606b1-c36a-41e7-b8b5-3307132aa299",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "3c829d8b-41af-4d26-afa4-3d1e10bc7896",
              "mediaKey": "c7c4af7f-da00-401b-825f-d917a70bacce",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "9322834a-6951-4faa-9a89-bd3db4caaac5",
              "mediaKey": "7238c6b2-53c0-4e4a-81e7-4368fa98d681",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fff8ad",
            "label": "fff8ad",
            "sortOrder": 1,
            "id": "2"
          }
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En klubb f\u00F6r l\u00F6pare och l\u00E4ngdskid\u00E5kare"
        }
      ]
    },
    {
      "contentTypeKey": "dda08392-6122-4ea9-bb64-3626deed49d2",
      "key": "4f129145-417e-4e14-b49c-788a4e17f600",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Senaste nytt"
        },
        {
          "alias": "highlights",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/34393d4040ef422cbd853f91b46d02a0,umb://document/73182af4c4b941e5967f2f19c7f9f383,umb://document/5b5b2f5d29fb4da1afce2c6dc0f06ca3"
        },
        {
          "alias": "auto",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "1"
        }
      ]
    },
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "key": "99ca56c2-d710-4863-bba8-58c0fc65a06d",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Noodles patoodles"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cupcake ipsum dolor sit amet chocolate cake topping muffin muffin. Carrot cake muffin brownie cookie marzipan danish toffee cake drag\u00E9e. Topping wafer tootsie roll marshmallow chocolate bar pie."
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
                "key": "9d0379e5-c619-4cf4-8a32-23c32e1a62ec",
                "udi": null,
                "values": [
                  {
                    "alias": "media",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "ebed92e5-0832-4450-bb61-d29293ac43ce",
                        "mediaKey": "f2a8127a-a8ab-44a1-98f4-3f1e31965fdd",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "addBlurOverlay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": 1
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9d0379e5-c619-4cf4-8a32-23c32e1a62ec",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9d0379e5-c619-4cf4-8a32-23c32e1a62ec",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mediaAlign",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Right"
        },
        {
          "alias": "cta",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
                "key": "d218c104-86ea-4b37-ae0a-d8b1a5cce54a",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "En knapp"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Jalles",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/7413c529925243e8acb82d78ff492a94",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
                "key": "8d577417-319b-40ec-a477-d60a187e6b39",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "En annan knapp"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Adelskalender",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/cba757257b60432496057d625c2d74f1",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "d218c104-86ea-4b37-ae0a-d8b1a5cce54a",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "8d577417-319b-40ec-a477-d60a187e6b39",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d218c104-86ea-4b37-ae0a-d8b1a5cce54a",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "8d577417-319b-40ec-a477-d60a187e6b39",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "fafaec",
            "value": "#fafaec"
          }
        }
      ]
    },
    {
      "contentTypeKey": "08d7085d-e5e6-4c32-b0db-8a8be0bcd939",
      "key": "e638be44-facb-45de-ae7e-96dea02e7663",
      "udi": null,
      "values": [
        {
          "alias": "videos",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "197d1fee-db39-420d-a83e-3341157680e4",
                "key": "0a70b029-c0d4-403d-b139-da7915649e00",
                "udi": null,
                "values": [
                  {
                    "alias": "videoUrl",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "https://vimeo.com/169801905"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "0a70b029-c0d4-403d-b139-da7915649e00",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "0a70b029-c0d4-403d-b139-da7915649e00",
                  "contentUdi": null,
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "description",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Cupcake ipsum dolor sit amet chocolate cake topping muffin muffin. Carrot cake muffin brownie cookie marzipan danish toffee cake drag\u00E9e. Topping wafer tootsie roll marshmallow chocolate bar pie."
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En cool video"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e0cd373e-0093-4b4e-a0ac-e3beb281d51a",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "4f129145-417e-4e14-b49c-788a4e17f600",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "99ca56c2-d710-4863-bba8-58c0fc65a06d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e638be44-facb-45de-ae7e-96dea02e7663",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4f129145-417e-4e14-b49c-788a4e17f600",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e0cd373e-0093-4b4e-a0ac-e3beb281d51a",
        "contentUdi": "umb://element/e0cd373e00934b4ea0ace3beb281d51a",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "99ca56c2-d710-4863-bba8-58c0fc65a06d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e638be44-facb-45de-ae7e-96dea02e7663",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <facebook>
      <Value><![CDATA[[
  {
    "name": "Facebook",
    "target": null,
    "unique": null,
    "type": null,
    "udi": null,
    "url": "https://www.facebook.com/JallesTC/",
    "queryString": null
  }
]]]></Value>
    </facebook>
    <footer>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "031b465a-163c-4ccc-9bea-0e4367593c8c",
      "key": "431cd85e-6ebc-436b-a4f2-a58ac2fec2a2",
      "udi": null,
      "values": [
        {
          "alias": "footerText",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Jalles TC Ume\u00E5 \u00E4r en idrottsf\u00F6rening grundad 1973 med inriktning p\u00E5 l\u00F6pning och skidor. V\u00E4lkommen till oss!"
        },
        {
          "alias": "umeMaranLogo",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "41ef5cab-d596-4d93-b8e9-37d3e26bed14",
              "mediaKey": "7c09b387-4fe3-4d16-84ef-7b1ab932e885",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "sponsors",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "3c50af7e-aaef-4f85-af99-2e0a1f0b284f",
              "mediaKey": "ed606940-c92e-41b9-944d-cbb4fa243278",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "eb940467-cb4b-47ed-8cd7-76a5434f53a4",
              "mediaKey": "1668361d-ea20-4b74-ad9f-ebb0e4590dbe",
              "mediaTypeAlias": "sponsor",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "431cd85e-6ebc-436b-a4f2-a58ac2fec2a2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "431cd85e-6ebc-436b-a4f2-a58ac2fec2a2",
        "contentUdi": "umb://element/431cd85e6ebc436ba4f2a58ac2fec2a2",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </footer>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "276b0c0b-1c63-43c0-8237-2e35039c23eb",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "V\u00E4lkommen till Jalles TC"
        },
        {
          "alias": "subHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "En klubb f\u00F6r l\u00F6pare och l\u00E4ngdskid\u00E5kare sedan 1973"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "276b0c0b-1c63-43c0-8237-2e35039c23eb",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "276b0c0b-1c63-43c0-8237-2e35039c23eb",
        "contentUdi": "umb://element/276b0c0b1c6343c082372e35039c23eb",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <mainMenu>
      <Value><![CDATA[[
  "umb://document/c764a2ffa9b84491b84cd89e30fc17b1",
  "umb://document/75f3857da98244b4a21828165759fe72",
  "umb://document/ba0416fefabf49d38527bc316ee613ee",
  "umb://document/cba757257b60432496057d625c2d74f1",
  "umb://document/c2ff2a0a97444bffaccbdb0598e5c155"
]]]></Value>
    </mainMenu>
    <metaDescription>
      <Value><![CDATA[Jalles TC Umeå är en idrottsförening grundad 1973 med inriktning på löpning och skidor.]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[[
  {
    "key": "22e59a77-611c-4034-86c1-0a35ba97c4a7",
    "mediaKey": "0d61932d-1736-441e-b49e-cdb3f56c9130",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles TC]]></Value>
    </title>
  </Properties>
</Content>