<?xml version="1.0" encoding="utf-8"?>
<Content Key="0a426af6-d9b8-4b68-8806-9d8884204744" Alias="Jalles 50år" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Jalles50aar</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:53:45</CreateDate>
    <NodeName Default="Jalles 50år" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "0691a0a7-72b9-4ed6-9eb7-2781b57d7777",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Jalles 50\u00E5r"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EJalles TC 50-\u00E5rsfest blev mycket lyckad i Bygdetr\u00E4skliden.\u00A0\u003C/p\u003E\n\u003Cp\u003EF\u00F6rst en gemensam cykeltur G\u00F6ksj\u00F6n Runt med fyra fikastopp och med tipsfr\u00E5gor.\u003C/p\u003E\n\u003Cp\u003ECa 430 deltog. Lena Olsson vann f\u00F6rstapris - en cykel. Maken Anders fick godis f\u00F6r 500 kr p\u00E5 detta byeventet. Sedan bad i G\u00F6ksj\u00F6n innan grillbruffen tog vid. Medaljutdelning till strykt\u00E5liga i klubbens styrelse.\u003C/p\u003E\n\u003Cp\u003EJalle Kollberg fick medalj nr 1 online och ber\u00E4ttade via mobil om klubbens f\u00F6delse. Roland Lindberg nr 2 som varit med n\u00E4stan\u00A0\u003Ca tabindex=\u0022-1\u0022\u003E\u003C/a\u003Efr\u00E5n start och ytterligare sju fick var sitt schatull. Den varma kv\u00E4llen avrundades med Jallest\u00E5rta fr\u00E5n Annikas Skafferi och ber\u00E4ttelser, koll p\u00E5 gamla foton och urklipp.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "891cd9ff-2026-4267-8316-dd358a6cda02",
      "udi": null,
      "values": [
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "17067ed8-4a8d-40f7-af8b-acdb3129be7d",
              "mediaKey": "c4a85d10-cc2c-412f-9362-8f2c119e361a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "ead360f8-9f2f-497e-bc02-de9a4ec58cba",
              "mediaKey": "6a3849f7-675a-4be7-aae3-0b78e1dba86a",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "45710de3-fbec-467b-ae7d-a9afca1145fd",
              "mediaKey": "98b5e283-a983-4aa5-b574-769c266b8da7",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "28c28887-5cf4-42e6-9d29-9170b03a0ab6",
              "mediaKey": "ce79ca54-b27e-4096-8302-fb0ce6c9ef03",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "1bbc6b94-ea76-4b22-a16c-bf8cbb0b9627",
              "mediaKey": "96bab21a-cd1f-4217-b7e5-d33d325ecd08",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "9d0f6cb7-ad00-4502-9678-f2527382803d",
              "mediaKey": "74daf9cb-fb04-4ce8-b5a9-67a425a8c603",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "70b4256e-ea4a-49d5-b387-99b250dbcb31",
              "mediaKey": "17c2c325-cdcd-49d9-baa6-9fc9750412b8",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4f809721-087b-4b08-839b-049b007fde4f",
              "mediaKey": "edb4812d-72b9-4e43-8934-ede675223d5b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "d02adb6e-8982-444d-ab37-b687f5196abf",
              "mediaKey": "b3571664-f1cc-44f4-b847-8dbc14e0d19d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "7d797b57-9742-49f6-8fb1-486d4f4ba643",
              "mediaKey": "b900195e-4425-407f-ab63-50b08080b474",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fafaec",
            "label": "fafaec",
            "sortOrder": 0,
            "id": "1"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ".. och m\u00E5nga bilder togs!"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0691a0a7-72b9-4ed6-9eb7-2781b57d7777",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "891cd9ff-2026-4267-8316-dd358a6cda02",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0691a0a7-72b9-4ed6-9eb7-2781b57d7777",
        "contentUdi": "umb://element/0691a0a772b94ed69eb72781b57d7777",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "891cd9ff-2026-4267-8316-dd358a6cda02",
        "contentUdi": "umb://element/891cd9ff202642678316dd358a6cda02",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "5a76b5ec-5e86-4e10-8bcf-5a1e49564e13",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "e7c285af-596f-47c1-af0a-cbdebddd4d3d",
              "mediaKey": "96bab21a-cd1f-4217-b7e5-d33d325ecd08",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5a76b5ec-5e86-4e10-8bcf-5a1e49564e13",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5a76b5ec-5e86-4e10-8bcf-5a1e49564e13",
        "contentUdi": "umb://element/5a76b5ec5e864e108bcf5a1e49564e13",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "28aef5ca-f35d-40e5-9dbd-2c2b665bb8d7",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023-06-19T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "28aef5ca-f35d-40e5-9dbd-2c2b665bb8d7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "28aef5ca-f35d-40e5-9dbd-2c2b665bb8d7",
        "contentUdi": "umb://element/28aef5caf35d40e59dbd2c2b665bb8d7",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Jalles 50år]]></Value>
    </title>
  </Properties>
</Content>