<?xml version="1.0" encoding="utf-8"?>
<Content Key="13df43be-3936-4bf7-9701-e063ad2ff156" Alias="Kulinarium - ny sponor Umemaran" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/KulinariumNySponorUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-09T14:51:38</CreateDate>
    <NodeName Default="Kulinarium - ny sponor Umemaran" />
    <SortOrder>42</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "4bc3014d-ce1f-4b78-b742-17c1443cae9e",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Kulinarium - ny sponor Umemaran"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;height=500\u0022 alt=\u0022\u0022 width=\u0022353\u0022 height=\u0022500\u0022 data-udi=\u0022umb://media/ffd31f621f3a47f89b8faccac3051ef4\u0022\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4bc3014d-ce1f-4b78-b742-17c1443cae9e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4bc3014d-ce1f-4b78-b742-17c1443cae9e",
        "contentUdi": "umb://element/4bc3014dce1f4b78b74217c1443cae9e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "6ac1a8bf-3686-43fb-ac93-aff4c1992140",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "6ac1a8bf-3686-43fb-ac93-aff4c1992140",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "6ac1a8bf-3686-43fb-ac93-aff4c1992140",
        "contentUdi": "umb://element/6ac1a8bf368643fbac93aff4c1992140",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "9a8dca1e-3439-4baf-b596-b7ad7b9af5d2",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-10-08T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9a8dca1e-3439-4baf-b596-b7ad7b9af5d2",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9a8dca1e-3439-4baf-b596-b7ad7b9af5d2",
        "contentUdi": "umb://element/9a8dca1e34394bafb596b7ad7b9af5d2",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Kulinarium - ny sponor Umemaran]]></Value>
    </title>
  </Properties>
</Content>