<?xml version="1.0" encoding="utf-8"?>
<Content Key="31369a51-e1f4-446c-9fc0-13f2726b0a60" Alias="Lopning" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Lopning</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-09-06T14:00:06</CreateDate>
    <NodeName Default="Lopning" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "2c8b6b8e-e41d-40f0-bcc9-50c2aa9c63ba",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "L\u00F6pning"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETisdagar l\u00F6pning fr\u00E5n Maja Bescow gymnastiksal 17.30.\u003C/p\u003E\n\u003Cp\u003EVid sommarlov utg\u00E5r vi fr\u00E5n gamla sporthallen.\u00A0Vi v\u00E4lkomnar nya tr\u00E4ningskompisar!\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2c8b6b8e-e41d-40f0-bcc9-50c2aa9c63ba",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2c8b6b8e-e41d-40f0-bcc9-50c2aa9c63ba",
        "contentUdi": "umb://element/2c8b6b8ee41d40f0bcc950c2aa9c63ba",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Tr\u00E4ningar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "cdfd116e-11a9-4385-9ea7-2f8b316b49bf",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "522585ba-7364-45a6-ad5c-271a0e315049",
              "mediaKey": "5e7d125d-f664-4887-b2d1-8c3853799a36",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "cdfd116e-11a9-4385-9ea7-2f8b316b49bf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "cdfd116e-11a9-4385-9ea7-2f8b316b49bf",
        "contentUdi": "umb://element/cdfd116e11a943859ea72f8b316b49bf",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Träningar: Löpning]]></Value>
    </title>
  </Properties>
</Content>