<?xml version="1.0" encoding="utf-8"?>
<Content Key="73182af4-c4b9-41e5-967f-2f19c7f9f383" Alias="Mätningsarbete för Umemaran" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/MaetningsarbeteFoerUmemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:09:41</CreateDate>
    <NodeName Default="Mätningsarbete för Umemaran" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "f851d114-fe26-413a-8294-8cab0d28b09e",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "M\u00E4tningsarbete f\u00F6r Umemaran.."
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "... i full g\u00E5ng trots v\u00E4dret!"
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "66e6b122-a9ee-4d18-8516-4d1b1d2dd6cc",
              "mediaKey": "5c6b84ed-13f5-4876-b0c1-091547674799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "467a27ba-e2c2-4e1a-be89-b5f111550193",
              "mediaKey": "6c63a37f-7da2-4a8b-9eff-6a51efbbbc3b",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "4b282624-0d84-462a-83c1-1ee36024cf70",
              "mediaKey": "7134a0a9-6dfc-4aa9-a90e-512784f858df",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffeb19",
            "value": "#ffeb19"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f851d114-fe26-413a-8294-8cab0d28b09e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f851d114-fe26-413a-8294-8cab0d28b09e",
        "contentUdi": "umb://element/f851d114fe26413a82948cab0d28b09e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Historia",
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "52ddf18d-cd6d-4a02-8844-834ae38e6c57",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96bb7196-d176-4a3e-80b6-2a14729926fd",
              "mediaKey": "5c6b84ed-13f5-4876-b0c1-091547674799",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ffeb19",
            "label": "ffeb19",
            "sortOrder": 2,
            "id": "3"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "52ddf18d-cd6d-4a02-8844-834ae38e6c57",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52ddf18d-cd6d-4a02-8844-834ae38e6c57",
        "contentUdi": "umb://element/52ddf18dcd6d4a028844834ae38e6c57",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "05c15a57-22f4-4db6-8cd3-419f28507583",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023-08-21T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "05c15a57-22f4-4db6-8cd3-419f28507583",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "05c15a57-22f4-4db6-8cd3-419f28507583",
        "contentUdi": "umb://element/05c15a5722f44db68cd3419f28507583",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Mätningsarbete för Umemaran]]></Value>
    </title>
  </Properties>
</Content>