<?xml version="1.0" encoding="utf-8"?>
<Content Key="83f3dd74-d9e1-492d-9e9a-f48cf40a26c0" Alias="Not Found" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/NotFound</Path>
    <Trashed>false</Trashed>
    <ContentType>errorPage</ContentType>
    <CreateDate>2023-08-18T17:29:29</CreateDate>
    <NodeName Default="Not Found" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "key": "63067c24-9b51-4d9a-8d25-0ab3945d5c4b",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ooops! Nu gick n\u00E5got fel.."
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Den sidan du s\u00F6kte kunde tyv\u00E4rr inte hittas. \nKanske kan n\u00E5gon av dessa l\u00E4nkar hj\u00E4lpa?"
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
                "key": "8ad2f4fe-4ae9-429b-86f1-b4f1c098ee80",
                "udi": null,
                "values": [
                  {
                    "alias": "media",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "7df2e3d3-825c-4e3a-a513-437f4630bfba",
                        "mediaKey": "0cb49c58-e565-4f41-8315-65c581d103aa",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "addBlurOverlay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "0"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "8ad2f4fe-4ae9-429b-86f1-b4f1c098ee80",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "8ad2f4fe-4ae9-429b-86f1-b4f1c098ee80",
                  "contentUdi": "umb://element/8ad2f4fe4ae9429b86f1b4f1c098ee80",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mediaAlign",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Right"
        },
        {
          "alias": "cta",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
                "key": "b48c145f-6812-4aad-a1b8-818c45916615",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Om Jalles"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Om Jalles",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/ba0416fefabf49d38527bc316ee613ee",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              },
              {
                "contentTypeKey": "181ad78f-e8d0-4318-9816-2d024f08b075",
                "key": "5ea18f71-16ed-4873-a5e0-2940b973d411",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Bli Medlem"
                  },
                  {
                    "alias": "link",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "name": "Bli Medlem",
                        "target": null,
                        "unique": null,
                        "type": null,
                        "udi": "umb://document/c2ff2a0a97444bffaccbdb0598e5c155",
                        "url": null,
                        "queryString": null
                      }
                    ]
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "b48c145f-6812-4aad-a1b8-818c45916615",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "5ea18f71-16ed-4873-a5e0-2940b973d411",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "5ea18f71-16ed-4873-a5e0-2940b973d411",
                  "contentUdi": "umb://element/5ea18f7116ed4873a5e02940b973d411",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "b48c145f-6812-4aad-a1b8-818c45916615",
                  "contentUdi": "umb://element/b48c145f68124aada1b8818c45916615",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fff8ad",
            "label": "fff8ad",
            "sortOrder": 1,
            "id": "2"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "63067c24-9b51-4d9a-8d25-0ab3945d5c4b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "63067c24-9b51-4d9a-8d25-0ab3945d5c4b",
        "contentUdi": "umb://element/63067c249b514d9a8d250ab3945d5c4b",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "8e340291-c2c6-4b79-835b-f4a1a61eb39c",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ffeb19",
            "label": "ffeb19",
            "sortOrder": 2,
            "id": "3"
          }
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8e340291-c2c6-4b79-835b-f4a1a61eb39c",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8e340291-c2c6-4b79-835b-f4a1a61eb39c",
        "contentUdi": "umb://element/8e340291c2c64b79835bf4a1a61eb39c",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
  </Properties>
</Content>