<?xml version="1.0" encoding="utf-8"?>
<Content Key="c5922aaf-ad7e-4c6f-acd5-3fd9e2726a4d" Alias="PM för Umemaran 2025" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/PMFoerUmemaran2025</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-04T07:36:00</CreateDate>
    <NodeName Default="PM för Umemaran 2025" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "156c7fed-3fe2-4855-8b7c-2f981a36e427",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "7b83a274-90b7-463f-b03a-152963e589e6",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "PM Umemaran 2025"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/57430f2361b9468f83063e1f4512ebfa"
                  }
                ]
              },
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "660ada92-bfe6-43fc-b7f3-44cb5bc06d8d",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "PM Umemaran 2025 (English)"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/a6f2d3cbbec1434f9290cae698e219e9"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "7b83a274-90b7-463f-b03a-152963e589e6",
                "culture": null,
                "segment": null
              },
              {
                "contentKey": "660ada92-bfe6-43fc-b7f3-44cb5bc06d8d",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "7b83a274-90b7-463f-b03a-152963e589e6",
                  "contentUdi": "umb://element/7b83a27490b7463fb03a152963e589e6",
                  "settingsKey": null,
                  "settingsUdi": null
                },
                {
                  "contentKey": "660ada92-bfe6-43fc-b7f3-44cb5bc06d8d",
                  "contentUdi": "umb://element/660ada92bfe643fcb7f344cb5bc06d8d",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "156c7fed-3fe2-4855-8b7c-2f981a36e427",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "156c7fed-3fe2-4855-8b7c-2f981a36e427",
        "contentUdi": "umb://element/156c7fed3fe248558b7c2f981a36e427",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "08cdde93-434d-40ad-a886-83f16df49273",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "08cdde93-434d-40ad-a886-83f16df49273",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "08cdde93-434d-40ad-a886-83f16df49273",
        "contentUdi": "umb://element/08cdde93434d40ada88683f16df49273",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[PM för Umemaran 2025]]></Value>
    </title>
  </Properties>
</Content>