<?xml version="1.0" encoding="utf-8"?>
<Content Key="d792f12f-623b-48f0-8e11-0c75a1faa2bb" Alias="Program Västerbottningens GP löpning 2025" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/ProgramVaesterbottningensGPLoepning2025</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-24T04:55:03</CreateDate>
    <NodeName Default="Program Västerbottningens GP löpning 2025" />
    <SortOrder>38</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "7228f9d6-6479-4b70-9ad6-895db7c0f636",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Program V\u00E4sterbottningens GP l\u00F6pning 2025"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Program V\u00E4sterbottningens GP l\u00F6pning 2025"
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "6236b247-7845-4083-a423-f2c207837a6a",
              "mediaKey": "ddac0250-6c66-4a8b-9dd3-37b829124430",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ffeb19",
            "label": "ffeb19",
            "sortOrder": 2,
            "id": "3"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "7228f9d6-6479-4b70-9ad6-895db7c0f636",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "7228f9d6-6479-4b70-9ad6-895db7c0f636",
        "contentUdi": "umb://element/7228f9d664794b709ad6895db7c0f636",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "a593f7b5-4e35-405d-85fc-d47a342fda36",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a593f7b5-4e35-405d-85fc-d47a342fda36",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a593f7b5-4e35-405d-85fc-d47a342fda36",
        "contentUdi": "umb://element/a593f7b54e35405d85fcd47a342fda36",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Program Västerbottningens GP löpning 2025]]></Value>
    </title>
  </Properties>
</Content>