<?xml version="1.0" encoding="utf-8"?>
<Content Key="15c546d7-dabe-40ff-a97d-8179f4eefe53" Alias="Resultat Umemaran 2021" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/ResultatUmemaran2021</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-02-09T10:01:23</CreateDate>
    <NodeName Default="Resultat Umemaran 2021" />
    <SortOrder>21</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "21debb14-077b-4292-99b0-01f1951a4617",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "9729aaaa-ea96-4f4b-99c0-5bed0f9d1920",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Umemaran 2021"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/9be490479b7c4d018532559e65db96ba"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "9729aaaa-ea96-4f4b-99c0-5bed0f9d1920",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "9729aaaa-ea96-4f4b-99c0-5bed0f9d1920",
                  "contentUdi": "umb://element/9729aaaaea964f4b99c05bed0f9d1920",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "21debb14-077b-4292-99b0-01f1951a4617",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "21debb14-077b-4292-99b0-01f1951a4617",
        "contentUdi": "umb://element/21debb14077b429299b001f1951a4617",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "b589bdfd-9fcd-4a25-8870-147b2e5ba28b",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b589bdfd-9fcd-4a25-8870-147b2e5ba28b",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b589bdfd-9fcd-4a25-8870-147b2e5ba28b",
        "contentUdi": "umb://element/b589bdfd9fcd4a258870147b2e5ba28b",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "9c9360ca-bbd8-4e74-8dce-ce9c35915f8e",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2021-10-09T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9c9360ca-bbd8-4e74-8dce-ce9c35915f8e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9c9360ca-bbd8-4e74-8dce-ce9c35915f8e",
        "contentUdi": "umb://element/9c9360cabbd84e748dcece9c35915f8e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Resultat Umemaran 2021]]></Value>
    </title>
  </Properties>
</Content>