<?xml version="1.0" encoding="utf-8"?>
<Content Key="8709c3ac-a57c-48d5-a648-83b906f50bcf" Alias="Resultat Umemaran 2024 42 km" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/ResultatUmemaran202442Km</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-10-12T17:17:17</CreateDate>
    <NodeName Default="Resultat Umemaran 2024 42 km" />
    <SortOrder>33</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "c59532f5-6b28-4137-8d84-ac147d6235ac",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "aaa752e8-86de-4fdd-af7e-09f8ecafc064",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Resultat Umemaran 2024 42 km"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/4bac8f7a754241a88d91b7c459462a8a"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "aaa752e8-86de-4fdd-af7e-09f8ecafc064",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "aaa752e8-86de-4fdd-af7e-09f8ecafc064",
                  "contentUdi": "umb://element/aaa752e886de4fddaf7e09f8ecafc064",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c59532f5-6b28-4137-8d84-ac147d6235ac",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c59532f5-6b28-4137-8d84-ac147d6235ac",
        "contentUdi": "umb://element/c59532f56b2841378d84ac147d6235ac",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Resultat",
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "25c753ab-90cf-47f0-a0df-819742464a97",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "25c753ab-90cf-47f0-a0df-819742464a97",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "25c753ab-90cf-47f0-a0df-819742464a97",
        "contentUdi": "umb://element/25c753ab90cf47f0a0df819742464a97",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Resultat Umemaran 2024 42 km]]></Value>
    </title>
  </Properties>
</Content>