<?xml version="1.0" encoding="utf-8"?>
<Content Key="066c3668-c73d-4c1d-ab36-4697aa4ee97e" Alias="Rullskidor" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Rullskidor</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:22:37</CreateDate>
    <NodeName Default="Rullskidor" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "0846ef20-977a-4ad4-af4c-b3111581851e",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Dags f\u00F6r rullskidor!"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cdiv\u003EVi t\u00E4nkte dra ig\u00E5ng lite gemensam rullskidtr\u00E4ning med start kl 18.00 entr\u00E9n Sporthallen vid Gammlia den 24/8.\u003C/div\u003E\n\u003Cdiv\u003EVi k\u00F6r lite teknik och lite blandade \u00F6vningar. S\u00E5 alla kan vara med.\u003C/div\u003E\n\u003Cdiv\u003EV\u00E4lkomna!\u003C/div\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "0846ef20-977a-4ad4-af4c-b3111581851e",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "0846ef20-977a-4ad4-af4c-b3111581851e",
        "contentUdi": "umb://element/0846ef20977a4ad4af4cb3111581851e",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Tr\u00E4ningar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "3128998a-aca2-46a0-9d94-12afbd69409a",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "label": "ffeb19",
            "value": "#ffeb19"
          }
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3128998a-aca2-46a0-9d94-12afbd69409a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3128998a-aca2-46a0-9d94-12afbd69409a",
        "contentUdi": "umb://element/3128998aaca246a09d9412afbd69409a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "a911c522-61b6-4da6-a3d0-91c58d62c173",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023-08-15T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a911c522-61b6-4da6-a3d0-91c58d62c173",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a911c522-61b6-4da6-a3d0-91c58d62c173",
        "contentUdi": "umb://element/a911c52261b64da6a3d091c58d62c173",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Träningar: Rullskidor]]></Value>
    </title>
  </Properties>
</Content>