<?xml version="1.0" encoding="utf-8"?>
<Content Key="92dead14-c732-4ebc-bf48-690fda2bac8b" Alias="Segrare Gammliaterrängen genom tiderna- uppdaterad 2024" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/SegrareGammliaterraengenGenomTidernaUppdaterad2024</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-05-09T09:46:19</CreateDate>
    <NodeName Default="Segrare Gammliaterrängen genom tiderna- uppdaterad 2024" />
    <SortOrder>27</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "e096db44-cf96-4b36-89d6-9cfeff9478a7",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "c059cdf1-6151-40d5-9c22-df04a0ceb246",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Segrare Gammliaterr\u00E4ngen genom tiderna- uppdaterad 2024"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/bbdc2ab774964c789e2b53b4dd8ac088"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "c059cdf1-6151-40d5-9c22-df04a0ceb246",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "c059cdf1-6151-40d5-9c22-df04a0ceb246",
                  "contentUdi": "umb://element/c059cdf1615140d59c22df04a0ceb246",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e096db44-cf96-4b36-89d6-9cfeff9478a7",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e096db44-cf96-4b36-89d6-9cfeff9478a7",
        "contentUdi": "umb://element/e096db44cf964b3689d69cfeff9478a7",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Resultat",
  "Historia"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "de0b6215-e27d-434a-a118-9edcf7d66d39",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "de0b6215-e27d-434a-a118-9edcf7d66d39",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "de0b6215-e27d-434a-a118-9edcf7d66d39",
        "contentUdi": "umb://element/de0b6215e27d434aa1189edcf7d66d39",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "1bd2367f-436a-476c-b371-e7401ab56930",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2025-05-12T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1bd2367f-436a-476c-b371-e7401ab56930",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1bd2367f-436a-476c-b371-e7401ab56930",
        "contentUdi": "umb://element/1bd2367f436a476cb371e7401ab56930",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Segrare Gammliaterrängen genom tiderna - uppdaterad 2024]]></Value>
    </title>
  </Properties>
</Content>