<?xml version="1.0" encoding="utf-8"?>
<Content Key="34393d40-40ef-422c-bd85-3f91b46d02a0" Alias="Snart är det dags för Umemaran 2023" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/SnartAerDetDagsFoerUmemaran2023</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-08-30T16:05:52</CreateDate>
    <NodeName Default="Snart är det dags för Umemaran 2023" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "74d6b0b8-b30f-445b-8f68-0bca0135f720",
      "key": "a7886ad8-b5b6-4f77-9ac9-141300ca4acd",
      "udi": null,
      "values": [
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Den 50:e Umemaran l\u00F6ps 7 oktober 2023 med en delvis ny banstr\u00E4ckning p\u00E5 Teg. Distanser 42 och 21 km. F\u00F6r 2024 har Umemaran f\u00E5tt status av Veteran-SM av SFIF! "
        },
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "1a5933ca-e789-45db-8fce-d0c96bcd89ef",
                "key": "cb1b0a6c-5eb2-4bb3-9c3b-772637512b0e",
                "udi": null,
                "values": [
                  {
                    "alias": "media",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": [
                      {
                        "key": "3a3b9efb-5b2c-418d-9f7c-fcd1d010e35f",
                        "mediaKey": "1ae1a1b2-a1f0-45cd-98ae-ca2e3e68688f",
                        "mediaTypeAlias": "Image",
                        "crops": [],
                        "focalPoint": null
                      }
                    ]
                  },
                  {
                    "alias": "addBlurOverlay",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": 0
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "cb1b0a6c-5eb2-4bb3-9c3b-772637512b0e",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "cb1b0a6c-5eb2-4bb3-9c3b-772637512b0e",
                  "contentUdi": "umb://element/cb1b0a6c5eb24bb39c3b772637512b0e",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        },
        {
          "alias": "mediaAlign",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Right"
        },
        {
          "alias": "cta",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fafaec",
            "label": "fafaec",
            "sortOrder": 0,
            "id": "1"
          }
        },
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Snart \u00E4r det dags f\u00F6r Umemaran 2023"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a7886ad8-b5b6-4f77-9ac9-141300ca4acd",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a7886ad8-b5b6-4f77-9ac9-141300ca4acd",
        "contentUdi": "umb://element/a7886ad8b5b64f779ac9141300ca4acd",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar",
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "00529c73-b8e3-43c0-96c9-f9495877a6f8",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "215817ac-82d0-4491-bacd-1d342e9a0633",
              "mediaKey": "1ae1a1b2-a1f0-45cd-98ae-ca2e3e68688f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "00529c73-b8e3-43c0-96c9-f9495877a6f8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "00529c73-b8e3-43c0-96c9-f9495877a6f8",
        "contentUdi": "umb://element/00529c73b8e343c096c9f9495877a6f8",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "02540547-6891-435e-9d06-6781ea208165",
      "key": "1dc7c59f-4030-463d-a3a1-81b4efd62548",
      "udi": null,
      "values": [
        {
          "alias": "date",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "2023-07-09T00:00:00"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "1dc7c59f-4030-463d-a3a1-81b4efd62548",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "1dc7c59f-4030-463d-a3a1-81b4efd62548",
        "contentUdi": "umb://element/1dc7c59f4030463da3a181b4efd62548",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Snart är det dags för Umemaran 2023]]></Value>
    </title>
  </Properties>
</Content>