<?xml version="1.0" encoding="utf-8"?>
<Content Key="410c8a8b-d3d8-4ccf-8b78-f4ae34e77e68" Alias="Umeloppet-KM Skidor 40 km 20250202" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/UmeloppetKMSkidor40Km20250202</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-01-15T12:15:30</CreateDate>
    <NodeName Default="Umeloppet-KM Skidor 40 km 20250202" />
    <SortOrder>36</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "4983cd1f-d6a8-46d8-8ed6-28e79b4c18ad",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umeloppet-KM Skidor 40 km 20250202"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EKM Skidor 40 km 2 februari i samband med Umeloppet.\u003C/p\u003E\n\u003Cp\u003E\u00C5ldersklasser; -40, 41-54. 55-64, 65\u002B.\u003C/p\u003E\n\u003Cp\u003EInga s\u00E4rskilda f\u00F6ranm\u00E4lningar, Prisutdelning vid Jalles \u00E5rsm\u00F6te senare i v\u00E5r.\u003C/p\u003E\n\u003Cp\u003E\u0026nbsp;\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=500\u0026amp;height=375\u0022 alt=\u0022\u0022 width=\u0022500\u0022 height=\u0022375\u0022 data-udi=\u0022umb://media/94753e452f6d419f99869d4339bdb502\u0022\u003E\u003C/p\u003E\n\u003Cp\u003EVi h\u00E4lsar samtidigt Fredrik \u00C5berg v\u00E4lkommen till Jalles TC.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=377\u0026amp;height=500\u0022 alt=\u0022\u0022 width=\u0022377\u0022 height=\u0022500\u0022 data-udi=\u0022umb://media/5a6eabd06a0a4ea9b311d5d6c5a459d9\u0022\u003E\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "4983cd1f-d6a8-46d8-8ed6-28e79b4c18ad",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "4983cd1f-d6a8-46d8-8ed6-28e79b4c18ad",
        "contentUdi": "umb://element/4983cd1fd6a846d88ed628e79b4c18ad",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "e41914c9-8949-4000-9ba8-3acbe5b0fd8a",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "e41914c9-8949-4000-9ba8-3acbe5b0fd8a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "e41914c9-8949-4000-9ba8-3acbe5b0fd8a",
        "contentUdi": "umb://element/e41914c9894940009ba83acbe5b0fd8a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umeloppet-KM Skidor 40 km 20250202]]></Value>
    </title>
  </Properties>
</Content>