<?xml version="1.0" encoding="utf-8"?>
<Content Key="75f3857d-a982-44b4-a218-28165759fe72" Alias="Umemaran" Level="2">
  <Info>
    <Parent Key="7413c529-9252-43e8-acb8-2d78ff492a94">Jalles</Parent>
    <Path>/Jalles/Umemaran</Path>
    <Trashed>false</Trashed>
    <ContentType>secondaryListingPage</ContentType>
    <CreateDate>2023-08-19T17:08:52</CreateDate>
    <NodeName Default="Umemaran" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <block>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "54af0080-5ed7-4ebd-b42c-3466ed6ed762",
      "key": "62a57b82-79ab-46f8-bf81-f8a9725a9aa3",
      "udi": null,
      "values": [
        {
          "alias": "pins",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "umb://document/f59184165e7d42379d490b2d06a919b5,umb://document/c5922aafad7e4c6facd53fd9e2726a4d,umb://document/5b5b2f5d29fb4da1afce2c6dc0f06ca3"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "62a57b82-79ab-46f8-bf81-f8a9725a9aa3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "62a57b82-79ab-46f8-bf81-f8a9725a9aa3",
        "contentUdi": "umb://element/62a57b8279ab46f8bf81f8a9725a9aa3",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </block>
    <displayedCategories>
      <Value><![CDATA[[
  "Resultat",
  "Historia",
  "Statistik"
]]]></Value>
    </displayedCategories>
    <displayTitle>
      <Value><![CDATA[1]]></Value>
    </displayTitle>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "54ef41a4-55e2-4be5-b0a4-8429c893eaad",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "60919112-de91-4d4f-839e-900295841c63",
              "mediaKey": "742606b1-c36a-41e7-b8b5-3307132aa299",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 1
        },
        {
          "alias": "subHeading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "54ef41a4-55e2-4be5-b0a4-8429c893eaad",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "54ef41a4-55e2-4be5-b0a4-8429c893eaad",
        "contentUdi": "umb://element/54ef41a455e24be5b0a48429c893eaad",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <mainCategory>
      <Value><![CDATA[Umemaran]]></Value>
    </mainCategory>
    <metaDescription>
      <Value><![CDATA[go go umemaran]]></Value>
    </metaDescription>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umemaran]]></Value>
    </title>
  </Properties>
</Content>