<?xml version="1.0" encoding="utf-8"?>
<Content Key="f01c4181-bbcc-45a9-a557-079d87fe7b3e" Alias="Umemaran 2024" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Umemaran2024</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-05-02T09:18:08</CreateDate>
    <NodeName Default="Umemaran 2024" />
    <SortOrder>24</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "f0431efe-c23f-4590-a940-d722215f3ce6",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Umemaran l\u00F6r 12 oktober 2024"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E51:a Umemaran\u003C/p\u003E\n\u003Cp\u003EVeteran-SM\u003C/p\u003E\n\u003Cp\u003EVi \u00E4r glada \u00F6ver att ha f\u00E5tt ytterligare en samarbetspartner - Nordic Wellness\u003C/p\u003E\n\u003Cp\u003EDetaljerad inbjudan kommer i juni.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;height=500\u0022 alt=\u0022Umemaran 2024\u0022 width=\u0022370\u0022 height=\u0022500\u0022 data-udi=\u0022umb://media/de2d236f8e8d4e80a48e7677b427502b\u0022\u003E\u0026nbsp;\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f0431efe-c23f-4590-a940-d722215f3ce6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f0431efe-c23f-4590-a940-d722215f3ce6",
        "contentUdi": "umb://element/f0431efec23f4590a940d722215f3ce6",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "T\u00E4vlingar",
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "8b9e0474-cc94-4bf2-a037-5f2cb66ee1b9",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "8b9e0474-cc94-4bf2-a037-5f2cb66ee1b9",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "8b9e0474-cc94-4bf2-a037-5f2cb66ee1b9",
        "contentUdi": "umb://element/8b9e0474cc944bf2a0375f2cb66ee1b9",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Umemaran Lör 12 oktober 2024]]></Value>
    </title>
  </Properties>
</Content>