<?xml version="1.0" encoding="utf-8"?>
<Content Key="621fc6be-85c8-4664-b85e-81686a9ea414" Alias="Våra medlemmar är ute i världen och springer!" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/VaaraMedlemmarAerUteIVaerldenOchSpringer</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-11-27T16:58:22</CreateDate>
    <NodeName Default="Våra medlemmar är ute i världen och springer!" />
    <SortOrder>20</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "2466d9d2-9ea5-4761-b8a7-42912486e705",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "V\u00E5ra medlemmar \u00E4r ute i v\u00E4rlden och springer!"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u00A0\u003C/p\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E\n\u003Cp\u003EUlf Wiklund, Jalles TC har i h\u00F6st sprungit Palermo International Halfmarathon p\u00E5 Sicilien. Hans tid blev 1.47.\u003C/p\u003E\n\u003Cp\u003E\u003Cimg src=\u0022?rmode=max\u0026amp;width=364\u0026amp;height=449\u0022 alt=\u0022Ulf Wiklund\u0022 width=\u0022364\u0022 height=\u0022449\u0022 data-udi=\u0022umb://media/9251b116023944cb8caf7c21a335c9ab\u0022\u003E\u003C/p\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E\n\u003Cp\u003EBirgitta Lanhede, Jalles TC gick \u00E5rets upplaga av New York City Marathon. Hon kom i m\u00E5l p\u00E5 6.43.44. Tio \u00E5r tidigare sprang hon samma lopp p\u00E5 n\u00E4sta dubbel s\u00E5 snabb tid - 3.26.03\u003C/p\u003E\n\u003Cp\u003E\u00A0\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2466d9d2-9ea5-4761-b8a7-42912486e705",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2466d9d2-9ea5-4761-b8a7-42912486e705",
        "contentUdi": "umb://element/2466d9d29ea54761b8a742912486e705",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "61ed3ca6-90fc-4e35-9386-672381a4a4e3",
      "udi": null,
      "values": []
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "61ed3ca6-90fc-4e35-9386-672381a4a4e3",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "61ed3ca6-90fc-4e35-9386-672381a4a4e3",
        "contentUdi": "umb://element/61ed3ca690fc4e359386672381a4a4e3",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Våra medlemmar är ute i världen och springer!]]></Value>
    </title>
  </Properties>
</Content>