<?xml version="1.0" encoding="utf-8"?>
<Content Key="8e3c2908-221a-4a44-8489-b42410ccd5a6" Alias="Verksamhetsberättelse 2024" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/Verksamhetsberaettelse2024</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-04-28T06:59:03</CreateDate>
    <NodeName Default="Verksamhetsberättelse 2024" />
    <SortOrder>39</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f159ee40-ef8d-4b24-ad82-70afa97c2ffc",
      "key": "b63d22d2-8848-4649-b402-430e7f5040d4",
      "udi": null,
      "values": [
        {
          "alias": "attachments",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "contentData": [
              {
                "contentTypeKey": "57bef20d-50f4-4546-b3f9-2e6cad493cf5",
                "key": "d487537f-9805-4b0e-a8fb-ab7a423296f3",
                "udi": null,
                "values": [
                  {
                    "alias": "title",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "Verksamhetsber\u00E4ttelse 2024"
                  },
                  {
                    "alias": "file",
                    "culture": null,
                    "editorAlias": null,
                    "segment": null,
                    "value": "umb://media/44dbb45198c94d0582a55c6bf9f339d2"
                  }
                ]
              }
            ],
            "settingsData": [],
            "expose": [
              {
                "contentKey": "d487537f-9805-4b0e-a8fb-ab7a423296f3",
                "culture": null,
                "segment": null
              }
            ],
            "Layout": {
              "Umbraco.BlockList": [
                {
                  "contentKey": "d487537f-9805-4b0e-a8fb-ab7a423296f3",
                  "contentUdi": "umb://element/d487537f98054b0ea8fbab7a423296f3",
                  "settingsKey": null,
                  "settingsUdi": null
                }
              ]
            }
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b63d22d2-8848-4649-b402-430e7f5040d4",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b63d22d2-8848-4649-b402-430e7f5040d4",
        "contentUdi": "umb://element/b63d22d288484649b402430e7f5040d4",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "52161d89-26dd-47c1-9d83-6df72c56e08a",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "52161d89-26dd-47c1-9d83-6df72c56e08a",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "52161d89-26dd-47c1-9d83-6df72c56e08a",
        "contentUdi": "umb://element/52161d8926dd47c19d836df72c56e08a",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Verksamhetsberättelse 2024]]></Value>
    </title>
  </Properties>
</Content>