<?xml version="1.0" encoding="utf-8"?>
<Content Key="93ec8321-d0d4-4924-8fde-32a9b5f2d9eb" Alias="Vinnare Umemaran 2023" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/VinnareUmemaran2023</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2023-10-08T12:05:17</CreateDate>
    <NodeName Default="Vinnare Umemaran 2023" />
    <SortOrder>18</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "5644a637-f785-476b-ab0e-7be16adaa8b1",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare av Umemaran 2023 42 km "
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare av Umemaran 2023 42 km "
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a05c4e54-c648-4bb7-87e8-e0ce5b7a3a7a",
              "mediaKey": "afc5ead1-2656-4256-8506-04014feba557",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            },
            {
              "key": "90a3210d-5e3a-47e9-a2bf-ee76a4475add",
              "mediaKey": "d7ad62f0-aa2a-4ebb-9994-a1503f40fd82",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "ffeb19",
            "label": "ffeb19",
            "sortOrder": 2,
            "id": "3"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "db29a25e-f343-4b87-b2bb-6803d806ab98",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Herrar: Sean Arthur McGrory Irland Damer: Malin Skoog IFK Ume\u00E5"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u00D6vriga foton finns p\u00E5 Jalles TC Facebook\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "3df919b6-159b-4c4d-aaea-9b1abadb8a6b",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare Umemaran 21 km"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare Umemaran 21 km"
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c6b4656a-4ecb-4539-b5f1-838259fc4839",
              "mediaKey": "58f9c61e-89c5-44cb-8b61-711e3837c0c3",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fff8ad",
            "label": "fff8ad",
            "sortOrder": 1,
            "id": "2"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "c10f67e7-043f-4a2c-9dda-018d97593fb8",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Herrar: Linus Jansson H\u00E4llbybrunns IF Damer: Hannah Langelotz Myggans OS"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "5644a637-f785-476b-ab0e-7be16adaa8b1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "db29a25e-f343-4b87-b2bb-6803d806ab98",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "3df919b6-159b-4c4d-aaea-9b1abadb8a6b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "c10f67e7-043f-4a2c-9dda-018d97593fb8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "5644a637-f785-476b-ab0e-7be16adaa8b1",
        "contentUdi": "umb://element/5644a637f785476bab0e7be16adaa8b1",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "db29a25e-f343-4b87-b2bb-6803d806ab98",
        "contentUdi": "umb://element/db29a25ef3434b87b2bb6803d806ab98",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "3df919b6-159b-4c4d-aaea-9b1abadb8a6b",
        "contentUdi": "umb://element/3df919b6159b4c4daaea9b1abadb8a6b",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "c10f67e7-043f-4a2c-9dda-018d97593fb8",
        "contentUdi": "umb://element/c10f67e7043f4a2c9dda018d97593fb8",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "2d62dcd9-dd0c-4c0c-87d7-7278aa472960",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "852fa7e2-cd59-4f54-9491-2053a94fd26a",
              "mediaKey": "3c523a58-677a-42e5-b207-378066f48c08",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "0"
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2d62dcd9-dd0c-4c0c-87d7-7278aa472960",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2d62dcd9-dd0c-4c0c-87d7-7278aa472960",
        "contentUdi": "umb://element/2d62dcd9dd0c4c0c87d77278aa472960",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Vinnare Umemaran 42 km 2023]]></Value>
    </title>
  </Properties>
</Content>