<?xml version="1.0" encoding="utf-8"?>
<Content Key="772f40d1-11bf-41c0-92e1-2dd7835e6a84" Alias="Vinnare Umemaran 2025 42 KM" Level="3">
  <Info>
    <Parent Key="c764a2ff-a9b8-4491-b84c-d89e30fc17b1">Aktuellt</Parent>
    <Path>/Jalles/Aktuellt/VinnareUmemaran202542KM</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2025-10-20T04:46:38</CreateDate>
    <NodeName Default="Vinnare Umemaran 2025 42 KM" />
    <SortOrder>46</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <blocks>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "701ee2a9-b366-428f-b749-de910ca49ab7",
      "key": "2bc07b83-9004-459c-9e58-039fa0ea2f8b",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare Umemaran 2025 42 km"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Vinnare Umemaran 2025 42 km"
        },
        {
          "alias": "imageGallery",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "464df491-03df-424e-ba8f-f7fcafade665",
              "mediaKey": "321a9cc3-fd1c-45b6-a113-50a888f48b69",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "value": "fff8ad",
            "label": "fff8ad",
            "sortOrder": 1,
            "id": "2"
          }
        }
      ]
    },
    {
      "contentTypeKey": "9d79fbb7-8d4f-42ad-8acf-385060f8a877",
      "key": "a7631cd7-cc6c-4555-a4a8-220f30a0fc59",
      "udi": null,
      "values": [
        {
          "alias": "heading",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Ludvig Werkm\u00E4ster \u0026 Sofia Lindberg TTGU IF"
        },
        {
          "alias": "text",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "2bc07b83-9004-459c-9e58-039fa0ea2f8b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a7631cd7-cc6c-4555-a4a8-220f30a0fc59",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "2bc07b83-9004-459c-9e58-039fa0ea2f8b",
        "contentUdi": "umb://element/2bc07b839004459c9e58039fa0ea2f8b",
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a7631cd7-cc6c-4555-a4a8-220f30a0fc59",
        "contentUdi": "umb://element/a7631cd7cc6c4555a4a8220f30a0fc59",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blocks>
    <categories>
      <Value><![CDATA[[
  "Umemaran"
]]]></Value>
    </categories>
    <header>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "363c7263-aaab-4354-be7e-7f0a2c104382",
      "key": "81f586d4-fb9d-4095-8d7f-f5a48f2b6ed5",
      "udi": null,
      "values": [
        {
          "alias": "media",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "backgroundColor",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": ""
        },
        {
          "alias": "addBlurOverlay",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": 0
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "81f586d4-fb9d-4095-8d7f-f5a48f2b6ed5",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "81f586d4-fb9d-4095-8d7f-f5a48f2b6ed5",
        "contentUdi": "umb://element/81f586d4fb9d40958d7ff5a48f2b6ed5",
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </header>
    <metaDescription>
      <Value><![CDATA[]]></Value>
    </metaDescription>
    <publishedDate>
      <Value><![CDATA[]]></Value>
    </publishedDate>
    <thumbnail>
      <Value><![CDATA[[]]]></Value>
    </thumbnail>
    <title>
      <Value><![CDATA[Vinnare Umemaran 2025]]></Value>
    </title>
  </Properties>
</Content>