.menu-container {
  position: fixed;
  top: $spacing-standard;
  z-index: $z-index-main-menu;
  margin-right: 2rem;

  a {
    color: $color-off-white;
    text-decoration: none;
  }

  .menu {
    margin-top: $spacing-standard;
    padding: $spacing-small $side-margins $spacing-small;
    max-width: 100%;
    border-radius: $border-radius;
    background-color: $color-taupe;
    color: $color-off-white;

    .open-menu-button {
      display: flex;
      align-items: center;
      width: 100%;
      color: $color-off-white;
      font-size: 1.5rem;
    }

    .menu-items {
      display: none;
      padding: 0;
      padding-top: $spacing-standard;
      margin: 0;
      width: 100%;
      list-style: none;
      color: $color-off-white;

      li {
        margin-bottom: $spacing-standard;

        a {
          padding: 0.5rem 1rem;
          background-color: transparent;
          border-radius: $border-radius-small;

          &.current {
            background-color: $active-link-bg-color;
          }
        }

        .facebook {
          img {
            height: 2rem;
          }
        }
      }

      &.show {
        display: block;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .menu-container {
    display: flex;
    justify-content: center;

    padding: 1rem $side-margins-desktop 1rem;
    width: 100%;

    font-size: $font-size-small-desktop;

    .menu {
      @include desktop-container-content;

      .open-menu-button {
        display: none;
      }

      .menu-items {
        display: flex;
        gap: $spacing-large;

        padding: 0;
        margin: 0;

        li {
          margin-bottom: 0;
          margin: auto;
        }

        &.show {
          display: flex;
        }
      }
    }
  }
}
