.media {
  position: relative;

  overflow: hidden;
  background-size: cover;
  background-position: center;

  &.blur {
    @include blur-by-absolute-fill;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  video {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
