.text-blocks-collection-block {
  margin: $spacing-vertical-medium $side-margins;
  overflow-wrap: break-word;

  .content-container {
    .text-blocks {
      .text-block:first-child {
        h2, h3 {
          margin-top: 0;
        }
      }
    }

    .cta-block {
      justify-content: center;
      padding-top: $spacing-vertical-medium;

      a {
        @include button-on-light-background;

        &:not(:first-child) {
          @include button-secondary-on-light-background;
        }
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .text-blocks-collection-block {
    margin: $spacing-vertical-medium-desktop $side-margins-desktop;

    .content-container {
      @include desktop-container-content;
      @include desktop-container-grid;

      .text-blocks {
        grid-column: span 12;
        grid-row: 1;
        margin: 0 auto;
      }

      .cta-block {
        grid-column: span 12;
        grid-row: 2;
        margin: 0 auto;
      }
    }
  }
}
