<?xml version="1.0" encoding="utf-8"?>
<MediaType Key="7bfa9eaa-7949-4858-a198-2b317d96458e" Alias="sponsor" Level="1">
  <Info>
    <Name>Sponsor</Name>
    <Icon>icon-medal color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <Compositions />
  </Info>
  <GenericProperties>
    <GenericProperty>
      <Key>34fc4952-961a-4590-9f37-ca274cfa611e</Key>
      <Name>Sponsor Logo</Name>
      <Alias>sponsorLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>45e911cb-81b6-4307-82fe-e475258f8fd8</Key>
      <Name>Sponsor Name</Name>
      <Alias>sponsorName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4798166e-f8fa-4d36-b317-a5a6fa196d9c</Key>
      <Name>Sponsor Website</Name>
      <Alias>sponsorWebsite</Alias>
      <Definition>e93b258d-3b82-43fc-ac4d-795256ed87a9</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="sponsor">Sponsor</Tab>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Structure />
  <Tabs>
    <Tab>
      <Key>869e0e3e-c44f-4462-9d46-ff150a47d6d3</Key>
      <Caption>Sponsor</Caption>
      <Alias>sponsor</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</MediaType>