<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="e9b5b57f-6009-4d5e-871e-8b1f381bc02a" Alias="Daniel A" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/DanielA</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:07</CreateDate>
    <NodeName Default="Daniel A" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pg0ll0ij/daniel-a.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>