<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="5676bd72-828b-4fd1-a08d-4f16a817fe88" Alias="Gudrun E" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/GudrunE</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:10</CreateDate>
    <NodeName Default="Gudrun E" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/os4hmvul/gudrun-e.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>