<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="f97a66fb-9513-4ca0-a062-6f880c006fd4" Alias="Ica" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ica</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T20:10:25</CreateDate>
    <NodeName Default="Ica" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/5vthv4it/ica.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>