<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="adf1d970-c44f-493c-bc99-f4fd5b79f4f3" Alias="Jalles TC Adelskalender (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JallesTCAdelskalender1</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-11T22:11:56</CreateDate>
    <NodeName Default="Jalles TC Adelskalender (1)" />
    <SortOrder>66</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ndmpdlkp/adelskalender.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>