<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="b4fd7763-d311-4cdb-972e-be896a8abf8f" Alias="Jalles TC Adelskalender" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JallesTCAdelskalender</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2023-11-11T14:16:33</CreateDate>
    <NodeName Default="Jalles TC Adelskalender" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pn1p1nar/jalles-tc-adelskalender.xlsx]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>