<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="dc2ca28c-c678-4c32-8a07-9f6fcb34b929" Alias="NLM 78 Danny F O Jalle" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NLM78DannyFOJalle</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-08-07T13:18:54</CreateDate>
    <NodeName Default="NLM 78 Danny F O Jalle" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rkrczxdy/nlm-78-danny-f-o-jalle.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>