<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="f9e67750-fe88-49d6-aa84-7f4340124c0b" Alias="Norra Skog" Level="2">
  <Info>
    <Parent Key="a33bfe80-de36-43c7-9233-1b961b716d23">Sponsors</Parent>
    <Path>/Sponsors/NorraSkog</Path>
    <Trashed>false</Trashed>
    <ContentType>sponsor</ContentType>
    <CreateDate>2023-09-06T20:11:20</CreateDate>
    <NodeName Default="Norra Skog" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <sponsorLogo>
      <Value><![CDATA[[
  {
    "key": "dc1348e5-6a57-4a14-b44e-cc5b7097f2a8",
    "mediaKey": "eea3ea0c-270e-4e77-b4f5-6f1307cd9994"
  }
]]]></Value>
    </sponsorLogo>
    <sponsorName>
      <Value><![CDATA[Norra Skog]]></Value>
    </sponsorName>
    <sponsorWebsite>
      <Value><![CDATA[]]></Value>
    </sponsorWebsite>
  </Properties>
</MediaBlock>