<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="43fcf38f-a89a-4d7a-8c11-f5cd17b3f039" Alias="Rune S" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/RuneS</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T18:10:13</CreateDate>
    <NodeName Default="Rune S" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rhzpyq20/rune-s.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>