<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="8ff97764-1093-4f68-a09a-c7b132d14c9c" Alias="Svensk Friidrott Distrikt Norrnorrland Rgb" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SvenskFriidrottDistriktNorrnorrlandRgb</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T20:10:27</CreateDate>
    <NodeName Default="Svensk Friidrott Distrikt Norrnorrland Rgb" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mj1ptd2t/svensk-friidrott-distrikt-norrnorrland-rgb.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>