<?xml version="1.0" encoding="utf-8"?>
<MediaBlock Key="a912f18b-ad6c-4b3c-9ef2-bebac95972f4" Alias="Umemaran Kopia Grå (1)" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/UmemaranKopiaGraa1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2023-09-06T20:15:01</CreateDate>
    <NodeName Default="Umemaran Kopia Grå (1)" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rxybfklm/umemaran-kopia-graa.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</MediaBlock>