.excel-block {
  margin: $spacing-vertical-medium $side-margins;

  .container {
    width: 100%;

    .extra-scroller {
      width: 100%;
      border: none;
      overflow-x: scroll;
      overflow-y: hidden;
      height: 20px;

      div {
        width: 1000px;
        height: 20px;
      }
    }

    .table-wrapper {
      overflow-x: auto;

      table {
        width: 100%;
        border-collapse: collapse;
        overflow: hidden;
        border-radius: $border-radius;

        thead {
          display: table-header-group;
          background-color: $color-taupe;
          font-weight: $font-weight-bold;
          color: $color-jalles-yellow;
          white-space: nowrap;

          tr {
            display: table-row;

            th {
              padding: $spacing-small $spacing-standard;
              line-height: $font-line-height;
              font-size: $font-size;
              text-align: left;
              writing-mode: vertical-rl;
              text-transform: uppercase;
              border: none;
            }
          }
        }

        tbody {
          display: table-row-group;

          tr {
            display: table-row;

            &:hover {
              background-color: $color-battleship-more-muted !important;
            }

            td {
              padding: $spacing-small $spacing-standard;
              line-height: $font-line-height;
              font-size: $font-size;
              text-align: left;
              border: none;

              &:nth-child(even) {
                background-color: $color-vanilla-more-muted;
              }

              &:hover {
                background-color: $color-vanilla !important;
              }
            }

            &:nth-child(even) {
              background-color: $color-vanilla-muted;
            }
          }
        }
      }

      .highlight-column {
        background-color: $color-battleship-more-muted !important;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  .excel-block {
    @include desktop-container-content;
    @include desktop-container-grid;
    margin: $spacing-vertical-medium-desktop $side-margins-desktop;

    h2 {
      grid-row: 1;
      grid-column: 3 / 11;
    }

    .container {
      grid-column: 3 / 11;
      width: 100%;
    }
  }
}
