footer {
  padding: $spacing-vertical-medium $side-margins;

  background-color: $color-taupe;
  color: $color-off-white;
  text-align: center;

  p {
    margin: 0 auto;
    max-width: $text-max-width;
  }

  span {
    color: $color-battleship-gray;
    font-size: $font-size-small;
  }

  .content {
    display: flex;
    justify-content: center;
    gap: $spacing-large;

    padding: $spacing-vertical-small;

    .umemaran {
      display: flex;
      flex-direction: column;
      gap: $spacing-small;

      margin: 0;
      padding: 0;

      list-style: none;

      h2 {
        margin: 0;
        font-size: $font-size;
        color: $color-battleship-gray;
      }

      img {
        width: 8rem;
      }
    }
  }
}

@media only screen and (min-width: $screen-min-desktop) {
  footer {
    padding: $spacing-vertical-medium-desktop $side-margins-desktop;

    .content {
      @include desktop-container-content;
      align-items: center;

      .umemaran {
        flex-direction: row;
        align-items: center;

        gap: $spacing-large;
      }
    }
  }
}
