.text-block-container, .attachment-block-container {
  margin: $spacing-vertical-medium $side-margins;

  .text-block, .attachment-block {
    overflow-wrap: break-word;

    h1 {
      font-size: $font-size-heading-medium;
      line-height: $font-line-height-heading;
    }

    h1, h2, h3 {
      max-width: $text-max-width-large;
    }

    a {
      @include link-with-color;
      font-weight: $font-weight-bold;
    }

    p {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
      }
    }

    figure {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;

      img {
        max-width: 100%;
        height: auto;
        border-radius: $border-radius;
      }

      figcaption {
        color: $foreground-color-secondary;
      }
    }

    ul, ol {
      margin-left: $spacing-vertical-small;
      padding-inline-start: $spacing-small;
      max-width: $text-max-width;

      li {
        padding: 0 0 $spacing-standard $spacing-small;
        line-height: $font-line-height;

        ul, ol {
          padding-top: $spacing-small;
        }
      }
    }

    ul {
      li {
        list-style-image: url('../images/arrow-right.svg');
      }
    }

    .embedded-video-container {
      @include embedded-video;
    }
  }
}


@media only screen and (min-width: $screen-min-desktop) {
  .text-block-container, .attachment-block-container {
    @include desktop-container-content;
    @include desktop-container-grid;
    margin: $spacing-vertical-medium-desktop $side-margins-desktop;

    .text-block, .attachment-block {
      grid-column: 3 / 11;
      width: 100%;
    }
  }
}
