<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="363c7263-aaab-4354-be7e-7f0a2c104382" Alias="headerBlock" Level="3">
  <Info>
    <Name>Header Block</Name>
    <Icon>icon-planet color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Sidhuvud Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="f91c5003-87bb-4df5-9584-0b0f4628a591">mediaProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>