<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="dda08392-6122-4ea9-bb64-3626deed49d2" Alias="highlightBlock" Level="3">
  <Info>
    <Name>Highlight Block</Name>
    <Icon>icon-light-up color-pink</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="79c4a3b6-fc73-4f7e-8c7f-63762887a5e7">highlightBlockProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>