<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="701ee2a9-b366-428f-b749-de910ca49ab7" Alias="imageGalleryBlock" Level="3">
  <Info>
    <Name>Image Gallery Block</Name>
    <Icon>icon-pictures-alt color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="ac373dbd-f52d-42ff-992d-7617755f5750">imageGalleryProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>