<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="56a67423-182b-4522-95d0-d4878aebd570" Alias="listingPage" Level="2">
  <Info>
    <Name>Listing Page</Name>
    <Icon>icon-bulleted-list color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="8d2de493-eb6b-4cd9-aee7-66680f173735">basePageProperties</Composition>
      <Composition Key="943239c7-b68f-4b9d-b3be-ac7e42c9a0f6">thumbnailProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="a00c5be9-414e-4607-a320-9202cbf72448" SortOrder="0">contentPage</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>c3be9a5a-6479-48b3-a8af-1acaea334f2f</Key>
      <Name>Display Title</Name>
      <Alias>displayTitle</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b35f22cc-420b-409e-be36-5c07d9a16225</Key>
      <Name>Header</Name>
      <Alias>header</Alias>
      <Definition>74d20515-60a0-4269-9692-81beaf110596</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b3f9cb69-771c-412b-b464-2b86fa041ded</Key>
      <Name>Highlights</Name>
      <Alias>highlights</Alias>
      <Definition>c95ea832-5601-45e2-a10f-3c2b1013506e</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>79c4473b-c461-4af5-b313-e4aa9f3c6b81</Key>
      <Name>Pages</Name>
      <Alias>pages</Alias>
      <Definition>a41b7170-805a-47ed-82e3-f0edf4245237</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="baseProperties">Base Properties</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>6313067b-3079-4331-aee0-c45c568a2373</Key>
      <Caption>Base Properties</Caption>
      <Alias>baseProperties</Alias>
      <Type>Tab</Type>
      <SortOrder>10</SortOrder>
    </Tab>
  </Tabs>
</ContentType>