<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="451616ef-088b-4949-a1c7-1f792b4811cb" Alias="mainMenuProperties" Level="2">
  <Info>
    <Name>Main Menu Properties</Name>
    <Icon>icon-defrag color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>38a92c94-97a9-46e7-bf6c-8258f0c09b7e</Key>
      <Name>Facebook</Name>
      <Alias>facebook</Alias>
      <Definition>aa2d8add-11b0-4f4d-9b7d-ab4e99cdc04a</Definition>
      <Type>Umbraco.Community.Contentment.SocialLinks</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Länk till facebook]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="mainMenu">Main Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>8974e49f-7019-40ff-bdd3-82d579ab7501</Key>
      <Name>Main Menu</Name>
      <Alias>mainMenu</Alias>
      <Definition>028af383-1356-4188-8011-afe77c3da39e</Definition>
      <Type>Umbraco.Community.Contentment.DataList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Huvudmeny]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="mainMenu">Main Menu</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>573756a0-110f-40d8-bd2a-2242bb4059fb</Key>
      <Caption>Main Menu</Caption>
      <Alias>mainMenu</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>