<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f91c5003-87bb-4df5-9584-0b0f4628a591" Alias="mediaProperties" Level="2">
  <Info>
    <Name>MediaBlock Properties</Name>
    <Icon>icon-defrag color-lime</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>4f15e118-29f0-4697-a1dd-ae4bb1e32dc2</Key>
      <Name>Add Blur Overlay?</Name>
      <Alias>addBlurOverlay</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Markera den här rutan om du vill lägga till ett suddigt lager på mediat]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="media">MediaBlock</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>f1e92e45-1455-44d9-8c6f-81146cefa34d</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>7923af79-7921-4150-ba76-6dae611e40e1</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj en bakgrundsfärg för media.
Detta kommer endast att visas om det inte är valt någon annan form av media.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="media">MediaBlock</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5dbd7994-4915-430d-8e44-a08f5ca2ce34</Key>
      <Name>MediaBlock</Name>
      <Alias>media</Alias>
      <Definition>4309a3ea-0d78-4329-a06c-c80b036af19a</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj media. Om varken media eller bakgrundsfärg väljs kommer standardbilden att visas]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="media">MediaBlock</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>eb5c633e-bdad-4983-8a86-b433390b2fde</Key>
      <Caption>MediaBlock</Caption>
      <Alias>media</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>