<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f6d1d032-15e0-4e0e-92e2-5822b0a9ca36" Alias="secondaryHighlightBlock" Level="3">
  <Info>
    <Name>Secondary Highlight Block</Name>
    <Icon>icon-light-up color-deep-purple</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="ae948fbf-254e-462b-8d84-bd4ad991891b">secondaryHighlightBlockProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>