<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae948fbf-254e-462b-8d84-bd4ad991891b" Alias="secondaryHighlightBlockProperties" Level="2">
  <Info>
    <Name>Secondary Highlight Block Properties</Name>
    <Icon>icon-defrag color-orange</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>27af5b1d-4ba5-4aa6-a18a-3d7e4cf11374</Key>
      <Name>Background Color</Name>
      <Alias>backgroundColor</Alias>
      <Definition>7923af79-7921-4150-ba76-6dae611e40e1</Definition>
      <Type>Umbraco.ColorPicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="highlights">Highlights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>4ba34332-db5a-41ed-ac66-b04e248b488c</Key>
      <Name>Highlights</Name>
      <Alias>highlights</Alias>
      <Definition>18a41c01-a221-4c0f-9cd2-85b3590a4136</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Add up to 3 highlights.
Only Content Pages will be rendered.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="highlights">Highlights</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>a25b5616-650e-49d4-878f-ffc478635fb4</Key>
      <Caption>Highlights</Caption>
      <Alias>highlights</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>