<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8faea3cb-c46b-4bba-936e-6e20c2dfaa94" Alias="startPage" Level="2">
  <Info>
    <Name>Start Page</Name>
    <Icon>icon-home color-amber</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="79c1a06c-c869-400f-bd47-9a8e06755460">titleProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="9af2df73-4e8f-4181-a360-994f8cda2e78" SortOrder="0">xmlSiteMap</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>