<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f159ee40-ef8d-4b24-ad82-70afa97c2ffc" Alias="attachmentBlock" Level="3">
  <Info>
    <Name>Attachment Block</Name>
    <Icon>icon-attachment color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Bifogade filer Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>ed39aced-cbd7-440b-8590-df3607d1ecf0</Key>
      <Name>Bifogade filer</Name>
      <Alias>attachments</Alias>
      <Definition>f85c751a-9951-4ec4-91ae-53a39e3e9978</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="bifogadeFiler">Bifogade Filer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>d983110a-6d1e-4eb9-8702-c5085ba398dc</Key>
      <Caption>Bifogade Filer</Caption>
      <Alias>bifogadeFiler</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>