<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="74d6b0b8-b30f-445b-8f68-0bca0135f720" Alias="contentBlock" Level="3">
  <Info>
    <Name>Content Block</Name>
    <Icon>icon-layout color-green</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Innehålls Block</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Blocks</Folder>
    <Compositions>
      <Composition Key="a28e46e6-b66f-4e80-a253-ff2e644c5787">contentBlockProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>