<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="943239c7-b68f-4b9d-b3be-ac7e42c9a0f6" Alias="thumbnailProperties" Level="2">
  <Info>
    <Name>Thumbnail Properties</Name>
    <Icon>icon-defrag color-yellow</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>7494d7bd-c486-4623-97eb-b276c96e9392</Key>
      <Name>Thumbnail</Name>
      <Alias>thumbnail</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Välj miniatyrbild/delningsbild för sidan.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="thumbnail">Thumbnail</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>3a18f65f-a919-409f-9e52-63a757619f06</Key>
      <Caption>Thumbnail</Caption>
      <Alias>thumbnail</Alias>
      <Type>Tab</Type>
      <SortOrder>40</SortOrder>
    </Tab>
  </Tabs>
</ContentType>